<%= form_tag("/disposecall", method: "POST") do |f| %>
 <%= hidden_field_tag :callednumber, @calledno%> 
  <%= hidden_field_tag :mobile, @mobile%> 
 <%= hidden_field_tag :customer_id, @customer_id %>
   <%= hidden_field_tag :orderid, @order_id %>
  <%= hidden_field_tag :employee_id, @empid %>
  <%= hidden_field_tag :employee_code, @empcode %>
   
   <div class="row">
                            
                             <div class="col-xs-12">  
         <%=  select_tag "interaction_category_id", options_from_collection_for_select(@interactiondisposelist, "id", "name"), {:label => "Priority", :class => "form-control"}  %>

                            </div>
                            
                        </div>
 
  <br>
  <div class="row">
      <div class="col-xs-5 col-xs-offset-7">
        <%= submit_tag "Close / Dispose", class: "btn btn-primary" %>
      </div>
    
  </div>
<% end %>