

<% if @interaction_masters.present? %>


<div class="digg_pagination">
    <%= will_paginate @interaction_masters, :container => false %>
</div>

<table class="table table-hover">
  
    
 

 <thead>
    <% @interaction_masters.each do |interaction_master| %>
      <tr>
        <th>Created: <%= interaction_master.createdon.strftime("%d-%b-%Y") rescue nil %></th>
        <th>Resolve by: <%= interaction_master.resolveby.strftime("%d-%b-%Y") rescue nil %></th>
        <th>Status:<%= interaction_master.interaction_status.internal_description %></th>
        <th>Category: <%= interaction_master.interaction_category.name %></th>
        <th>By: <%= interaction_master.employee.name || "Na" if interaction_master.employee %></th>  
        <th>Mobile: <%= interaction_master.mobile%></th>

        <th><%= link_to 'More...', interaction_master, class: "btn btn-primary btn-xs" %></th>
       
       
      </tr>
       </thead>
       <tbody>
      <tr>
      <td colspan="6">
         <% if interaction_master.interaction_transcript.present? %>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Comments by</th>
                <th>Details</th>
                
              </tr>
            </thead>

            <tbody>
              <% interaction_master.interaction_transcript.each do |interaction_transcript| %>
                <tr>
                  <td>
                  <%= interaction_transcript.interaction_user.name if interaction_transcript.interaction_user %> <br>
          <small> <%= interaction_transcript.created_at + 330.minutes %> </small> <br>

          <%= interaction_transcript.employee.name if interaction_transcript.employee %>
           </td>
                  <td><%= interaction_transcript.description %></td>
                  
                </tr>
              <% end %>
            </tbody>
          </table>
<% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="digg_pagination">
    <%= will_paginate @interaction_masters, :container => false %>
</div>

<% end %>