
  
<%= form_tag("/newticket", method: "POST") do |f| %>
 <%= hidden_field_tag :callednumber, @calledno%> 
  <%= hidden_field_tag :mobile, @mobile%> 
 <%= hidden_field_tag :customer_id, @customer_id %>
   <%= hidden_field_tag :orderid, @order_id %>
    <%= hidden_field_tag :employee_id, @empid %>
  <%= hidden_field_tag :employee_code, @empcode %>
   <div class="row">
                             
                             <div class="col-xs-8">  
         <%=  select_tag "interaction_category_id", options_from_collection_for_select(@interactioncategorylist, "id", "name"), {:label => "Priority", :class => "form-control"}  %>

                            </div>
                             <div class="col-xs-2">
                           <%=  select_tag "interaction_priority_id", options_from_collection_for_select(@interactionprioritylist, "id", "name"), {:label => "Priority", :class => "form-control"}  %>
                              </div>
                        </div>
  <br>
 
  <div class="row">
                            
                             <div class="col-xs-10 "> 
                                <%= text_area_tag :description, nil, {:class => "form-control", :placeholder => "Details of problem as explained by the customers own words"}%>
                             </div>
    
  </div>
  <br>
  <div class="row">
      <div class="col-xs-2 col-xs-offset-8">
        <%= submit_tag "Close / Dispose", class: "btn btn-primary" %>
      </div>
    
  </div>
<% end %>

