
<div class="row">
  <div class="col-xs-4">
  		<div class="row"> 
		  	<%= bootstrap_form_tag url: dealer_enquiry_path, :method => :GET, :enforce_utf8 => false do |f| %>
			<div class="col-xs-10">
			<%= text_field_tag(:for_date, nil, :data => {:provide => "datepicker"}, :class => "form-control", :required => "true", :placeholder => 'Created On' )   %>
			</div>
			<div class="col-xs-2">
		        <%= submit_tag "Ok", name: nil,  class: "btn btn-primary" %>
		    </div>

		    <% end %>
		</div>
  </div>
   <div class="col-xs-2">
 
  </div>
  <div class="col-xs-6">
  <div class="row">
<%= bootstrap_form_tag url: dealer_enquiry_path, :method => :GET, :enforce_utf8 => false do |f| %>
<div class="col-xs-6">
<%= select_tag(:category, 
    options_from_collection_for_select(@interactioncategorylist, :id, :name, selected: @categoryid), 
    {:class => "form-control"})  %>
</div>
<div class="col-xs-4">
<%= select_tag(:status, 
    options_from_collection_for_select(@interactionstatuslist, :id, :internal_description, selected: @statusid), 
    {:class => "form-control"})  %>
</div>

<div class="col-xs-2">
        <%= submit_tag "Ok", name: nil,  class: "btn btn-primary" %>
      </div>

      <% end %>
  </div>
  
</div>
</div>
<br>
<div class="well well-sm">
<div class="row">
  <div class="col-xs-12">
<h3><%= @category_name %>  interactions</h3>
  </div>
  </div>
</div>
<%= render "list" %>

<br>


