<table class="table table-hover">
  <thead>
    <tr>
      <th>Created on</th>
      <th>Resolve by</th>
      <th>Interaction status</th>
      <th>Customer</th>
      <th>Interaction category</th>
      <th>Product variant</th>
      <th>Order</th>
      <th>Interaction priority</th>
      <th>Campaign playlist</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interaction_masters.each do |interaction_master| %>
      <tr>
        <td><%= interaction_master.createdon %></td>
        <td><%= interaction_master.resolveby %></td>
        <td><%= interaction_master.interaction_status.internal_description if interaction_master.interaction_status %></td>
        <td><%= interaction_master.customer_id %></td>
        <td><%= interaction_master.interaction_category.name if interaction_master.interaction_category %></td>
        <td><%= interaction_master.product_variant.name rescue nil %></td>
        <td><%= interaction_master.order.total rescue nil%></td>
        <td><%= interaction_master.interaction_priority.name if interaction_master.interaction_priority  %></td>
        <td><%= interaction_master.campaign_playlist.name rescue nil %></td>
      
        <td><%= link_to 'Show', interaction_master %></td>
        <td><%= link_to 'Edit', edit_interaction_master_path(interaction_master) %></td>
        <td><%= link_to 'Destroy', interaction_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>