<%= bootstrap_form_for(@product_master_add_on) do |f| %>
  <% if @product_master_add_on.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_master_add_on.errors.count, "error") %> prohibited this product_master_add_on from being saved:</h2>

      <ul>
      <% @product_master_add_on.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   
    <%= f.hidden_field :product_master_id %>

 
  <div class="row">
    <div class="col-xs-9">
     <%= f.select :product_list_id,  options_from_collection_for_select(@productspecificaddonlist,
       :id, :productlistdetails, :selected => @product_master_add_on.product_list_id),
             { label: "Select these product which can be sold as Specific Add Ons" } %>
    </div>
    <div class="col-xs-3">
      <%= f.number_field :sort_order, :label => "Sort order (Lowest comes First)", :placeholder => "1 / 2 / 3" %>
    </div>
  </div>
  <div class="field">
     <%= f.select :activeid,  options_from_collection_for_select(@productactivecode,
       :id, :name),
             { label: "Select the Product Active Status" } %>
 
  </div>

<div class="field">
     <%= f.select :replace_by_product_id,  options_from_collection_for_select(@productreplaceaddonlist,
       :id, :productlistdetails, :selected => @product_master_add_on.replace_by_product_id),
             { label: "Select these Main product which would be replaced on Specific Add On Selected Above (Hint the above product would be priced more than the current one)", prompt: "Please select if you need to replace the product"} %>
 
  </div>

    <%= f.hidden_field :change_price %>
  
 <div class="row">
  <div class="col-xs-3 col-md-offset-8">
    <%= f.primary class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
