<% if @specificproductaddonlist.present? %>
<div class="well">
<table class="table table-hover table-bordered">
<thead>
    <tr>
        <th colspan="2">Product Can be Added</th>
     
      
    </tr>
  </thead>
   <tbody>
    <% @specificproductaddonlist.each do |p| %>
      <tr>
        <td>
  <strong>     <%= p.product_list.productlistdetails if p.product_list  %>
</strong>
<br>
 <%= p.product_list.product_variant.description if p.product_list.product_variant %>
   
    
   </td>
        
        <td>
<%= form_tag("/addbasicupsellproducts", method: "POST") do |f| %>
<%= hidden_field_tag :order_id, @order_id %>
<%= hidden_field_tag :product_list_id, p.product_list_id %>
<%= hidden_field_tag :pieces, 1 %>
<%= submit_tag "Add to Order", name: nil, class: "btn btn-success btn-sm" %>
       
<% end %>
        </td>
       
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
<p>No Add on available for products ordered </p>
<% end %>