  <thead>
    <tr>
      <th colspan="10"> <h4> <%= daily_task_frequency %> </h4></th>
    </tr>
  </thead>
  <tbody>
    <% daily_tasks.each do |daily_task| %>

	<tr>
		<td>
		<div class="row">
			<div class="col-xs-8"><h4>
				<strong><%= daily_task.name %></strong> </h4> </div>
				<div class="col-xs-2">Frequency: <%= daily_task.frequency %> </div>
				<div class="col-xs-1"><%= link_to 'More Details', daily_task, 
					class:"btn btn-primary btn-xs" %></div>
		</div>
		<div class="row">
			<div class="col-xs-8"><small>Parameters: <%= daily_task.parameters %></small> </div>
			<div class="col-xs-2"><%= daily_task.manager %> </div>
			<div class="col-xs-2">Status: <%= daily_task.status %> </div>
			<div class="col-xs-2"><%= daily_task.department %> </div>
		</div>
		<div class="well well-sm">
			<div class="row">
				<div class="col-xs-2"><p class="lead"><%= daily_task.sort_order %></p> </div>
				<div class="col-xs-1"><strong>Syntax</strong> </div>
				<div class="col-xs-9"><strong><%= daily_task.syntax %></strong> </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1"><strong>Description</strong> </div>
			<div class="col-xs-11"><%= daily_task.description %></div>
		</div>
	</td>
	</tr>	
      
    <% end %>
  </tbody>