<div class="row">
   <%= form_tag  url_for(:controller => 'product_stock_books', :action => searchaction), method: "get" do  %>

      <div class="col-xs-5">
		  <% if @productlist.present? %>
        <%= select_tag(:barcode,
                       options_from_collection_for_select(@productlist, :list_barcode, :productinfo, selected: @barcode), {:class => "form-control"} )  %>
					   <% else %>
					   Showing all products
					   <% end %>
      </div>

      <div class="col-xs-4">
        <div class="input-daterange input-group">
          <%= text_field_tag(:from_date, @from_date_text, :data => {:provide => "datepicker"}, :id => "datepicker1", :class => "form-control", :required => "true" )   %>
          <span class="input-group-addon">to</span>
          <%= text_field_tag(:to_date, @to_date_text, :data => {:provide => "datepicker"}, :id => "datepicker2", :class => "form-control", :required => "true" )  %>
        </div>
      </div>
      <% if @show_all_tag.present? %>
      <div class="col-xs-1"><%= check_box_tag :show_all, "show_all", @show_all %>
        <%= label_tag "All" %>
      </div>
      <% end %>
      <div class="col-xs-2">
        <%= submit_tag "Ok", name: nil, class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
<script>
$('#datepicker1').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker2').datepicker({format: 'yyyy-mm-dd'});
</script>
