<div class="row">
  <%= form_tag("/stockbook", method: "get") do  %>
      <div class="col-xs-6">
        <%= select_tag(:prod,
                       options_from_collection_for_select(@productmasterlist, :extproductcode, :productlistname, selected: @prod), {:class => "form-control"} )  %>
      </div>
      <div class="col-xs-4">
        <div class="input-daterange input-group">
          <%= text_field_tag(:from_date, nil, :data => {:provide => "datepicker"}, :class => "form-control", :required => "true" )   %>
          <span class="input-group-addon">to</span>
          <%= text_field_tag(:to_date, nil, :data => {:provide => "datepicker"}, :class => "form-control", :required => "true" )  %>
        </div>
      </div>

      <div class="col-xs-2">
        <%= submit_tag "Ok", name: nil, class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
