<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-2">
    <h3>Stock Book</h3>

  </div>
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-12"><small>These are Products On Sale 
       <%= link_to "click here to view", product_lists_path, :target => "_blank" %>
       . The barcode is shown in bracket is relevant stock unit e.g (00013) </small></div>
      <div class="col-xs-12"><%= render('search') %> </div>
    </div>

  </div>
</div>

<br>
<% if @product_stock_books.present? %>


<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th rowspan="3" colspan="1">Date</th>
    <th rowspan="2" colspan="1">Opening</th>
    <th rowspan="2" colspan="2">Purchased</th>
    <th colspan="6">Returned </th>
    <th colspan="6">Sold </th>
    <th rowspan="2" colspan="2">Corrections</th>
    <th rowspan="2" colspan="1">Closing</th>
     <th rowspan="1" colspan="2">Show</th>
  </tr>
  <tr>
    <th colspan="2">Retail </th>
    <th colspan="2">wholesale</th>
    <th colspan="2">Branch</th>
    <th colspan="2">Retail</th>
    <th colspan="2">Wholesale</th>
    <th colspan="2">Branch</th>
  </tr>
  <tr>
    <th>Qty</th>
   
    <th>Qty</th>
    <th>Value</th>
    <th>Qty</th>
    <th>Value</th>
    <th>Qty</th>
    <th>Value</th>
    <th>Qty</th>
    <th>Value</th>
    <th>Qty</th>
    <th>Value</th>
    <th>Qty</th>
    <th>Value</th>
    <th>Qty</th>
    <th>Value</th>
    <th>Qty</th>
    <th>Value</th>
    <th>Qty</th>
    
  </tr>
  </thead>

  <tbody>
    <% @product_stock_books.each do |product_stock_book| %>
      <tr>
        <td><%= product_stock_book.stock_date.strftime('%d-%b-%Y') %>         </td>
        <td class="text-right">
         <%= link_to product_stock_book.opening_qty, openingstockreport_path(prod: @prod, for_date: product_stock_book.stock_date.strftime('%m/%d/%Y')), :target => "_blank" %>
     </td>
       
        <td class="text-right">
        <%= link_to product_stock_book.purchased_qty, purchasedstockreport_path(prod: @prod, for_date: product_stock_book.stock_date.strftime('%m/%d/%Y')), :target => "_blank" %>
       
        </td>
        <td class="text-right"><%= product_stock_book.purchased_value %></td>
        <td class="text-right"><%= link_to product_stock_book.returned_retail_qty, retailreturnedreport_path(prod: @prod, for_date: product_stock_book.stock_date.strftime('%m/%d/%Y')), :target => "_blank" %>
        </td>
        <td class="text-right"><%= product_stock_book.returned_retail_value %></td>
        <td class="text-right"><%= link_to product_stock_book.returned_wholesale_qty, wholesalereturnreport_path(prod: @prod, for_date: product_stock_book.stock_date.strftime('%m/%d/%Y')), :target => "_blank" %>
        </td>
        <td class="text-right"><%= product_stock_book.returned_wholesale_value %></td>
        <td class="text-right"><%= product_stock_book.returned_others_qty %></td>
        <td class="text-right"><%= product_stock_book.returned_others_value %></td>
        <td class="text-right">
          <%= link_to product_stock_book.sold_retail_qty, retailsoldreport_path(prod: @prod, for_date: product_stock_book.stock_date.strftime('%m/%d/%Y')), :target => "_blank" %>
          </td>
        <td class="text-right"><%= product_stock_book.sold_retail_value %></td>
        <td class="text-right">
        <%= link_to product_stock_book.sold_wholesale, wholesalesoldreport_path(prod: @prod, for_date: product_stock_book.stock_date.strftime('%m/%d/%Y')), :target => "_blank" %>
        
        </td>
        <td class="text-right"><%= product_stock_book.sold_wholesale_value %></td>
        <td class="text-right">
        <%= link_to product_stock_book.sold_branch_qty, branchsoldreport_path(prod: @prod, for_date: product_stock_book.stock_date.strftime('%m/%d/%Y')), :target => "_blank" %>
        
        </td>
        <td class="text-right"><%= product_stock_book.sold_branch_value %></td>
        <td class="text-right">
        <%= link_to product_stock_book.corrections_qty, correctionstockreport_path(prod: @prod, for_date: product_stock_book.stock_date.strftime('%m/%d/%Y')), :target => "_blank" %>
       
        </td>
        <td class="text-right"><%= product_stock_book.corrections_value %></td>
        <td class="text-right"><%= product_stock_book.closing_qty %></td>
        <td><%= link_to 'Show', product_stock_book, class: "btn btn-info btn-xs", :target => "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>
<% if @show_add_update == 1 %>
<%= link_to 'Download CSV Stock Book', product_stock_books_path(prod: @prod, from_date: @or_from_date, to_date: @or_to_date , format: :csv), class: "btn btn-info btn-sm" %>
<br>
<br>
<%= render('create_list') %>


<br>


<!-- Today's Date <%= @prev_datelist %> -->
<% end %>
<br>
<br>
<small>List of Dates: <%= @datelist %></small>