<p id="notice"><%= notice %></p>
<div class="well">
<div class="row">
<div class="col-xs-3">
  <strong>
    <%= @product_stock_book.stock_date.strftime("%d-%b-%Y") %></strong>
  </div>
  <div class="col-xs-3">
    <strong>
  <%= @product_stock_book.product_master.name if @product_stock_book.product_master%></strong>
  </div>
  <div class="col-xs-3">
     <strong>PROD:</strong>
    <%= @product_stock_book.ext_prod_code %>
  </div>
   <div class="col-xs-3">
    <strong>BARCODE:</strong>
  <%= @product_stock_book.list_barcode %>
  </div>
</div>
</div>
<br>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
    <th>
      
    </th>
      <th >
        Description
      </th>
      <th class="text-right">
        Quantity
      </th>
       <th class="text-right">
        Values
      </th>
       <th class="text-right">
        Rate
      </th>
       <th class="text-right">
       
      </th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
    <td>Base</td>
    <td>
     <strong> Opening qty:</strong>
      </td>
       <td class="text-right">
       <%= @product_stock_book.opening_qty %>
      </td>
       <td class="text-right">
        <%= @product_stock_book.opening_value %>
      </td>
       <td class="text-right">
       <%= @product_stock_book.opening_rate %>
      </td>
      <td class="text-right">
        
      </td>
    </tr>
    <tr>
    <td>Add (+)</td>
    <td>
        <strong>Purchased qty:</strong>
      </td>
       <td class="text-right">
       <%= @product_stock_book.purchased_qty %>
      </td>
        <td class="text-right"> 
        <%= @product_stock_book.purchased_value %>
      </td>
       <td class="text-right">
      <%= @product_stock_book.purchased_rate %>
      </td>
      <td class="text-right">
       
      </td>
    </tr>
     <tr>
      <td>Add (+)</td>
    <td>
       <strong>Returned retail qty:</strong>
      </td>
       <td class="text-right">
        <%= @product_stock_book.returned_retail_qty %>
      </td>
        <td class="text-right">
         <%= @product_stock_book.returned_retail_value %>
      </td>
       <td class="text-right">
        <%= @product_stock_book.returned_retail_rate %>
      </td>
      <td class="text-right">
       
      </td>
    </tr>
    <tr>
     <td>Add (+)</td>
    <td>
       <strong>Returned wholesale qty:</strong>
      </td>
       <td class="text-right">
       <%= @product_stock_book.returned_wholesale_qty %>
      </td >
        <td class="text-right">
        <%= @product_stock_book.returned_wholesale_value %>
      </td>
       <td class="text-right">
       <%= @product_stock_book.returned_wholesale_rate %>
      </td>
      <td class="text-right">
      
      </td>
    </tr>
    <tr>
     <td>Add (+)</td>
    <td>
       <strong>Returned others qty:</strong>
      </td>
       <td class="text-right">
       <%= @product_stock_book.returned_others_qty %>
      </td>
        <td class="text-right">
       <%= @product_stock_book.returned_others_value %>
      </td>
       <td class="text-right">
      <%= @product_stock_book.returned_others_rate %>
      </td>
      <td class="text-right">
        
      </td>
    </tr>
        <tr>
         <td>Less (-)</td>
    <td>
       <strong>Sold retail qty:</strong>
      </td>
       <td class="text-right">
        <%= @product_stock_book.sold_retail_qty %>
      </td>
        <td class="text-right">
       <%= @product_stock_book.sold_retail_value %>
      </td>
       <td class="text-right">
     <%= @product_stock_book.sold_retail_rate %>
      </td>
      <td class="text-right">
       
      </td>
    </tr>
       <tr>
       <td>Less (-)</td>
    <td>
      <strong>Sold wholesale:</strong>
      </td>
       <td class="text-right">
        <%= @product_stock_book.sold_wholesale %>
      </td>
        <td class="text-right">
       <%= @product_stock_book.sold_wholesale_value %>
      </td>
       <td class="text-right">
     <%= @product_stock_book.sold_wholesale_rate %>
      </td>
      <td class="text-right">
        
      </td>
    </tr>
      <tr>
      <td>Less (-)</td>
    <td>
     <strong>Sold branch qty:</strong>
      </td>
       <td class="text-right">
      <%= @product_stock_book.sold_branch_qty %>
      </td>
        <td class="text-right">
       <%= @product_stock_book.sold_branch_value %>
      </td>
       <td class="text-right">
    <%= @product_stock_book.sold_branch_rate %>
      </td>
      <td class="text-right">
        
      </td>
    </tr>
        <tr>
        <td>Adjust (+/-)</td>
    <td>
     <strong>Corrections qty:</strong>
      </td>
       <td class="text-right">
     <%= @product_stock_book.corrections_qty %>
      </td>
        <td class="text-right">
       <%= @product_stock_book.corrections_value %>
      </td>
       <td class="text-right">
    <%= @product_stock_book.corrections_rate %>
      </td>
      <td class="text-right">
        
      </td>
    </tr>
    <tr>
    <td>Final</td>
    <td>
    <strong>Closing qty:</strong>
      </td>
       <td class="text-right">
        <%= @product_stock_book.closing_qty %>
      </td>
        <td class="text-right">
        <%= @product_stock_book.closing_value %>
      </td>
       <td class="text-right">
        <%= @product_stock_book.closing_rate %>
      </td>
      <td class="text-right">
        
      </td>
    </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_product_stock_book_path(@product_stock_book) %> |
<%= link_to 'Back', product_stock_books_path %>
