<p id="notice"><%= notice %></p>
<div class="well">
<div class="row">
<div class="col-xs-2">
  <strong>
    <%= @product_stock_book.stock_date.strftime("%d-%b-%Y") %></strong>
  </div>
  <div class="col-xs-3">
    <strong>
  <%= @product_stock_book.productinfo %></strong>
  </div>
    <div class="col-xs-2">
    <strong>BARCODE:</strong>
  <%= @product_stock_book.list_barcode %>
  </div>
  <div class="col-xs-1">
     <strong>PROD:</strong>
     </div>
      <div class="col-xs-4">
   <ul class="list-inline">
 <% @prod.each do |c| %>
  <li>
<%= c  %> &nbsp; 
  </li>
  <% end %>
</ul>
  </div>
 
</div>
</div>
<br>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
    <th>
      
    </th>
    <th>
        Data Table
      </th>
      <th >
        Description
      </th>
      <th class="text-right">
        Pieces
      </th>
       <th class="text-right">
        Pieces Total
      </th>
       <th class="text-right">
        Value
      </th>
       <th class="text-right">
       Value Total
      </th>
    </tr>
  </thead>
  <tbody>
        <tr>
    <td>No Table</td>
    <td>Previous Date</td>
    <td>
     <strong> Closing qty:</strong>
      </td>
       <td class="text-right">
       <%= @prev_closing_stock %>
      </td>
       <td class="text-right">
        
      </td>
       <td class="text-right">
       
      </td>
      <td class="text-right">
        
      </td>
    </tr>
    <tr>
    <td>No Table</td>
    <td>Base</td>
    <td>
     <strong> Opening qty:</strong>
      </td>
       <td class="text-right">
       <%= @product_stock_book.opening_qty %>
       <% @running_total = @product_stock_book.opening_qty %>
      </td>
       <td class="text-right">
       <%= @running_total %>
      </td>
       <td class="text-right">
      
      </td>
      <td class="text-right">
        
      </td>
    </tr>
    <tr>
     <td>No Table</td>
    <td>Add (+)</td>
    <td>
        <strong>Purchased qty:</strong>
      </td>
       <td class="text-right">
       <%= @product_stock_book.purchased_qty %>
         <% @running_total += @product_stock_book.purchased_qty %>
      </td>
        <td class="text-right"> 
       <%= @running_total %>
      </td>
       <td class="text-right">
        
      </td>
      <td class="text-right">
       
      </td>
    </tr>
     <tr>
      <td>No Table</td>
      <td>Add (+)</td>
    <td>
       <strong>Returned retail qty:</strong>
      </td>
       <td class="text-right">
        <%= @product_stock_book.returned_retail_qty %>
        <% @running_total += @product_stock_book.returned_retail_qty %>
      </td>
        <td class="text-right">
         <%= @running_total %>
      </td>
       <td class="text-right">
       
      </td>
      <td class="text-right">
       
      </td>
    </tr>
    <tr>
     <td>No Table</td>
     <td>Add (+)</td>
    <td>
       <strong>Returned wholesale qty:</strong>
      </td>
       <td class="text-right">
       <%= @product_stock_book.returned_wholesale_qty %>
       <% @running_total += @product_stock_book.returned_wholesale_qty %>
      </td >
        <td class="text-right">
       <%= @running_total %>
      </td>
       <td class="text-right">
      
      </td>
      <td class="text-right">
      
      </td>
    </tr>
    <tr>
     <td>No Table</td>
     <td>Add (+)</td>
    <td>
       <strong>Returned others qty:</strong>
      </td>
       <td class="text-right">
       <%= @product_stock_book.returned_others_qty %>
       <% @running_total += @product_stock_book.returned_others_qty %>
      </td>
        <td class="text-right">
      <%= @running_total %>
      </td>
       <td class="text-right">
      
      </td>
      <td class="text-right">
        
      </td>
    </tr>
        <tr>
         <td>No Table</td>
         <td>Less (-)</td>
    <td>
       <strong>Sold retail qty:</strong>
      </td>
       <td class="text-right">
        <%= @product_stock_book.sold_retail_qty %>
        <% @running_total -= @product_stock_book.sold_retail_qty %>
      </td>
        <td class="text-right">
       <%= @running_total %>
      </td>
       <td class="text-right">
     
      </td>
      <td class="text-right">
       
      </td>
    </tr>
       <tr>
        <td>No Table</td>
       <td>Less (-)</td>
    <td>
      <strong>Sold wholesale:</strong>
      </td>
       <td class="text-right">
        <%= @product_stock_book.sold_wholesale %>
        <% @running_total -= @product_stock_book.sold_wholesale %>
      </td>
        <td class="text-right">
       <%= @running_total %>
      </td>
       <td class="text-right">
     
      </td>
      <td class="text-right">
        
      </td>
    </tr>
      <tr>
       <td>No Table</td>
      <td>Less (-)</td>
    <td>
     <strong>Sold branch qty:</strong>
      </td>
       <td class="text-right">
      <%= @product_stock_book.sold_branch_qty %>
      <% @running_total -= @product_stock_book.sold_branch_qty %>
      </td>
        <td class="text-right">
      <%= @running_total %>
      </td>
       <td class="text-right">
   
      </td>
      <td class="text-right">
        
      </td>
    </tr>
        <tr>
        <td>No Table</td>
        <td>Adjust (+/-)</td>
    <td>
     <strong>Corrections qty:</strong>
      </td>
       <td class="text-right">
     <%= @product_stock_book.corrections_qty %>
     <% @running_total -= @product_stock_book.corrections_qty %>
      </td>
        <td class="text-right">
      <%= @running_total %>
      </td>
       <td class="text-right">
    
      </td>
      <td class="text-right">
        
      </td>
    </tr>
    <tr>
    <td>No Table</td>
    <td>Final</td>
    <td>
    <strong>Closing qty:</strong>
      </td>
       <td class="text-right">
        <%= @product_stock_book.closing_qty %>
      </td>
        <td class="text-right">
        <%= @running_total %>
      </td>
       <td class="text-right">
        
      </td>
      <td class="text-right">
        
      </td>
    </tr>
  </tbody>
</table>


