<p id="notice"><%= notice %></p>

<p>
  <strong>Stock date:</strong>
  <%= @product_stock_book.stock_date %>
</p>

<p>
  <strong>Product master:</strong>
  <%= @product_stock_book.product_master_id %>
</p>

<p>
  <strong>Product list:</strong>
  <%= @product_stock_book.product_list_id %>
</p>

<p>
  <strong>Ext prod code:</strong>
  <%= @product_stock_book.ext_prod_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product_stock_book.name %>
</p>

<p>
  <strong>Opening qty:</strong>
  <%= @product_stock_book.opening_qty %>
</p>

<p>
  <strong>Opening rate:</strong>
  <%= @product_stock_book.opening_rate %>
</p>

<p>
  <strong>Opening value:</strong>
  <%= @product_stock_book.opening_value %>
</p>

<p>
  <strong>Purchased qty:</strong>
  <%= @product_stock_book.purchased_qty %>
</p>

<p>
  <strong>Purchased rate:</strong>
  <%= @product_stock_book.purchased_rate %>
</p>

<p>
  <strong>Purchased value:</strong>
  <%= @product_stock_book.purchased_value %>
</p>

<p>
  <strong>Returned retail qty:</strong>
  <%= @product_stock_book.returned_retail_qty %>
</p>

<p>
  <strong>Returned retail rate:</strong>
  <%= @product_stock_book.returned_retail_rate %>
</p>

<p>
  <strong>Returned retail value:</strong>
  <%= @product_stock_book.returned_retail_value %>
</p>

<p>
  <strong>Returned wholesale qty:</strong>
  <%= @product_stock_book.returned_wholesale_qty %>
</p>

<p>
  <strong>Returned wholesale rate:</strong>
  <%= @product_stock_book.returned_wholesale_rate %>
</p>

<p>
  <strong>Returned wholesale value:</strong>
  <%= @product_stock_book.returned_wholesale_value %>
</p>

<p>
  <strong>Returned others qty:</strong>
  <%= @product_stock_book.returned_others_qty %>
</p>

<p>
  <strong>Returned others rate:</strong>
  <%= @product_stock_book.returned_others_rate %>
</p>

<p>
  <strong>Returned others value:</strong>
  <%= @product_stock_book.returned_others_value %>
</p>

<p>
  <strong>Sold retail qty:</strong>
  <%= @product_stock_book.sold_retail_qty %>
</p>

<p>
  <strong>Sold retail rate:</strong>
  <%= @product_stock_book.sold_retail_rate %>
</p>

<p>
  <strong>Sold retail value:</strong>
  <%= @product_stock_book.sold_retail_value %>
</p>

<p>
  <strong>Sold wholesale:</strong>
  <%= @product_stock_book.sold_wholesale %>
</p>

<p>
  <strong>Sold wholesale rate:</strong>
  <%= @product_stock_book.sold_wholesale_rate %>
</p>

<p>
  <strong>Sold wholesale value:</strong>
  <%= @product_stock_book.sold_wholesale_value %>
</p>

<p>
  <strong>Sold branch qty:</strong>
  <%= @product_stock_book.sold_branch_qty %>
</p>

<p>
  <strong>Sold branch rate:</strong>
  <%= @product_stock_book.sold_branch_rate %>
</p>

<p>
  <strong>Sold branch value:</strong>
  <%= @product_stock_book.sold_branch_value %>
</p>

<p>
  <strong>Corrections qty:</strong>
  <%= @product_stock_book.corrections_qty %>
</p>

<p>
  <strong>Corrections rate:</strong>
  <%= @product_stock_book.corrections_rate %>
</p>

<p>
  <strong>Corrections value:</strong>
  <%= @product_stock_book.corrections_value %>
</p>

<p>
  <strong>Closing qty:</strong>
  <%= @product_stock_book.closing_qty %>
</p>

<p>
  <strong>Closing rate:</strong>
  <%= @product_stock_book.closing_rate %>
</p>

<p>
  <strong>Closing value:</strong>
  <%= @product_stock_book.closing_value %>
</p>

<%= link_to 'Edit', edit_product_stock_book_path(@product_stock_book) %> |
<%= link_to 'Back', product_stock_books_path %>
