<h3>Showing Details of <%= @route_details %></h3>

<% if @route == "opening_stock" %>
<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4">
		<h4>	Opening Stock  </h4> 
			
		</div>
		<div class="col-xs-2">
		
			 
		</div>
		<div class="col-xs-6">
		<h4>Total Opening Stock: <%= @opening_stock %> </h4>
		</div>
		
		</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<%= render 'product_stocks/list' %>
	</div>
</div>


<% end %>
<% if @route == "stock_journal" %>
<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4">
		<h4>	Journal Entries </h4> 
			
		</div>
		<div class="col-xs-3">
		
			
		</div>
		<div class="col-xs-3">
		<h4>
		Journal Total: <%= number_with_delimiter(@journal_total, locale: :en) %> </h4>
		</div>
		
		</div>
</div>
	<div class="row">
<div class="col-xs-12">
<%= render 'product_stock_adjusts/list' %>
</div>
</div>
   
<% end %>
<% if @route == "stock_purchases" %>
<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4 pull-left">
		<h4> 	Purchases <small>Rdate in Purchase_New</small>  </h4> 
		
		</div>
		<div class="col-xs-4">
		<h4> Total Pieces Bought: <%= @purchasespieces %> </h4>
		</div>
		<div class="col-xs-4">
		<h4> Total Amount: <%= number_with_delimiter(@purchasestotal, locale: :en) %> </h4>
		</div>
		
		</div>
	</div>
	<div class="row">
<div class="col-xs-12">
<%= render 'purchases_new/list' %>
</div>
</div>
   
<% end %>

<% if @route == "sold_retail" || @route == "returned_retail" %>


	<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4">
		<h4> 	Customer Sales <small>(shdate / returndate)</small> </h4> 
			
		</div>
		<div class="col-xs-4">
		<h4> Total Pieces Sold: <%= @retailsalespieces %> </h4> 
		</div>
		<div class="col-xs-4">
		<h4> Total Amount: <%= number_with_delimiter(@retailsalestotal, locale: :en) %> </h4> 
		</div>
		
		</div>
	</div>
   <%= render 'vpp/list' %>
<% end %>
<% if @route == "sold_wholesale" || @route == "returned_wholesale" %>
<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4">
		<h4>	Wholesale Sales <small>Shdate in NewWlsDet</small>  </h4>
			
		</div>
		<div class="col-xs-4">
		<h4>Total Pieces Sold: <%= @wholesalespieces %></h4>
		</div>
		<div class="col-xs-4">
		<h4>Total Amount: <%= number_with_delimiter(@wholesalestotal, locale: :en) %></h4>
		</div>
		
		</div>
</div>
<%= render 'newwlsdet/list' %>

<% end %>
<% if @route == "sold_branch" %>
<div class="well well-sm">
		<div class="row">
		<div class="col-xs-6">
		<h4>	Branch Sale / Transfer <small>Shdate in TEMPINV_NEWWLSDET</small>  </h4> 
			
		</div>
		<div class="col-xs-3">
		<h4>Total Pieces Sold: <%= @branchsalespieces %></h4>
		</div>
		<div class="col-xs-3">
		<h4>Total Amount: <%= number_with_delimiter(@branchsalestotal, locale: :en) %></h4>
		</div>
		
		</div>
</div>

<%= render 'tempinv_newwlsdet/list' %>

<% end %>