<h3>Listing order payment modes</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
       <th>Charges</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orderpaymentmodes.each do |orderpaymentmode| %>
      <tr>
        <td><%= orderpaymentmode.name %></td>
        <td><%= orderpaymentmode.charges %></td>
        <td><%= orderpaymentmode.description %></td>
        <td><%= link_to 'Show', orderpaymentmode %></td>
        <td><%= link_to 'Edit', edit_orderpaymentmode_path(orderpaymentmode) %></td>
        <td><%= link_to 'Destroy', orderpaymentmode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orderpaymentmode', new_orderpaymentmode_path %>
