<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><%= name_of_status_list %></h3></div>

      <% if app_feature_requests.present? %>
      <table class="table table-hover table-stripped">
        <thead>
		<tr>
          <th>Name</th>
          <th>Problem this Solves | Mandatory Requirements</th>
          <th>Request From</th>
	  	</tr>
		
        </thead>
        <tbody>
          <% app_feature_requests.each do |app_feature_request| %>
            <tr>
              <td rowspan="2"><strong><%=h truncate(app_feature_request.name, length: 30) %></strong> <br>
			  <%= link_to 'Edit', edit_app_feature_request_path(app_feature_request), class:"btn btn-primary btn-xs" %> | <%= link_to 'View', app_feature_request, class:"btn btn-link" %> 
			  </td>
              <td>
				  <%=h truncate(app_feature_request.problem_this_solves, length: 100) %>
			  </td>
              <td>
				  <%= app_feature_request.employee.fullname %>
			  </td>
            </tr>
			<tr> 
			  	
			  	<td><%=h truncate(app_feature_request.mandatory_requirements) %> 
				<small>Require by: <%= app_feature_request.require_by_date.strftime('%d-%b-%y') if app_feature_request.require_by_date %> </small>
				</td>
			  	<td><small>@<%= app_feature_request.created_at.strftime('%d-%b-%y') %></small></td>
			  	
			</tr>
            <% end %>
        </tbody>
      </table>
      <% else %>
      <h3>Nothing here</h3>
      <% end %>
    <div class="panel-footer">
      <p><%= about_the_list %></p>
    </div>
</div>
