<p id="notice"><%= notice %></p>

<p>
  <strong>Corporate:</strong>
  <%= @distributor_stock_book.corporate_id %>
</p>

<p>
  <strong>Product master:</strong>
  <%= @distributor_stock_book.product_master_id %>
</p>

<p>
  <strong>Product variant:</strong>
  <%= @distributor_stock_book.product_variant_id %>
</p>

<p>
  <strong>Product list:</strong>
  <%= @distributor_stock_book.product_list_id %>
</p>

<p>
  <strong>Prod:</strong>
  <%= @distributor_stock_book.prod %>
</p>

<p>
  <strong>Opening qty:</strong>
  <%= @distributor_stock_book.opening_qty %>
</p>

<p>
  <strong>Opening value:</strong>
  <%= @distributor_stock_book.opening_value %>
</p>

<p>
  <strong>10,2:</strong>
  <%= @distributor_stock_book.10,2 %>
</p>

<p>
  <strong>Sold qty:</strong>
  <%= @distributor_stock_book.sold_qty %>
</p>

<p>
  <strong>Sold value:</strong>
  <%= @distributor_stock_book.sold_value %>
</p>

<p>
  <strong>10,2:</strong>
  <%= @distributor_stock_book.10,2 %>
</p>

<p>
  <strong>Return qty:</strong>
  <%= @distributor_stock_book.return_qty %>
</p>

<p>
  <strong>Return value:</strong>
  <%= @distributor_stock_book.return_value %>
</p>

<p>
  <strong>10,2:</strong>
  <%= @distributor_stock_book.10,2 %>
</p>

<p>
  <strong>Closing qty:</strong>
  <%= @distributor_stock_book.closing_qty %>
</p>

<p>
  <strong>Closing value:</strong>
  <%= @distributor_stock_book.closing_value %>
</p>

<p>
  <strong>10,2:</strong>
  <%= @distributor_stock_book.10,2 %>
</p>

<p>
  <strong>Book date:</strong>
  <%= @distributor_stock_book.book_date %>
</p>

<p>
  <strong>List barcode:</strong>
  <%= @distributor_stock_book.list_barcode %>
</p>

<%= link_to 'Edit', edit_distributor_stock_book_path(@distributor_stock_book) %> |
<%= link_to 'Back', distributor_stock_books_path %>
