
<div class="row">
    <div class="col-xs-3">
   	 <%= form_tag  url_for(:controller => 'pending_orders', :action => 'index'), method: "get" do  %>
   		<div class="col-xs-8">
   			<%= text_field_tag(:manifest, @manifest, :placeholder => "Manifest", :class => "form-control", 
			:required => "true", :description => "Manifest")   %>
   		</div>
   		<div class="col-xs-4">
   				 <%= submit_tag "Show ", name: nil, class: "btn btn-primary" %>
   		</div>
   	 <% end %>
    </div>
	
	<div class="col-xs-3">
		<%= form_tag  url_for(:controller => 'pending_orders', :action => 'index'), method: "get" do  %>
		<div class="col-xs-8">
				<%= text_field_tag(:order_ref_no, @order_ref_no, :placeholder => "Order Ref No", 
				:class => "form-control", :required => "true")   %>
		</div>
		<div class="col-xs-4">
			<%= submit_tag "Show ", name: nil, class: "btn btn-primary" %>
		</div>
		<% end %>
 	</div>

 	<div class="col-xs-3">
	 	<%= form_tag  url_for(:controller => 'pending_orders', :action => 'index'), method: "get" do  %>
		<div class="col-xs-8">
				 <%= text_field_tag(:mobile_no, @mobile_no, :placeholder => "Mobile", :class => "form-control", :required => "true" )   %>
		</div>
		<div class="col-xs-4">
			 <%= submit_tag "Ok ", name: nil, class: "btn btn-primary" %>
		</div>
	 	<% end %>
 	</div>
	<div class="col-xs-3">
		<%= link_to 'Download CSV list', pending_orders_path(from_date: @from_date.strftime("%Y-%m-%d"), to_date: @to_date.strftime("%Y-%m-%d"), payumoney_status_id: @payumoney_status_id, format: :csv), class: "btn btn-success btn-sm" %>
	</div>
	

</div>
