<%= form_for(@change_log_type) do |f| %>
  <% if @change_log_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@change_log_type.errors.count, "error") %> prohibited this change_log_type from being saved:</h2>

      <ul>
      <% @change_log_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
