<p id="notice"><%= notice %></p>

<h1>Listing Campaign Play List Statuses</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_play_list_statuses.each do |campaign_play_list_status| %>
      <tr>
        <td><%= campaign_play_list_status.name %></td>
        <td><%= campaign_play_list_status.description %></td>
        <td><%= link_to 'Show', campaign_play_list_status %></td>
        <td><%= link_to 'Edit', edit_campaign_play_list_status_path(campaign_play_list_status) %></td>
        <td><%= link_to 'Destroy', campaign_play_list_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign play list status', new_campaign_play_list_status_path, class: "btn btn-primary" %>
