<div class="row">
  <%= form_tag  url_for(:controller => searchaction, :action => searchaction), method: "get" do  %>
<%= hidden_field_tag :corporate_id, corporate_id %>
      <div class="col-xs-8">
        <div class="input-daterange input-group">
          <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker_from", :class => "form-control", :required => "true" )   %>
          <span class="input-group-addon">to</span>

           <%= text_field_tag(:to_date, @to_date, :data => {:provide => "datepicker"}, :id => "datepicker_to", :class => "form-control", :required => "true" )   %>

        </div>
      </div>

      <div class="col-xs-4">
        <%= submit_tag "Show Report", name: nil, class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
<script>
$('#datepicker_to').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker_from').datepicker({format: 'yyyy-mm-dd'});
</script>
