<div class="row">
<div class="col-xs-12">

<%= bootstrap_form_for(@distributor_stock_ledger) do |f| %>
    <% if @distributor_stock_ledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@distributor_stock_ledger.errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
      <% @distributor_stock_ledger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= hidden_field_tag :corporate_id, @corporate_id %>
<%= f.hidden_field :corporate_id %>
<%= f.hidden_field :product_variant_id %>
<%= f.hidden_field :product_master_id %>
<%= f.hidden_field :prod %>


<div class="row">

 <div class="col-xs-8">
    <%= f.select :product_list_id,  options_from_collection_for_select(@product_list,
       :id, :productname, selected: @distributor_stock_ledger.product_list_id ),
             {:prompt => 'No Stock Change', label: "Select the Product if required " } %>

  <!--%= f.select :product_master_id,  options_from_collection_for_select(@product_master,
       :id, :productname, selected: @distributor_stock_ledger.product_master_id ),
             {:prompt => 'No Stock Change', label: "Select the Product if required " } %-->
 </div>
  <div class="col-xs-4">

  <%= f.select :type_id,  options_from_collection_for_select(@distributor_stock_ledger_type,
       :id, :name, selected: @distributor_stock_ledger.type_id ),
        {:prompt => '-- Select Activity --', label: "Select the Type of Activity"},  :required => "true" %>

 </div>
 </div>
<div class="row">
 <div class="col-xs-6">
 <%= f.text_field :name, label: "Name of Entry", :required => "true" %>
 </div>
 <div class="col-xs-2">
  <%= f.text_field :ledger_date,  :data => {:provide => "datepicker"}, :id => "datepicker", :class => "form-control", label: "Date of Entry",  :required => "true"   %>
  </div>
  <div class="col-xs-4" id="stock_value">
    <%= f.number_field :stock_value,  label: "MIS Amount", :class => "form-control", :placeholder => "Value in Rs"  %>
  </div>
  <div class="col-xs-4" id="stock_nos">
    <%= f.number_field :stock_change,  min: -100, max: 100, step: 1, label: "Change Stock", :class => "form-control", :placeholder => "Select No"  %>
  </div>
 </div>

 <div class="form-inputs">
    <%= f.text_area :description, label: "Description of entry", :required => "true" %>
   </div>

  <div class="row">

  </div>


   <div class="col-xs-3">
        <%= submit_tag "Save Details", name: nil, class: "btn btn-primary" %>
      </div>
<% end %>
</div>
</div>
<script>
$('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
<script>
$(document).ready(function(){
   $("#stock_value").hide();
    $("#stock_nos").hide();

    $('#distributor_stock_ledger_type_id').on('change', function() {
      if ( this.value == '10000')
      {
      $("#stock_value").prop('required', true);
      $("#stock_value").show();
      $("#stock_value").prop("disabled", false);
      //
      //$("#stock_nos").removeAttr('required');​​​​​
      $("#stock_nos").hide();

      //window.alert("MIS Balance");
      }
      else if ( this.value == '10020')
      {
      $("#stock_value").prop('required', true);
      $("#stock_value").show();
      $("#stock_value").prop("disabled", false);
      //
      //$("#stock_nos").removeAttr('required');​​​​​
      $("#stock_nos").hide();

      //window.alert("MIS Balance");
      }
      else if ( this.value == '10002')
      {
      //$("#stock_value").removeAttr('required');​​​​​
      $("#stock_value").hide();
      //
      $("#stock_nos").attr('required', true);
      $("#stock_nos").prop("disabled", false);
      $("#stock_nos").show();
      //
      //window.alert("Stock Transfer");
      }
      else if ( this.value == '10001')
      {
      //$("#stock_value").removeAttr('required');​​​​​
      $("#stock_value").hide();
      //
      $("#stock_nos").attr('required', true);
      $("#stock_nos").prop("disabled", false);
      $("#stock_nos").show();
      //
      //window.alert("Stock Transfer");
      }
      else
      {
      $("#stock_value").hide();
      $("#stock_nos").hide();
      //window.alert("Reset");
      }
    });
});

</script>
