


<table class="table table-hover">
  <thead>
    <tr>
      <th>Ledger date</th>
      <th>Type</th>
      <th>Product</th>
      <th>Name<br>Description</th>
      <th>Stock<br>Value</th>
    </tr>
  </thead>

  <tbody>
    <% @distributor_stock_ledgers.each do |distributor_stock_ledger| %>
      <tr>
       <td><%= distributor_stock_ledger.ledger_date.strftime("%d-%b-%Y") %></td>
       <td> <%= distributor_stock_ledger.distributor_stock_ledger_type.name if distributor_stock_ledger.distributor_stock_ledger_type %></td>
        <td><%= distributor_stock_ledger.product_list.name if distributor_stock_ledger.product_list %></td>

        <td><strong><%= distributor_stock_ledger.name %></strong><br><%= distributor_stock_ledger.description %></td>
        <td> <%= distributor_stock_ledger.stock_change %><%= distributor_stock_ledger.stock_value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
