<div class="row">
    <div class="col-xs-6">
        <h3> <%= @corporate.name %> </h3>
        <p> <%= @corporate.rupee_balance %>  <%= @corporate.corporate_type.name if @corporate.corporate_type %></p>
        <p class="lead">Status: <%= @corporate.corporate_active_master.name if @corporate.corporate_active_master %></p>
    </div>
    <div class="col-xs-6">
     <p>  <%= @corporate.website %></p>
        <p> <strong>Telephone:</strong> <%= @corporate.telephone1 %></p>
        <p> <strong>Telephone:</strong> <%= @corporate.telephone2 %> </p>
        <p> <strong>Fax:</strong> <%= @corporate.fax %></p>
    </div>
</div>
<div class="row">
  <div class="col-xs-6">

  </div>
</div>
<hr>
<br>
<button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#distributorDetails" aria-expanded="false" aria-controls="distributorDetails">
  More Details
</button>
<div class="collapse" id="distributorDetails">
  <div class="well">
    <%= render partial: 'show_details' %>
  </div>
</div>
<hr>
<%= render partial: 'distributor_stock_ledgers/quick_list' %>
<button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#distributorLedger" aria-expanded="false" aria-controls="distributorLedger">
  New Stock Ledger
</button>
<div class="collapse" id="distributorLedger">
  <div class="well">
    <%= render partial: 'distributor_stock_ledgers/form' %>
  </div>
</div>


<%= link_to 'Back to Corporate', corporates_path, class:"btn btn-primary btn-sm" %>