<h1>Listing of all salutes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salutes.each do |salute| %>
      <tr>
        <td><%= salute.name %></td>
        <td><%= link_to 'Show', salute %></td>
        <td><%= link_to 'Edit', edit_salute_path(salute) %></td>
        <td><%= link_to 'Destroy', salute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salute', new_salute_path %>
