<%= bootstrap_form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	
	<div class="col-xs-2">

    
     <%= f.select(:title, 
    options_from_collection_for_select(Salute.all, :name, :name), 
    {})  %>
     </div>
 <div class="col-xs-4">

  
    <%= f.text_field :first_name %>
  </div>
   <div class="col-xs-4">

    <%= f.text_field :last_name %>
  </div>
  <div class="clearfix"> </div>
  <br/>
  <div class="col-xs-2">
  
    <%= f.text_field :employeecode %>
  </div>
  <div class="col-xs-4">
   
    <%= f.text_field :designation %>
  </div>
  <div class="col-xs-6">
   
    <%= f.text_field :location %>
  </div>
  <div class="col-xs-4">
   
    <%= f.text_field :mobile %>
  </div>
  <div class="col-xs-8">
    
    <%= f.text_field :emailid %>
  </div>
  
  <div class="col-xs-4">
     <%= f.select(:employment_type_id, 
    options_from_collection_for_select(EmploymentType.all, :id, :name, selected: @employee.employment_type_id), 
    {:prompt => 'Please Choose', label: " Employment Type"})  %>
   
  </div>
  <div class="col-xs-4">
     <%= f.select(:employee_role_id, 
    options_from_collection_for_select(EmployeeRole.all, :id, :name, selected: @employee.employee_role_id), 
    {:prompt => 'Please Choose', label: " Employee Role"})  %>
   
  </div>
  <div class="col-xs-4">
     <%= f.select(:reporting_to_id, 
    options_from_collection_for_select(Employee.all, :id, :fullname, selected: @employee.reporting_to_id), 
    {:prompt => 'Please Choose', label: " Reporting to"})  %>
    
  </div>
  <div class="col-xs-4">
   
    <%= f.check_box :enablelogin, label: " Enable Login" %>
   
  </div>
  <div class="col-xs-1">
   
  </div>
   <div class="clearfix"> </div>
  <div class="field">
   
    <%= f.text_area :description, label: " Employee Notes" %>
  </div>

<div class="row">
   <div class="col-xs-2 col-xs-offset-8">
  
  <%= f.submit class: "btn btn-primary" %>
  
  </div>
  </div>  
<% end %>
