<div class="panel panel-primary">
  <div class="panel-heading">
	  <div class="row">
		 <div class="col-xs-8"><h3 class="panel-title"><%= emp_name %></h3> </div>
		 <div class="col-xs-4"><h3 class="panel-title"> <% if emp_nos.present? %> Nos: <%= emp_nos %> <% end %> </h3></div>
  	  </div>	 
  </div>

 <% if employees.present? %>
	<table class="table table-hover">
  <thead>
    <tr>
    <th>Employee code</th>
      <th> Name</th>
      <th>Mobile  emailid</th>
      <th>Employment type</th>
      <th>Employee role</th>
      <th>Login</th>
    </tr>
  </thead>

  <tbody>
    <% employees.each do |employee| %>
      <tr>
        <td><%= employee.employeecode %> <%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= employee.fullname %> <br>
        <small>  <%= employee.designation %> <br>
        Reporting to: <%= employee.manager.fullname if employee.manager %>
        </small>
        </td>
      
         <td><%= employee.mobile %><br>
        <small><%= employee.emailid %></small></td>
        
        <td><%= employee.employment_type.name if employee.employment_type %></td>
        <td><%= employee.employee_role.name if employee.employee_role %></td>
         <td><%= employee.enablelogin %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>
 <% else %>
	<div class="well well-sm">
		<h4>No Employee for this role </h4>
	</div>
 <% end %>
</div>
