<h1>List of all employees</h1>

<table class="table table-hover">
  <thead>
    <tr>
    <th>Employeecode</th>
      <th> Name</th>
        
     
      <th>Mobile  emailid</th>
     
      <th>Employment type</th>
      <th>Employee role</th>
    
      <th>Enable login</th>
         <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.employeecode %></td>
        <td><%= employee.fullname %> <br>
        <small>  <%= employee.designation %> <br>
        Reporting to: <%= employee.manager.fullname if employee.manager %>
        </small>
        </td>
      
         <td><%= employee.mobile %><br>
        <small><%= employee.emailid %></small></td>
        
        <td><%= employee.employment_type.name if employee.employment_type %></td>
        <td><%= employee.employee_role.name if employee.employee_role %></td>
         <td><%= employee.enablelogin %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path, class: "btn btn-primary" %>
