<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @employee.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Employeecode:</strong>
  <%= @employee.employeecode %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @employee.designation %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @employee.mobile %>
</p>

<p>
  <strong>Emailid:</strong>
  <%= @employee.emailid %>
</p>

<p>
  <strong>Location:</strong>
  <%= @employee.location %>
</p>

<p>
  <strong>Employment type:</strong>
  <%= @employee.employment_type_id %>
</p>

<p>
  <strong>Employee role:</strong>
  <%= @employee.employee_role_id %>
</p>

<p>
  <strong>Reporting to:</strong>
  <%= @employee.reporting_to_id %>
</p>

<p>
  <strong>Enablelogin:</strong>
  <%= @employee.enablelogin %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employee.description %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
