<%= bootstrap_form_for(@product_list) do |f| %>
 
 

   <%= f.hidden_field :product_variant_id %>

  

 
  <div class="field">
   <%= f.select :product_spec_list_id,  options_from_collection_for_select(@product_spec_list, :id, :name, selected: @product_list.product_spec_list_id), {} %>
      
  </div>
  <div class="field">
   
    <%= f.text_field :extproductcode, :required => true, :placeholder => "Required code for matching this product to inventory" %>
  </div>
  <div class="field">
    
    <%= f.text_field :list_barcode, :placeholder => "Optional code for this product" %>
  </div>
  <div class="field">
      <%= f.select :active_status_id,  options_from_collection_for_select(ProductActiveCode.all, :id, :name, selected: @product_list.active_status_id), {} %>
   
  </div>
  <div class="row">
    <div class="col-xs-2 col-md-offset-8">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
