<% if @generalproductaddonlists.present? %>
<div class="well well-lg">
<div class="row">

<div class="col-xs-6">
<p class="lead">Would you like to add these products to the order</p>
</div>
<div class="col-xs-6">
  <div class="digg_pagination">
      
  </div>
</div>

</div>
<table class="table table-hover">
   <tbody>
    <% @generalproductaddonlists.each do |productaddonlist| %>
      <tr>
        <td lass="col-xs-10"><strong>
          <%= productaddonlist.productlistdetails  %>
        </strong> <br>
        <%= raw(productaddonlist.product_variant.description) if productaddonlist.product_variant %>

        </td>
        
        
        <td class="col-xs-2">
<%= form_tag("/addupsell", method: "POST") do |f| %>
<%= hidden_field_tag :order_id, @order_id %>
<%= hidden_field_tag :product_list_id, productaddonlist.id %>
<%= hidden_field_tag :pieces, 1 %>
<%= submit_tag "Add to Order", name: nil, class: "btn btn-success btn-sm" %>
       
<% end %>
        </td>
       
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>