<%= bootstrap_form_for(@media_cost_master) do |f| %>
  <% if @media_cost_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media_cost_master.errors.count, "error") %> prohibited this media_cost_master from being saved:</h2>

      <ul>
      <% @media_cost_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   
    <%= f.text_field :name, placeholder: "e.g. 2 minuter, 12 minutes, 30 minutes", label: "Named Duration of show " %>
  </div>
   <div class="field">
     <%= f.select(:media_id, 
    options_from_collection_for_select(@medialist, :id, :mediainfo, selected: @media_cost_master.media_id), 
    {:label => "Select Media"}, :class => "form-control")  %>
    <small> Only media which we pay in advance show up here </small>
   </div>


  <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Private Channel Slot Pricing</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">HBN Time Slot wise</a></li>
    
  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">
      <div class="row">
  <div class="col-xs-2">
  
    <%= f.text_field :duration_secs, placeholder: "e.g. 5660",  label: "Total Duration in Sec" %>
   <small> h x 60 + m x 60 + s  </small>
  </div>
  <div class="col-xs-3">
       <%= f.text_field :total_cost, placeholder: "e.g. 5000.30", label: "Total Cost in Rupees"  %>
  </div>
  <div class="col-xs-7">
      
  </div>
  </div>

  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
   <div class="row">
 <div class="col-xs-1 col-xs-offset-1">
 <%= f.select :str_hr, 0..23, label: "Start Hr" %>
 </div>
  <div class="col-xs-1">
   <%= f.select :str_min, 0..59, label: "Start Min" %>
 </div>
  <div class="col-xs-1">
   <%= f.select :str_sec, 0..59, label: "Start Sec" %>
 </div>
 
 <div class="col-xs-1 col-xs-offset-1">
 <%= f.select :end_hr, 0..23, label: "End Hr" %>
 </div>
  <div class="col-xs-1">
  <%= f.select :end_min, 0..59, label: "End Min" %>
 </div>
  <div class="col-xs-1">
   <%= f.select :end_sec, 0..59, label: "End Sec" %>
 </div>
<div class="col-xs-3">
       <%= f.text_field :slot_percent, placeholder: "0.15", label: "Percent Cost of this 1/2 hour slot"  %>
  </div>

 </div>
  </div>
  
</div>

</div>

 
  <div class="field">
  
    <%= f.text_area :description %>
  </div>
  <div class="row">
  <div class="col-xs-3 col-md-offset-7">
    <%= f.submit class:"btn btn-primary" %>
  </div>
  </div>
<% end %>
