<p id="notice"><%= notice %></p>

<h3>Listing Media Cost Masters</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Mins</th>
       <th>%</th>
      <th>Cost</th>
      <th>Media</th>
     
      
      <th colspan="2"></th>
    </tr>
  </thead>
  <% total_cost = 0 %> <% slot_percent = 0.0 %>
<% if @media_cost_masters.present? %>

  <tbody>
  
    <% @media_cost_masters.each do |media_cost_master| %>
      <tr>
        <td><%= media_cost_master.name %></td>
        <td><%= media_cost_master.str_hr %>:<%= media_cost_master.str_min %></td>
        <td><%= media_cost_master.end_hr %>:<%= media_cost_master.end_min %></td>
         <td><%= media_cost_master.duration_secs.to_i / 60 %></td>
          <td><%= media_cost_master.slot_percent if media_cost_master.slot_percent %>
             <% slot_percent +=  media_cost_master.slot_percent if media_cost_master.slot_percent %>
          </td>
        <td><%= media_cost_master.total_cost %> <% total_cost +=  media_cost_master.total_cost if media_cost_master.total_cost %></td>
        <td><%= media_cost_master.medium.name if media_cost_master.medium %></td>
       
       
       
        <td><%= link_to 'Edit', edit_media_cost_master_path(media_cost_master) %></td>
        <td><%= link_to 'Destroy', media_cost_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4">Total</th>
      
     
      <th><%= slot_percent %></th>
      <th><%= total_cost %></th>
      <th colspan="3"></th>
    </tr>

  </tfoot>
   <% end %>
</table>

<br>
<% if @media_id.present? %>
  
  <%= render('form') %>

<% else %>
<div class="row">
  <div class="col-xs-6">
    <%= link_to 'New Media cost master', new_media_cost_master_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="col-xs-6 text-right">
   
  </div>
</div>
<% end %>

