<p id="notice"><%= notice %></p>

<h3>Listing of Media Cost Masters</h3>
  <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Private Channel Slot Pricing</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">HBN Time Slot wise Pricing Change</a></li>
    
  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">
       
     <%= render('pvt_list') %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
     <%= render('hbn_list') %>
     
  </div>
  
</div>

</div>

<br>
<% if @media_id.present? %>
  
  <%= render('form') %>

<% else %>
<div class="row">
  <div class="col-xs-6">
    <%= link_to 'New Media cost master', new_media_cost_master_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="col-xs-6 text-right">
   
  </div>
</div>
<% end %>

