<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @media_cost_master.name %>
</p>

<p>
  <strong>Duration (secs):</strong>
  <%= @media_cost_master.duration_secs %>
</p>

<p>
  <strong>Total Cost:</strong>
  <%= @media_cost_master.cost_per_sec %>
</p>

<p>
  <strong>Media:</strong>
  <%= @media_cost_master.medium.name if @media_cost_master.medium %>
</p>



<p>
  <strong>Description:</strong>
  <%= @media_cost_master.description %>
</p>

<%= link_to 'Edit', edit_media_cost_master_path(@media_cost_master) %> |
<%= link_to 'Back', media_cost_masters_path %>
