<p id="notice"><%= notice %></p>

<h1>Listing Campaign Missed Lists</h1>

<table>
  <thead>
    <tr>
      <th>Product list</th>
      <th>Product variant</th>
      <th>Productmaster</th>
      <th>External prod</th>
      <th>Reason</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_missed_lists.each do |campaign_missed_list| %>
      <tr>
        <td><%= campaign_missed_list.product_list_id %></td>
        <td><%= campaign_missed_list.product_variant_id %></td>
        <td><%= campaign_missed_list.productmaster_id %></td>
        <td><%= campaign_missed_list.external_prod %></td>
        <td><%= campaign_missed_list.reason %></td>
        <td><%= campaign_missed_list.description %></td>
        <td><%= link_to 'Show', campaign_missed_list %></td>
        <td><%= link_to 'Edit', edit_campaign_missed_list_path(campaign_missed_list) %></td>
        <td><%= link_to 'Destroy', campaign_missed_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign missed list', new_campaign_missed_list_path %>
