<p id="notice"><%= notice %></p>

<p>
  <strong>Product master:</strong>
  <%= @product_sample_stock.product_master_id %>
</p>

<p>
  <strong>Product list:</strong>
  <%= @product_sample_stock.product_list_id %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product_sample_stock.product_name %>
</p>

<p>
  <strong>Prod code:</strong>
  <%= @product_sample_stock.prod_code %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @product_sample_stock.barcode %>
</p>

<p>
  <strong>Basic price:</strong>
  <%= @product_sample_stock.basic_price %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @product_sample_stock.shipping %>
</p>

<p>
  <strong>Air date:</strong>
  <%= @product_sample_stock.air_date %>
</p>

<p>
  <strong>Orders:</strong>
  <%= @product_sample_stock.orders %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product_sample_stock.stock %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_sample_stock.description %>
</p>

<%= link_to 'Edit', edit_product_sample_stock_path(@product_sample_stock) %> |
<%= link_to 'Back', product_sample_stocks_path %>
