<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-xs-4">
<h3>Fedex Bill Checks</h3>

</div>
<div class="col-xs-2">
  <% if @show_csv == true %>
<%= link_to 'Download CSV list', fedex_bill_checks_path(showall: "true", format: :csv), class: "btn btn-success btn-sm" %>
<% end %>
</div>


<div class="col-xs-6">
<br>
<div class="digg_pagination">

    <%= will_paginate @fedex_bill_checks, :container => false %>
  </div>
  <br>
</div>
</div>

:, :, :, :, :, :, :verif_comments, :, :, :, :, :, :
<table class="table table-hover table-bordered table-stripped">
  <thead>
    <tr>
      <th>Ref Name / Date</th>
      <th>Invno <br> Invdate <br> Awb</th>
      <th>Ship reference <br>Internal Order No <br> Id</th>
      <th>Pcs <br> Weight /Verify (Diff)</th>
      <th>Ratedamt <br> Discount</th>
      <th>Basic Billed / Cal</th>
      <th>Add corr</th>
      <th>Cod fee / Cal </th>
      <th>Surcharge bill / Cal </th>
      <th>Higher floor <br> Out of del</th>
      <th>Service tax / Cal </th>
      <th>Billed Amt / Cal </th>
      <th>Products</th>
    </tr>
  </thead>

  <tbody>
    <% @fedex_bill_checks.each do |fedex_bill_check| %>
      <tr>
        <td><%= fedex_bill_check.verif_name %> <br> <%= fedex_bill_check.verif_upload_date %></td>
        <td><%= fedex_bill_check.invno %><br> <%= fedex_bill_check.invdate %><br><%= fedex_bill_check.awb %></td>
        <td><%= fedex_bill_check.shipreference %><br><%= fedex_bill_check.verif_order_no %><br> <%= fedex_bill_check.verif_order_ref_id %></td>
        <td><%= fedex_bill_check.pcs %><br><%= fedex_bill_check.weight %> <br><%= fedex_bill_check.verif_weight %> (<%= fedex_bill_check.verif_weight_diff %>)</td>
        <td><%= fedex_bill_check.ratedamt %><br><%= fedex_bill_check.discount %></td>
          <td><%= (fedex_bill_check.ratedamt ||= 0) - (fedex_bill_check.discount ||= 0)  %><br><%= fedex_bill_check.verif_basic %></td>
        <td><%= fedex_bill_check.address_correction %></td>
        <td><%= fedex_bill_check.cod_fee %> <br><%= fedex_bill_check.verif_cod %></td>
        <td><%= fedex_bill_check.fuel_surcharge %><br><%= fedex_bill_check.verif_fuel_surcharge.round(2) %></td>
        <td><%= fedex_bill_check.higher_floor_delivery %> <br> <%= fedex_bill_check.out_of_delivery_area %></td>
        <td><%= fedex_bill_check.india_service_tax %><br><%= fedex_bill_check.verif_service_tax.round(2) %></td>
        <td><%= fedex_bill_check.billedamt %><br><%= fedex_bill_check.verif_total_charges.round(2) %></td>
        <td><%= fedex_bill_check.verif_products %>       </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="row">
<div class="col-xs-4"> Import Product Costs: </div>

<div class="col-xs-8">

  <div class="row">
  <%= form_tag import_fedex_bill_checks_path, multipart: true do %>

	<div class="col-xs-3">   <%= text_field_tag :ref_name, nil, :label => "ref_name",  :class =>"form-control", :maxlength=> "30", :placeholder => "ref_name", :required => true %>  	</div>
    <div class="col-xs-6">
        <%= file_field_tag :file %>
    </div>
    <div class="col-xs-2">
        <%= submit_tag "Import CSV", class: "btn btn-warning btn-sm" %>
    </div>
  <% end %>
  </div>
</div>

</div>
<!-- %= link_to 'New Fedex bill check', new_fedex_bill_check_path % -->
