<p id="notice"><%= notice %></p>

<p>
  <strong>Shp cust nbr:</strong>
  <%= @fedex_bill_check.shp_cust_nbr %>
</p>

<p>
  <strong>Acctno:</strong>
  <%= @fedex_bill_check.acctno %>
</p>

<p>
  <strong>Invno:</strong>
  <%= @fedex_bill_check.invno %>
</p>

<p>
  <strong>Invdate:</strong>
  <%= @fedex_bill_check.invdate %>
</p>

<p>
  <strong>Awb:</strong>
  <%= @fedex_bill_check.awb %>
</p>

<p>
  <strong>Shipdate:</strong>
  <%= @fedex_bill_check.shipdate %>
</p>

<p>
  <strong>Shprname:</strong>
  <%= @fedex_bill_check.shprname %>
</p>

<p>
  <strong>Coname:</strong>
  <%= @fedex_bill_check.coname %>
</p>

<p>
  <strong>Shipadd:</strong>
  <%= @fedex_bill_check.shipadd %>
</p>

<p>
  <strong>Shprlocation:</strong>
  <%= @fedex_bill_check.shprlocation %>
</p>

<p>
  <strong>Shp postal code:</strong>
  <%= @fedex_bill_check.shp_postal_code %>
</p>

<p>
  <strong>Shipreference:</strong>
  <%= @fedex_bill_check.shipreference %>
</p>

<p>
  <strong>Origloc:</strong>
  <%= @fedex_bill_check.origloc %>
</p>

<p>
  <strong>Origctry:</strong>
  <%= @fedex_bill_check.origctry %>
</p>

<p>
  <strong>Destloc:</strong>
  <%= @fedex_bill_check.destloc %>
</p>

<p>
  <strong>Destctry:</strong>
  <%= @fedex_bill_check.destctry %>
</p>

<p>
  <strong>Svc1:</strong>
  <%= @fedex_bill_check.svc1 %>
</p>

<p>
  <strong>Pcs:</strong>
  <%= @fedex_bill_check.pcs %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @fedex_bill_check.weight %>
</p>

<p>
  <strong>Dimwgt:</strong>
  <%= @fedex_bill_check.dimwgt %>
</p>

<p>
  <strong>Wgttype:</strong>
  <%= @fedex_bill_check.wgttype %>
</p>

<p>
  <strong>Dimflag:</strong>
  <%= @fedex_bill_check.dimflag %>
</p>

<p>
  <strong>Billflag:</strong>
  <%= @fedex_bill_check.billflag %>
</p>

<p>
  <strong>Ratedamt:</strong>
  <%= @fedex_bill_check.ratedamt %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @fedex_bill_check.discount %>
</p>

<p>
  <strong>Address correction:</strong>
  <%= @fedex_bill_check.address_correction %>
</p>

<p>
  <strong>Cod fee:</strong>
  <%= @fedex_bill_check.cod_fee %>
</p>

<p>
  <strong>Freight on value carriers risk:</strong>
  <%= @fedex_bill_check.freight_on_value_carriers_risk %>
</p>

<p>
  <strong>Freight on value own risk:</strong>
  <%= @fedex_bill_check.freight_on_value_own_risk %>
</p>

<p>
  <strong>Fuel surcharge:</strong>
  <%= @fedex_bill_check.fuel_surcharge %>
</p>

<p>
  <strong>Higher floor delivery:</strong>
  <%= @fedex_bill_check.higher_floor_delivery %>
</p>

<p>
  <strong>India service tax:</strong>
  <%= @fedex_bill_check.india_service_tax %>
</p>

<p>
  <strong>Out of delivery area:</strong>
  <%= @fedex_bill_check.out_of_delivery_area %>
</p>

<p>
  <strong>Billedamt:</strong>
  <%= @fedex_bill_check.billedamt %>
</p>

<p>
  <strong>Recp pstl cd:</strong>
  <%= @fedex_bill_check.recp_pstl_cd %>
</p>

<%= link_to 'Edit', edit_fedex_bill_check_path(@fedex_bill_check) %> |
<%= link_to 'Back', fedex_bill_checks_path %>
