<%= simple_form_for(@help_file) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :link %>
    <%= f.input :description %>
     <% if (current_user.employee_role.sortorder < 3) %> 
    <%= f.input :code_used %>
    <%= f.input :database_used %>
    <% end %>
    <%= f.input :tags %>

  </div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-8">
      <div class="form-actions">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
  </div>

</div>

<% end %>
