<div class="row">
<div class="col-xs-4">
<h3>List of Recent 1000 missed orders with reasons</h3>
</div>
<div class="col-xs-2">
<%= link_to 'Remove All', remove_missed_orders_path(destroy_all: "true"), method: :delete, data: { confirm: 'This would remove all records, are you sure?' }, , class:"btn btn-warning btn-sm" %>
</div>
<div class="col-xs-6">
  <div class="digg_pagination">
    <% if @distributor_missed_orders.present? %>
    <%= will_paginate @distributor_missed_orders, :container => false %>
    <% end %>
  </div>
</div>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Corporate</th>
      <th>Missed type</th>
      <th>Order value</th>
      <th>Order no</th>
      <th>Order</th>
      <th>Description</th>
    </tr>
  </thead>
  <% if @distributor_missed_orders.present? %>
  <tbody>
    <% @distributor_missed_orders.each do |distributor_missed_order| %>
      <tr>
        <td><%= distributor_missed_order.corporate.name if distributor_missed_order.corporate %></td>
        <td><%= distributor_missed_order.distributor_missed_order_type.name if distributor_missed_order %></td>
        <td><%= distributor_missed_order.order_value %></td>
        <td><%= distributor_missed_order.order_no %></td>
        <td><%= distributor_missed_order.order_id %></td>
        <td><%= distributor_missed_order.description %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
