<%= simple_form_for(@daily_task_log) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :daily_task_id %>
  <%= f.hidden_field :checked_on %>
  <%= f.hidden_field :checked_by %>
  <div class="form-inputs">
	<div class="row">
     <div class="col-xs-12">
    <%= f.input :status, :collection => @status_list, :label => "Status" ,:include_blank => false %>
    </div>
	</div>
    <div class="row">
		<div class="col-xs-12">

			<%= f.input :syntax_error,:label => "Error Details if any" %>
		</div>
	</div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-9">
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
