<p id="notice"><%= notice %></p>

<p>
  <strong>Actdate:</strong>
  <%= @vpp_deal_tran.actdate %>
</p>

<p>
  <strong>Action:</strong>
  <%= @vpp_deal_tran.action %>
</p>

<p>
  <strong>Add1:</strong>
  <%= @vpp_deal_tran.add1 %>
</p>

<p>
  <strong>Add2:</strong>
  <%= @vpp_deal_tran.add2 %>
</p>

<p>
  <strong>Add3:</strong>
  <%= @vpp_deal_tran.add3 %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @vpp_deal_tran.barcode %>
</p>

<%= link_to 'Edit', edit_vpp_deal_tran_path(@vpp_deal_tran) %> |
<%= link_to 'Back', vpp_deal_trans_path %>
