<h3>Packing Cost</h3>
<p>Packing Cost in Oracle</p>

<table class="table table-hover">
<thead>
<tr>
<th>prod </th>
	<th>desc_1</th>	<th>exp_1</th>	<th>desc_2</th>	<th>exp_2</th>	<th>desc_3</th>	<th>exp_3</th>	<th>desc_4</th>	<th>exp_4</th>	<th>desc_5</th>	<th>exp_5</th>	<th>desc_6</th>	<th>exp_6</th>	<th>desc_7</th>	<th>exp_7</th>	<th>desc_8</th>	<th>exp_8</th>	<th>desc_9</th>	<th>exp_9</th>	<th>desc_10</th>	<th>exp_10</th>	<th>desc_11</th>	<th>exp_11</th>	<th>desc_12</th>	<th>exp_12</th>	<th>desc_13</th>	<th>exp_13</th>	<th>desc_14</th>	<th>exp_14</th>	<th>desc_15</th>	<th>exp_15</th>	<th>desc_16</th>	<th>exp_16</th>	<th>desc_17</th>	<th>exp_17</th>	<th>desc_18</th>	<th>exp_18</th>	<th>desc_19</th>	<th>exp_19</th>	<th>desc_20</th>	<th>exp_20</th>

</tr>
</thead>
<tbody>
 <% @packing_costs.each do |p| %>
	<tr>
		<td><%= p.prod %></td>	<td><%= p.desc_1%></td>	<td><%= p.exp_1%></td>	<td><%= p.desc_2%></td>	<td><%= p.exp_2%></td>	<td><%= p.desc_3%></td>	<td><%= p.exp_3%></td>	<td><%= p.desc_4%></td>	<td><%= p.exp_4%></td>	<td><%= p.desc_5%></td>	<td><%= p.exp_5%></td>	<td><%= p.desc_6%></td>	<td><%= p.exp_6%></td>	<td><%= p.desc_7%></td>	<td><%= p.exp_7%></td>	<td><%= p.desc_8%></td>	<td><%= p.exp_8%></td>	<td><%= p.desc_9%></td>	<td><%= p.exp_9%></td>	<td><%= p.desc_10%></td>	<td><%= p.exp_10%></td>	<td><%= p.desc_11%></td>	<td><%= p.exp_11%></td>	<td><%= p.desc_12%></td>	<td><%= p.exp_12%></td>	<td><%= p.desc_13%></td>	<td><%= p.exp_13%></td>	<td><%= p.desc_14%></td>	<td><%= p.exp_14%></td>	<td><%= p.desc_15%></td>	<td><%= p.exp_15%></td>	<td><%= p.desc_16%></td>	<td><%= p.exp_16%></td>	<td><%= p.desc_17%></td>	<td><%= p.exp_17%></td>	<td><%= p.desc_18%></td>	<td><%= p.exp_18%></td>	<td><%= p.desc_19%></td>	<td><%= p.exp_19%></td>	<td><%= p.desc_20%></td>	<td><%= p.exp_20%></td>




	</tr>
<% end %>
</tbody>

</table>
