<h3>All interaction categories</h3>

<div class="well well-sm"> 
<h4> Call Disposing <small>sortorder < 100</small></h4>
<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sortorder</th>
      <th>Employeeid</th>
      <th>Resolutionhours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @call_disposing_interaction_categories.each do |interaction_category| %>
      <tr>
        <td><%= interaction_category.name %></td>
        <td><%= interaction_category.sortorder %></td>
        <td><%= interaction_category.employeeid %></td>
        <td><%= interaction_category.resolutionhours %></td>
        <td><%= link_to 'Show', interaction_category %></td>
        <td><%= link_to 'Edit', edit_interaction_category_path(interaction_category) %></td>
        <td><%= link_to 'Destroy', interaction_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<br><br>

<div class="well well-sm"> 
<h4> Customer Requests <small>sortorder > 100 and sortorder < 200</small></h4>
<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sortorder</th>
      <th>Employeeid</th>
      <th>Resolutionhours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_request_interaction_categories.each do |interaction_category| %>
      <tr>
        <td><%= interaction_category.name %></td>
        <td><%= interaction_category.sortorder %></td>
        <td><%= interaction_category.employeeid %></td>
        <td><%= interaction_category.resolutionhours %></td>
        <td><%= link_to 'Show', interaction_category %></td>
        <td><%= link_to 'Edit', edit_interaction_category_path(interaction_category) %></td>
        <td><%= link_to 'Destroy', interaction_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

<br>

<div class="well well-sm"> 
<h4> Customer Support Queries <small>sortorder > 200 and sortorder < 500</small> </h4>
<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sortorder</th>
      <th>Employeeid</th>
      <th>Resolutionhours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_support_interaction_categories.each do |interaction_category| %>
      <tr>
        <td><%= interaction_category.name %></td>
        <td><%= interaction_category.sortorder %></td>
        <td><%= interaction_category.employeeid %></td>
        <td><%= interaction_category.resolutionhours %></td>
        <td><%= link_to 'Show', interaction_category %></td>
        <td><%= link_to 'Edit', edit_interaction_category_path(interaction_category) %></td>
        <td><%= link_to 'Destroy', interaction_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

<%= link_to 'New Interaction category', new_interaction_category_path, class: "btn btn-primary" %>
