<p id="notice"><%= notice %></p>

<h1>Listing Message Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sort order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_types.each do |message_type| %>
      <tr>
        <td><%= message_type.name %></td>
        <td><%= message_type.description %></td>
        <td><%= message_type.sort_order %></td>
        <td><%= link_to 'Show', message_type %></td>
        <td><%= link_to 'Edit', edit_message_type_path(message_type) %></td>
        <td><%= link_to 'Destroy', message_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message type', new_message_type_path %>
