<div class="alert alert-info" role="alert">

<%= form_tag(send_demo_message_path, method: "post") do %>

<div class="row">
  	<div class="col-xs-2">
    <strong> Send Demo Message</strong>
    </div>
   	<div class="col-xs-3">   <%= text_field_tag :mobile, nil, :label => "Mobile",  :class =>"form-control", :maxlength=> "30", :placeholder => "Mobile", :required => true %>  	</div>
    <div class="col-xs-3">   <%= text_field_tag :order_no, nil, :label => "Order No",  :class =>"form-control", :maxlength=> "30", :placeholder => "Order No", :required => true %>   </div>
    <div class="col-xs-2">  <%= text_field_tag :order_val, nil, :label => "Value",  :class =>"form-control", :maxlength=> "30", :placeholder => "Order Value", :required => true %> </div>
  	<div class="col-xs-2">
         <%= submit_tag("Send Message", :class => "btn btn-success btn-sm") %>
	</div>
</div>
<% end %>

</div>
