<% if @interaction_transcripts.present? %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Comments by</th>
      <th>Details</th>
      
    </tr>
  </thead>

  <tbody>
    <% @interaction_transcripts.each do |interaction_transcript| %>
      <tr>
        <td>
        <%= interaction_transcript.interaction_user.name if interaction_transcript.interaction_user %> <br>
 <small> <%= interaction_transcript.created_at + 330.minutes %> </small> <br>

          <%= interaction_transcript.employee.name if interaction_transcript.employee  %>
 </td>
        <td><%= interaction_transcript.description %> <br>
       
        <%= link_to "Search Order", detailedordersearch_path(mobile: interaction_transcript.interaction_master.mobile), :target => "_blank" %>
         &nbsp;
       <small> Called from Mobile  <%= interaction_transcript.interaction_master.mobile %><small>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>