<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interaction_priority.name %>
</p>

<p>
  <strong>Sortorder:</strong>
  <%= @interaction_priority.sortorder %>
</p>

<%= link_to 'Edit', edit_interaction_priority_path(@interaction_priority) %> |
<%= link_to 'Back', interaction_priorities_path %>
