<%= form_for(@customer_address) do |f| %>
  <% if @customer_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_address.errors.count, "error") %> prohibited this customer_address from being saved:</h2>

      <ul>
      <% @customer_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
<div class="row">
  <div class="col-xs-1">
  	  <%= f.number_field :customer_id %>
  </div>
  </div>
 <div class="row">
 	<div class="col-xs-1">
 	 <%= f.label :name, "This is" %>
 </div>
  <div class="col-xs-8">
    <%= f.select(:name, 
    options_from_collection_for_select(AddressType.all, :name, :name), 
    {:prompt => 'Please Choose'}, :class => "form-control col-xs-1")  %>
   
  </div>
  </div>
  <div class="row">
		  <div class="col-xs-1">
		 	 <%= f.label :address1, "Address" %>
		 </div>
		 <div class="col-xs-8">
		   
		    <%= f.text_field :address1,   :class =>"form-control", :placeholder => "Address"  %>
		  </div>
 </div>

  	<div class="row">
		  <div class="col-xs-1">
		 	 <%= f.label :address2, "Address" %>
		 </div>
		 <div class="col-xs-8">
		      <%= f.text_field :address2,   :class =>"form-control", :placeholder => "Address" %>
		  </div>
	</div>
  <div class="row">
		<div class="col-xs-1">
		 	 <%= f.label :address3, "Address" %>
		 </div>
		 <div class="col-xs-8">
		    <%= f.text_field :address3,   :class =>"form-control", :placeholder => "Address" %>
		  </div>
 </div>
  <div class="row">
  <div class="col-xs-1">
 	 <%= f.label :landmark %>
 </div>
 <div class="col-xs-8">
  
    <%= f.text_field :landmark,   :class =>"form-control", :placeholder => "Landmark" %>
  </div>
  </div>
  <div class="row">
  	<div class="col-xs-1">
 	 <%= f.label :state, "State" %>
 </div>
 <div class="col-xs-3">
     
     <%= f.select(:state, 
    options_from_collection_for_select(State.all, :name, :name), 
    {:prompt => 'Please Choose'}, :class => "form-control col-xs-1")  %>
  </div>
  <div class="col-xs-1">
 	 <%= f.label :city, "City" %>
 </div>
 <div class="col-xs-2">
    
    <%= f.text_field :city,   :class =>"form-control", :placeholder => "City" %>
  </div>
    <div class="col-xs-1">
 	 <%= f.label :pincode, "PINCODE" %>
 </div>
  <div class="col-xs-1">
      <%= f.text_field :pincode,   :class =>"form-control", :placeholder => "Pincode" %>
  </div>
</div>
  <div class="row">
 
   </div>
  <div class="row">
     <div class="col-xs-1">
     	 <%= f.label :district, "District" %>
     </div>
 <div class="col-xs-4">
   
    <%= f.text_field :district,   :class =>"form-control", :placeholder => "District"  %>
  </div>
   </div>
  <div class="row">
     <div class="col-xs-1">
 <%= f.label :country %>
  	
  </div>
  <div class="col-xs-4">
  	    <%= f.text_field :country,   :class =>"form-control", :placeholder => "Country"  %>
  </div>
</div>
  <div class="row">
	 <div class="col-xs-1">
	 	    <%= f.label :telephone1 %>
	 </div>
	  <div class="col-xs-2">
	    <%= f.text_field :telephone1,   :class =>"form-control", :placeholder => "Telephone"  %>
	  </div>
	  
	  <div class="col-xs-2">
	    <%= f.text_field :telephone2,   :class =>"form-control", :placeholder => "Telephone"  %>
	  </div>
	  <div class="col-xs-1">
  	    <%= f.label :fax %>
  		</div>
	  <div class="col-xs-2">
	    <%= f.text_field :fax,   :class =>"form-control", :placeholder => "Fax"  %>
	  </div>
  </div>
   <div class="row">
	 <div class="col-xs-1">
	 	<%= f.label :description %><br>
	 </div>
	 <div class="col-xs-8">
	 	<%= f.text_area :description,  :class => "form-control", :rows => 3, :placeholder => "Description"  %>
	 	</div>
  </div>
  
  <div class="row">
	 <div class="col-xs-1">
	 	  <%= f.label :valid_id %>
	 </div>
	   <div class="col-xs-4">
	   	     <%= f.select(:valid_id, 
    		options_from_collection_for_select(AddressValid.all, :name, :name), 
    		{:prompt => 'Please Choose'}, :class => "form-control col-xs-1")  %>
	   </div>
   

  </div>
  <div class="row">
	 <div class="col-xs-2 col-md-offset-5">
	 	<%= f.submit "Save / Update", class: "btn btn-primary" %>
	 </div>
  </div>
<% end %>
