<% if @userpas.present? %>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
  <h3>Change Password</h3>
<p>Only registered employees can get the login's </p>
    <%= form_for(@userpas) do |f| %>
    <%= f.hidden_field :id %>
	<%= hidden_field_tag "employee_code", @employee_code %>
	<%= hidden_field_tag "name",  @employee_name %>
	<%= hidden_field_tag "role", @employee_role_id %>
	<%= hidden_field_tag "email", @employee_emailid %>
	

        <div class="col-md-4">
      
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>
   </div>
   <div class="col-md-4">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class:"form-control" %>
</div>

   <div class="col-md-4" style="margin-top: 20px;">
  
   <%= f.submit "Change Password", class: "btn btn-primary" %>
  
  </div>
 
    
    <% end %>
  </div>
</div>

<% end %>