<% if @user.present? %>
<% provide(:title, 'Create Login for Employee') %>


<div class="row">
  <div class="col-md-6 col-md-offset-2">
  <h3>Create Login for Distributor (Corporate)</h3>
<p>Only Active distributor can login: current status => <strong> <%= @corporate.corporate_active_master.name if @corporate.corporate_active_master %></strong> </p>
    <%= form_for(@user) do |f| %>
	
	<%= hidden_field_tag "return_to", @return_to %>
  	<%= f.hidden_field :role %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', :readonly => "true" %>

      <%= f.label :email %>
      <%= f.text_field :email, class:'form-control', :readonly => "true" %>

       <%= f.label "Corporate Id" %>
      <%= f.text_field :employee_code, class:"form-control", :readonly => "true" %>

      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class:"form-control" %>


   <div class="col-md-4 col-md-offset-7">

   <%= f.submit "Create Login", class: "btn btn-primary" %>

  </div>


    <% end %>
  </div>
</div>

<% end %>
