<% if @userpas.present? %>

<div class="row">
	<div class="col-xs-12">
		<h4>Change Password <%= @employee_name %> Code: <%= @userpas.employee_code %> and Email Id => <%= @userpas.email %></h4>
	</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
  
<p>Only Active distributor can login: current status => <strong> <%= @corporate.corporate_active_master.name if @corporate.corporate_active_master %></strong> </p>
    <%= form_for(@userpas) do |f| %>
    <%= f.hidden_field :id %>
	<%= hidden_field_tag "employee_code", @userpas.employee_code %>
	<%= hidden_field_tag "name",  @employee_name %>
	<%= hidden_field_tag "role", @userpas.role %>
	<%= hidden_field_tag "email", @userpas.email %>
	<%= hidden_field_tag "return_to", @return_to %>

        <div class="col-md-4">
      
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>
   </div>
   <div class="col-md-4">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class:"form-control" %>
</div>

   <div class="col-md-4" style="margin-top: 20px;">
  
   <%= f.submit "Change Password", class: "btn btn-primary" %>
  
  </div>
 
    
    <% end %>
  </div>
</div>

<% end %>