<%= bootstrap_form_for(@user) do |f| %>

<p>

  <%= f.text_field :name, :readonly => true,   label: "Name",   :class => "form-control" %>
  
</p>
<p>
 
   <%= f.text_field :email, :readonly => true,  label: "Email Id",  :class => "form-control" %>
  
</p>
<p>
   <%= f.text_field :employee_code,  label: "Employee Code", :class => "form-control", :readonly => true %>
  
</p>
 <%  if current_user.employee_role.sortorder < 9 %>
<p>
 
   <%= f.select(:role, 
    options_from_collection_for_select(@userroles, :id, :name, :selected => @user.role), 
    {label: "User Role"}, :class => "form-control")  %>

 
</p>
 <% end %>
<div class="row">
  	  <div class="col-xs-3 col-xs-offset-6">
  	  	<%= f.submit class: "btn btn-primary" %>
  	  </div>
    
  </div>
<% end %>