<p id="notice"><%= notice %></p>

<h1>Listing Order Fors</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_fors.each do |order_for| %>
      <tr>
        <td><%= order_for.name %></td>
        <td><%= order_for.description %></td>
        <td><%= link_to 'Show', order_for %></td>
        <td><%= link_to 'Edit', edit_order_for_path(order_for) %></td>
        <td><%= link_to 'Destroy', order_for, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order for', new_order_for_path %>
