<h1>Listing interaction_users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interaction_users.each do |interaction_user| %>
      <tr>
        <td><%= interaction_user.name %></td>
        <td><%= link_to 'Show', interaction_user %></td>
        <td><%= link_to 'Edit', edit_interaction_user_path(interaction_user) %></td>
        <td><%= link_to 'Destroy', interaction_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interaction user', new_interaction_user_path %>
