<div class="row">
<div class="col-xs-2">
  <h3> Product Report</h3>
<small>General Accouting Report 
(currently showing some)</small>
</div>
<div class="col-xs-10">
   <%= render 'search' %>
</div>

</div>
<div class="well well-lg">
<h3>Report for <%= @prod %> between <%= @from_date %> and <%= @to_date %></h3>
</div>
<br>
<div class="row">
		<div class="col-xs-12 pull-left">
		<h2> <div class="text-left">	Purchases <small>Rdate in Purchase_New</small></div>  </h2> 
		<hr/>	
		</div>
	
</div>
   <%= render 'purchases_new/list' %>

<br>
<div class="row">
		<div class="col-xs-12 pull-left">
		<h2> <div class="text-left">	Customer Sales <small>Paiddate in VPP</small></div> </h2> 
		<hr/>	
		</div>
	
</div>
   <%= render 'vpp/list' %>
<br>
<div class="row">
		<div class="col-xs-12 pull-left">
		<h2> <div class="text-left">	Wholesale Sales <small>Shdate in NewWlsDet</small></div> </h2> 
		<hr/>	
		</div>
	
</div>
<%= render 'newwlsdet/list' %>