<div class="row">
<div class="col-xs-1">
  <h3>Report</h3>

</div>
<div class="col-xs-11">
  <div class="row">
	<div class="col-xs-12"><small>General Accounting Report
(currently showing some default value)</small></div>
	<div class="col-xs-12"> <%= render 'search' %></div>
  </div>
  
</div>
</div>

<br>
<div class="well well-sm">
<h4><%= @type %> Report for <%= @prod %> between <%= @from_date %> and <%= @to_date %></h4>
</div>
<br>
<div class="alert alert-danger" role="alert">
	<div class="row">
	<div class="col-xs-12">
	<%= render 'summary' %>
	</div>
	</div>
</div>
	<br>
<br>

<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4">
		<h4>	Opening Stock  </h4> 
			
		</div>
		<div class="col-xs-2">
			 <button type="button" class="btn btn-success " data-toggle="modal" data-target="#OpeningStockModal">Add Stock Entry</button>
		</div>
		<div class="col-xs-6">
		<h4>Total Opening Stock: <%= @opening_stock %> </h4>
		</div>
		
		</div>
</div>
	<div class="row">
<div class="col-xs-12">
<%= render 'product_stocks/list' %>
</div>
</div>
   
<br>

<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4">
		<h4>	Journal Entries </h4> 
			
		</div>
		<div class="col-xs-3">
		 <button type="button" class="btn btn-success " data-toggle="modal" data-target="#JournalModal">Add Journal Entry</button>
		</div>
		<div class="col-xs-3">
		<h4>
		Journal Total: <%= number_with_delimiter(@journal_total, locale: :en) %> </h4>
		</div>
		
		</div>
</div>
	<div class="row">
<div class="col-xs-12">
<%= render 'product_stock_adjusts/list' %>
</div>
</div>
   
<br>


	<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4 pull-left">
		<h4> 	Purchases <small>Rdate in Purchase_New</small>  </h4> 
		
		</div>
		<div class="col-xs-4">
		<h4> Total Pieces Bought: <%= @purchasespieces %> </h4>
		</div>
		<div class="col-xs-4">
		<h4> Total Amount: <%= number_with_delimiter(@purchasestotal, locale: :en) %> </h4>
		</div>
		
		</div>
	</div>
	<div class="row">
<div class="col-xs-12">
<%= render 'purchases_new/list' %>
</div>
</div>
   

<br>


	<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4">
		<h4> 	Customer Sales <small>Orderdate / Paiddate in VPP</small> </h4> 
			
		</div>
		<div class="col-xs-4">
		<h4> Total Pieces Sold: <%= @retailsalespieces %> </h4> 
		</div>
		<div class="col-xs-4">
		<h4> Total Amount: <%= number_with_delimiter(@retailsalestotal, locale: :en) %> </h4> 
		</div>
		
		</div>
	</div>
   <%= render 'vpp/list' %>
<br>

<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4">
		<h4>	Wholesale Sales <small>Shdate in NewWlsDet</small>  </h4>
			
		</div>
		<div class="col-xs-4">
		<h4>Total Pieces Sold: <%= @wholesalespieces %></h4>
		</div>
		<div class="col-xs-4">
		<h4>Total Amount: <%= number_with_delimiter(@wholesalestotal, locale: :en) %></h4>
		</div>
		
		</div>
</div>
<%= render 'newwlsdet/list' %>

<br>

<div class="well well-sm">
		<div class="row">
		<div class="col-xs-6">
		<h4>	Branch Sale / Transfer <small>Shdate in TEMPINV_NEWWLSDET</small>  </h4> 
			
		</div>
		<div class="col-xs-3">
		<h4>Total Pieces Sold: <%= @branchsalespieces %></h4>
		</div>
		<div class="col-xs-3">
		<h4>Total Amount: <%= number_with_delimiter(@branchsalestotal, locale: :en) %></h4>
		</div>
		
		</div>
</div>

<%= render 'tempinv_newwlsdet/list' %>

 <!-- Modal -->
<div class="modal fade" id="OpeningStockModal" tabindex="-1" role="dialog" aria-labelledby="OpeningStockModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="OpeningStockModal">Add Opening Stock</h4>
      </div>
      <div class="modal-body">
       <%= render 'product_stocks/quickcreate' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="JournalModal" tabindex="-1" role="dialog" aria-labelledby="JournalModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="JournalModal">Add Journal Entry</h4>
      </div>
      <div class="modal-body">
           <%= render 'product_stock_adjusts/quickcreate' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- bottom menu -->