<%= render 'report_heading' %>
<br>


	<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4">
		<h4> 	Customer Returns <small>Return Date in VPP</small> </h4> 
			
		</div>
		<div class="col-xs-4">
		<h4> Total Pieces: <%= @retailsalespieces %> </h4> 
		</div>
		<div class="col-xs-4">
		<h4> Total Amount: <%= number_with_delimiter(@retailsalestotal, locale: :en) %> </h4> 
		</div>
		
		</div>
	</div>
   <%= render 'vpp/list' %>
<br>
<br>

<%= link_to 'Download CSV', retailreturnedreport_path(prod: @prod, for_date: @or_for_date, format: :csv), class: "btn btn-info btn-sm" %>
<!-- Today's Date <%= @prev_datelist %> -->

<br>