<p id="notice"><%= notice %></p>

<p>
  <strong>Corporate:</strong>
  <%= @transfer_order_master.corporate_id %>
</p>

<p>
  <strong>Orderdate:</strong>
  <%= @transfer_order_master.orderdate %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @transfer_order_master.customer_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @transfer_order_master.order_id %>
</p>

<p>
  <strong>Order no:</strong>
  <%= @transfer_order_master.order_no %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @transfer_order_master.customer_name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @transfer_order_master.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @transfer_order_master.email %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @transfer_order_master.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @transfer_order_master.address2 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @transfer_order_master.address3 %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @transfer_order_master.landmark %>
</p>

<p>
  <strong>District:</strong>
  <%= @transfer_order_master.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @transfer_order_master.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @transfer_order_master.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @transfer_order_master.country %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @transfer_order_master.pincode %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @transfer_order_master.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @transfer_order_master.phone2 %>
</p>

<p>
  <strong>Pieces:</strong>
  <%= @transfer_order_master.pieces %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @transfer_order_master.sub_total %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @transfer_order_master.shipping %>
</p>

<p>
  <strong>Codcharges:</strong>
  <%= @transfer_order_master.codcharges %>
</p>

<p>
  <strong>Total:</strong>
  <%= @transfer_order_master.total %>
</p>

<p>
  <strong>G total:</strong>
  <%= @transfer_order_master.g_total %>
</p>

<p>
  <strong>Transfer order status:</strong>
  <%= @transfer_order_master.transfer_order_status_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @transfer_order_master.notes %>
</p>

<%= link_to 'Edit', edit_transfer_order_master_path(@transfer_order_master) %> |
<%= link_to 'Back', transfer_order_masters_path %>
