<%= form_for(@address_valid) do |f| %>
  <% if @address_valid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address_valid.errors.count, "error") %> prohibited this address_valid from being saved:</h2>

      <ul>
      <% @address_valid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
