<h1>Listing address_valids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @address_valids.each do |address_valid| %>
      <tr>
        <td><%= address_valid.name %></td>
        <td><%= link_to 'Show', address_valid %></td>
        <td><%= link_to 'Edit', edit_address_valid_path(address_valid) %></td>
        <td><%= link_to 'Destroy', address_valid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address valid', new_address_valid_path %>
