<p id="notice"><%= notice %></p>

<h3>List of Product Sold to Distributors</h3>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Order</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @distributor_product_lists.each do |distributor_product_list| %>
      <tr>
        <td><%= distributor_product_list.product_list.productname if distributor_product_list.product_list %></td>
        <td><%= distributor_product_list.sort_order %></td>

        <td><%= link_to 'Edit', edit_distributor_product_list_path(distributor_product_list) %></td>
        <td><%= link_to 'Destroy', distributor_product_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'quick_add' %>
