<div class="row">
  <div class="col-xs-4">
    <h3> <%= list_name %></h3>
</div>
  <div class="col-xs-8">
    <% if corporates.present? %>
    <div class="digg_pagination">
        <%= will_paginate corporates, :container => false %>
    </div>
    <% end %>
  </div>
</div>
<br>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>People</th>
      <th>Address <br>
        Landmark <br>
        District City - Pincode<br>
        State - Country</th>
      <th>Telephone</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% corporates.each do |corporate| %>
      <tr>
        <td><%= corporate.name %></td>
        <td> <%= corporate.salute1 %> <%= corporate.first_name1 %> <%= corporate.last_name1 %> <%= corporate.designation1 %> <%= corporate.mobile1 %> <%= corporate.emaild1 %> <br>
        <%= corporate.salute2 %> <%= corporate.first_name2 %> <%= corporate.last_name2 %> <%= corporate.designation2 %> <%= corporate.mobile2 %> <%= corporate.emailid2 %> <br>
        <%= corporate.salute3 %> <%= corporate.first_name3 %> <%= corporate.last_name3 %> <%= corporate.designation3 %> <%= corporate.mobile3 %> <%= corporate.emailid3 %> <br>
        <td><%= corporate.address1 %> <br>
        <%= corporate.address2 %> <br>
        <td><%= corporate.address3 %> <br>
        <%= corporate.landmark %><br>
        <%= corporate.district %> <%= corporate.city %> <%= corporate.pincode %> <br>
        <%= corporate.state %> - <%= corporate.country %>
      www: <%= corporate.website %></td>
        <td><%= corporate.telephone1 %> <br>
        <%= corporate.telephone2 %> <br>
       Fax: <%= corporate.fax %></td>
         <td><%= link_to 'Show', corporate %></td>
        <td><%= link_to 'Edit', edit_corporate_path(corporate) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<hr>
