<div class="row">
    <div class="col-xs-6">
        <h3> <%= @corporate.name %> </h3>
        <p> Status: <%= @corporate.corporate_active_master.name if @corporate.corporate_active_master %>
        Type: <%= @corporate.corporate_type.name if @corporate.corporate_type %></p>
        <p>Commission <%= number_to_percentage(@corporate.commission_percent * 100, precision: 0) if @corporate.commission_percent.present? %> </p>
        <p class="lead">INR Balance <%= @corporate.rupee_balance %> </p>
    </div>
    <div class="col-xs-6">
     <p>  <%= @corporate.website %></p>
        <p> <strong>Telephone:</strong> <%= @corporate.telephone1 %></p>
        <p> <strong>Telephone:</strong> <%= @corporate.telephone2 %> </p>
        <p> <strong>Fax:</strong> <%= @corporate.fax %></p>
    </div>
</div>

<button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#distributorDetails" aria-expanded="false" aria-controls="distributorDetails">
  More Details
</button>
<div class="collapse" id="distributorDetails">
  <div class="well">
    <%= render partial: 'show_details' %>
  </div>
</div>

<hr>
<br>
<div class="row">
  <div class="col-xs-4">
    <h3>Serviced Pincodes</h3>
  </div>
  <div class="col-xs-8">
    <%= render partial: 'distributor_pincode_lists/quick_add' %>
  </div>
</div>


<%= render partial: 'distributor_pincode_lists/quick_list' %>

<br>

<button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#servicedPincode" aria-expanded="false" aria-controls="servicedPincode">
  Add New Pincode
</button>
<div class="collapse" id="servicedPincode">
  <div class="well">
    <%= render partial: 'distributor_pincode_lists/form' %>
  </div>
</div>

<hr>

<h3>Product Stock Summary (where available or Returns more than ZERO</h3>

<hr>
<%= render partial: 'distributor_stock_summaries/quick_list' %>
<br>
<div class="well well-sm">
<div class="row">
<div class="col-xs-8">
<h3>Recent Stock Ledger (Recent only)</h3>
</div>
<div class="col-xs-2">

<%= link_to 'Show Stock Ledger', distributor_stock_ledgers_path(corporate_id: @corporate.id) , class:"btn btn-success btn-sm" %>

</div>
<div class="col-xs-2">

<%= link_to 'Add Stock / MIS ', new_distributor_stock_ledger_path(corporate_id: @corporate.id) , class:"btn btn-warning btn-sm" %>

</div>
</div>
</div>

<hr>
<%= render partial: 'distributor_stock_ledgers/quick_list' %>
<br>
<div class="well well-sm">
<div class="row">
<div class="col-xs-10">
<h3>Missed Orders (Recent only)</h3>
</div>
<div class="col-xs-2">

<%= link_to 'Show Missed Orders', distributor_missed_orders_path(corporate_id: @corporate.id) , class:"btn btn-success btn-sm" %>

</div>

</div>
</div>

<hr>
<%= render partial: 'distributor_missed_orders/quick_list' %>
<br>
