<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @corporate.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @corporate.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @corporate.address2 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @corporate.address3 %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @corporate.landmark %>
</p>

<p>
  <strong>City:</strong>
  <%= @corporate.city %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @corporate.pincode %>
</p>

<p>
  <strong>State:</strong>
  <%= @corporate.state %>
</p>

<p>
  <strong>District:</strong>
  <%= @corporate.district %>
</p>

<p>
  <strong>Country:</strong>
  <%= @corporate.country %>
</p>

<p>
  <strong>Telephone1:</strong>
  <%= @corporate.telephone1 %>
</p>

<p>
  <strong>Telephone2:</strong>
  <%= @corporate.telephone2 %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @corporate.fax %>
</p>

<p>
  <strong>Website:</strong>
  <%= @corporate.website %>
</p>

<p>
  <strong>Salute1:</strong>
  <%= @corporate.salute1 %>
</p>

<p>
  <strong>First name1:</strong>
  <%= @corporate.first_name1 %>
</p>

<p>
  <strong>Last name1:</strong>
  <%= @corporate.last_name1 %>
</p>

<p>
  <strong>Designation1:</strong>
  <%= @corporate.designation1 %>
</p>

<p>
  <strong>Mobile1:</strong>
  <%= @corporate.mobile1 %>
</p>

<p>
  <strong>Emaild1:</strong>
  <%= @corporate.emaild1 %>
</p>

<p>
  <strong>Salute2:</strong>
  <%= @corporate.salute2 %>
</p>

<p>
  <strong>First name2:</strong>
  <%= @corporate.first_name2 %>
</p>

<p>
  <strong>Last name2:</strong>
  <%= @corporate.last_name2 %>
</p>

<p>
  <strong>Designation2:</strong>
  <%= @corporate.designation2 %>
</p>

<p>
  <strong>Mobile2:</strong>
  <%= @corporate.mobile2 %>
</p>

<p>
  <strong>Emailid2:</strong>
  <%= @corporate.emailid2 %>
</p>

<p>
  <strong>Salute3:</strong>
  <%= @corporate.salute3 %>
</p>

<p>
  <strong>First name3:</strong>
  <%= @corporate.first_name3 %>
</p>

<p>
  <strong>Last name3:</strong>
  <%= @corporate.last_name3 %>
</p>

<p>
  <strong>Designation3:</strong>
  <%= @corporate.designation3 %>
</p>

<p>
  <strong>Mobile3:</strong>
  <%= @corporate.mobile3 %>
</p>

<p>
  <strong>Emailid3:</strong>
  <%= @corporate.emailid3 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @corporate.description %>
</p>

<%= link_to 'Edit', edit_corporate_path(@corporate) %> |
<%= link_to 'Back', corporates_path %>
