<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
       <th>Air time</th>
      <th>Product variant</th>
      <th>Cost</th>
      <th>Sales</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<% if (@campaign_playlists != nil) then %>
    <% @campaign_playlists.each do |campaign_playlist| %>
      <tr>
        <td><%= campaign_playlist.name %></td>
        <td><%= campaign_playlist.starttime %></td>
        <td><%= campaign_playlist.endtime %></td>
         <td><%= campaign_playlist.playtime %></td>
        <td><%= campaign_playlist.product_variant.name %></td>
        <td><%= campaign_playlist.cost %></td>
         <td><%= campaign_playlist.sales %></td>
        <td><%= campaign_playlist.description %></td>
        <td><%= link_to 'Show', campaign_playlist, class: "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Edit', edit_campaign_playlist_path(campaign_playlist), class: "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Destroy', campaign_playlist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-xs" %></td>
      </tr>
    <% end %>
    <% elsif %>
    <td colspan="12">
    	Nothing here add new
    </td>
    <% end%>
  </tbody>
</table>

<br>

<%= link_to 'Download CSV list', campaign_playlists_path(:campaignid => @campaign_id,format: :csv), class: "btn btn-info btn-xs" %>
<br>