

<table class="table table-hover">
  <thead>
    <tr>
     <th>Product variant</th>
      <th>Start time</th>
      <th>Pieces</th>
      <th>Sales</th>
       
      
    </tr>
  </thead>

  <tbody>
  	<% totalpieces = 0 %>
    <% totalvalue = 0 %>
    <% @campaign_playlists.each do |campaign_playlist| %>
      <tr class="<%= category_table_row_class(campaign_playlist.campaign_play_list_status.name) %>">
        <td><%= campaign_playlist.product_variant.name if campaign_playlist.product_variant  %></td>
        <td><%= campaign_playlist.starttime %></td>
       
        <td><%= campaign_playlist.pieces %></td>

        <td><strong><%= campaign_playlist.sales %></strong></td>
        
          <td>
          
          
          </td>
          
      </tr>
      <% totalpieces += campaign_playlist.pieces %>
    <% totalvalue += campaign_playlist.sales %>
    <% end %>
    
  </tbody>
  <tfoot>
      <tr >
     <th colspan="2">Total</th>
      
      <th><%= totalpieces %></th>
      <th><%= totalvalue %></th>
       
      
    </tr>
  </tfoot>
</table>