<!-- set page title start -->
<% title "Campaign Playlist #{@campaign_playlist_id} Orders" %>
<!-- set page title end -->
<div class="row">
  <%= form_tag  url_for(:controller => 'campaign_playlists', :action => "search"), method: "get" do  %>

      <div class="col-xs-4 col-offset-xs-6">
        <div class="input-daterange input-group">
          <%= text_field_tag(:id, @campaign_playlist_id, :class => "form-control", :required => "true" )   %>

        </div>
      </div>

      <div class="col-xs-2">
        <%= submit_tag "Show", name: nil, class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-xs-6">
<p><strong>Campaign: <%= @campaign_playlist.campaign.name if @campaign_playlist.campaign %></strong></p>
<h3> <strong>Name:</strong> <%= @campaign_playlist.product_variant.name %></h3>

</div>

<div class="col-xs-6">
<strong>Starttime:</strong> <%= @campaign_playlist.starttime %> &nbsp;
 <strong>Endtime:</strong> <%= @campaign_playlist.endtime %>
 <p>
  <strong>Product Advertised:</strong>
  <%= @campaign_playlist.product_variant.name if @campaign_playlist.product_variant %>
</p>
<p>
  <strong>Description:</strong>
  <%= @campaign_playlist.description %>
</p>
</div>
</div>

<div class="well well-sm">
<div class="row">
<div class="col-xs-3">
<h5> <strong>Media Cost Rs:</strong> <%= @campaign_playlist.cost %></h5>
</div>
<div class="col-xs-3">
<h5> <strong>Product Revenue Rs:</strong> <%= @campaign_playlist.productrevenue %></h5>
</div>
<div class="col-xs-3">
<h5> <strong>Product Cost Rs:</strong> <%= @campaign_playlist.productcost %></h5>
</div>
<div class="col-xs-3">
<h5> <strong>Projected Profitability Rs:</strong> <%= @campaign_playlist.productrevenue - (@campaign_playlist.cost + @campaign_playlist.productcost) %></h5>
</div>
</div>	
</div>



<%= link_to 'Edit', edit_campaign_playlist_path(@campaign_playlist), class: "btn btn-info btn-xs" %> |
<%= link_to 'Back', @campaign_playlist.campaign, class: "btn btn-info btn-xs" %>
<hr>
	<div class="panel panel-primary">
	  <div class="panel-heading">
	   <h3 class="panel-title">Order Summary</h3>

	  </div>
	  	<%= render partial: 'sales_ppos/order_lines', :locals => {:order_lines =>  @order_lines_regular, 
			order_description: "Regular Products"}  %>
	  
	    <%= render partial: 'sales_ppos/order_lines', :locals => {:order_lines =>  @order_lines_basic, 
			order_description: "Basic Upsell"}  %>
		
		<%= render partial: 'sales_ppos/order_lines', :locals => {:order_lines =>  @order_lines_common, 
			order_description: "Common Upsell"}  %>
  </div>
  
  
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Sales PPO Master Data</h3> 
    </div>
  	<%= render 'sales_ppos/sales_ppo_mini_list' %>
  </div>
  <hr>