<!--  if @go_live == true % -->
<div class="panel panel-danger">
  <div class="panel-body">
    <div class="row">
   	 <div class="col-xs-8">
   	 	<h4><%= @regenerate_ppo %></h3>
   	 </div>
      <%= form_tag  url_for(:controller => 'customer_order_lists', :action => "inoracle"), method: "post" do  %>
	  <%= hidden_field_tag :id, @customer_order_list.id %> 
	  <%= hidden_field_tag :return_url, @return_url %>

          <div class="col-xs-4">
            <%= submit_tag "Re Generate CustDetails", name: nil, class: "btn btn-danger" %>
          </div>
      <% end %>

    </div>
  </div>
   <div class="panel-footer">Warning this take time and regenerates database overwrites old data, please use this caution. After you click on Re-Generate, do check after a while to the results to show up by refreshing the page.
   
   <!-- = link_to ' page', @return_url, class: "btn btn-info btn-xs" -->
   </div>
</div>
<!-- % end % -->
