<div class="row">
  <div class="col-xs-4">
  <div class="well well-sm">
  <div class="row">
    <%= bootstrap_form_tag url: customer_order_lists_path, :method => :GET, :enforce_utf8 => false do |f| %>
      <div class="col-xs-10">
          <%= text_field_tag(:ordernum, @ordernum,
          {:class => "form-control", :placeholder => "Search Order Number"})  %>
      </div>
      <div class="col-xs-2">
          <%= submit_tag "Ok", name: nil,  class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  </div>
  </div>


  <div class="col-xs-2">
  <div class="well well-sm">
    
      <%= bootstrap_form_tag url: media_path, :method => :GET, :enforce_utf8 => false do |f| %>
     
      <%= hidden_field_tag :complete, @complete %>
           
           
       
            <%= submit_tag "All Completed", name: nil,  class: "btn btn-primary" %>
        
      <% end %>
     
    </div>
  </div>
</div>