<p id="notice"><%= notice %></p>

<h3>Listing Customer Order Lists</h3>
<br>
<%= render 'search' %>

<br>

<table class="table table-hover">
  <thead>
    <tr>
    <th>Identify</th>
    <th>Name Address</th>
   
    
     <th>Ordered Products</th>

    
    </tr>
  </thead>

  <tbody>
    <% @customer_order_lists.each do |c| %>
   <tr>
      <td>
          <table class="table table-hover">
          <tr>
            <td colspan="3">
           <strong> Order Num <%= c.ordernum %> </strong>
            </td>
          </tr>

          <tr>
            <td colspan="3">
              <%= c.orderdate %> 
            </td>
          </tr>
          <tr>
            <td>
              <%= c.channel %> 
            </td>
            <td>
             
            </td>
             <td>
              <%= c.dnis %>
            </td>
          </tr>
          <tr>
            <td>
            User  
            </td>
            <td>
             <%= c.username %> 
            </td>
             <td>
             IP <%= c.ipadd %>
            </td>
          </tr>
         
          </table>
  </td>

 <td>
 <table class="table table-hover">
   <tr>
<td colspan="4">
<%= c.title %> <%= c.fname %> <%= c.lname %>
</td>
</tr>
<tr>
<td colspan="4">
 <%= c.add1 %> <%= c.add2 %> <%= c.add3 %> <%= c.landmark %>
</td>
</tr>
<tr>
<td>
  <%= c.city %>
</td>
<td>
 <%= c.pincode %>
</td>
<td>
<%= c.state %>
</td>
<td>
<%= c.mstate %>
</td>
<tr>
  <td>
    <%= c.tel1 %>
  </td>
  <td>
    <%= c.tel2 %>
  </td>
  <td>
    <%= c.fax %>
  </td>
  <td>
    <%= c.email %>
  </td>

</tr>
<tr>
<td>
<%= c.ccnumber %>
</td>
<td>
 <%= c.expmonth %> <%= c.expyear %>
</td>
<td>
  <%= c.cardtype %>
</td>
   </tr>
<tr>  
<td>
Amount
</td>
<td>
  <%= c.carddisc %>
</td>
<td>
  <%= c.totalamt %>
</td>
</tr>
 </table>
 
<td>
<table class="table table-hover">
  <tr>
      <th>
        Prod
      </th>
      <th>
        Pcs
      </th>
    </tr>
    <tr>
      <td>
        <%= c.prod1 %>
      </td>
      <td>
         <%= c.qty1 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= c.prod2 %>
      </td>
      <td>
         <%= c.qty2 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= c.prod3 %>
      </td>
      <td>
         <%= c.qty3 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= c.prod4 %>
      </td>
      <td>
         <%= c.qty4 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= c.prod5 %>
      </td>
      <td>
         <%= c.qty5 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= c.prod6 %>
      </td>
      <td>
         <%= c.qty6 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= c.prod7 %>
      </td>
      <td>
         <%= c.qty7 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= c.prod8 %>
      </td>
      <td>
         <%= c.qty8 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= c.prod9 %>
      </td>
      <td>
         <%= c.qty9 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= c.prod10 %>
      </td>
      <td>
         <%= c.qty10 %>
      </td>

    </tr>
</table>
  <td>
       <td><%= link_to 'Show',c , class: "btn btn-primary btn-xs" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


 