<div class="page-header">
  <small>Customer Id <%= @customer.id%></small> &nbsp;
<div class="row">


  <div class="col-xs-6">
   <h1><%= @customer.fullname%> </h1>
  </div>
  <div class="col-xs-6">
  <div class="row">
    <div class="col-xs-6">
      <small> Mobile No <%= @customer.mobile%> </small><br/>
      <small> Mobile No <%= @customer.alt_mobile%></small> 
    </div>
    <div class="col-xs-6">
    <small> Email Id  <%= @customer.emailid%> </small><br/>
    <small> Email Id  <%= @customer.alt_emailid%></small>
    </div>
  </div>
</div>
</div>
