<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-xs-1">
  	<label>Name</label>
  </div>
  <div class="col-xs-2">
  	 <%= f.select(:salute, 
    options_from_collection_for_select(Salute.all, :name, :name), 
    {:prompt => 'Please Choose'}, :class => "form-control col-xs-1")  %>
  </div>
  <div class="col-xs-4">
  	<%= f.text_field :first_name,  :class => "form-control" %>
  </div>
  <div class="col-xs-4">
  	 <%= f.text_field :last_name,  :class => "form-control" %>
  </div>
  <div class="col-xs-1">
  	
  </div>
</div>
  
 
  <div class="row">
  <div class="col-xs-1">
  	 <%= f.label :mobile %>
  </div>
 
  <div class="col-xs-4">
  	 <%= f.text_field :mobile,  :class =>"form-control", :readonly => "true" %>
  </div>
  <div class="col-xs-4">
  	<%= f.text_field :alt_mobile,  :class =>"form-control", :placeholder => "alt mobile no" %>
  </div>
  <div class="col-xs-2">
  	
  </div>
</div>

 <div class="row">
  <div class="col-xs-1">
  	 <%= f.label :emailid %>
  </div>
 
  <div class="col-xs-4">
  	  <%= f.text_field :emailid,  :class =>"form-control", :placeholder => "email id" %>
  </div>
  <div class="col-xs-4">
   <%= f.text_field :alt_emailid,  :class =>"form-control", :placeholder => "Alernate email id" %>
  </div>
  <div class="col-xs-2">
  	
  </div>
</div>
   <div class="row">
  <div class="col-xs-1">
  	<label>Notes</label>
  </div>
 
  <div class="col-xs-8">
  	 <%= f.text_area :description,  :class => "form-control", :rows => 3, :placeholder => "Notes" %>
  </div>
 
</div>
 
 
  <div class="row">
  	  <div class="col-xs-2 col-xs-offset-6">
  	  	<%= f.submit "Save / Update", class: "btn btn-primary" %>
  	  </div>
    
  </div>
<% end %>
