<!-- set page title start -->
<% title "Customer List #{@order_id} #{@mobile} #{@emailid} #{@calledno}" %>
<!-- set page title end -->

<div class="row">
	<div class="col-xs-6">
		<h4>Customer List</h4>
	</div>
	<div class="col-xs-6">
		<%= render 'search' %>
	</div>
	
</div>



<% unless @customers.blank? %>
<br>
<div class="digg_pagination">
    <%= will_paginate @customers, :container => false %>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile </th>
      <th>State</th>
      
      <th>Emailid</th>
      
     
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.salute %>
        	<%= customer.first_name %>
        	<%= customer.last_name %></td>
        <td><%= customer.mobile %> <br/>
        <%= customer.alt_mobile %></td>
        <td><%= customer.from_state %></td>
       
        <td><%= customer.emailid %> <br/>
        <%= customer.alt_emailid %></td>
        
        <td><%= link_to 'Show',customer , class: "btn btn-primary btn-xs" %></td>
         <td><%= link_to 'Order Now', edit_customer_path(customer, :calledno => @calledno, :mobile => @mobile), class: "btn btn-primary btn-xs" %></td>
       <!--<td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>--> 
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h3>There are no customers</h3>  
<%end%>
<br>
<br>
<div class="digg_pagination">
    <%= will_paginate @customers, :container => false %>
</div>
<br>
<%= link_to 'New Customer', new_customer_path(:calledno => @calledno, :mobile => @mobile, :force=>'yes') , class: "btn btn-info btn-lg" %>
