<h3>List of Products</h3>
<% if @ropmasters.present? %>
<table class="table table-hover">
  <thead>
    <tr>
       <td>prod</td>
           <td>PC1 <br>     PC2 <br> PC3 </td>
       <td>BP1 <br>      BP2  <br>      BP3 </td>
       <td>SH1 <br>     SH2  <br>      SH3 </td>
       
       <td>VC1  <br>      VC2  <br>      VC3   </td>
        <td>TC1  <br>    TC2  <br>      TC3   </td>

           <td>PACK1   <br>     PACK2 <br>      PACK3   </td>
        <td>WBP </td>
        <td>WVC </td>


      <td>PCB1 </td>
       <td>BPB1 </td>
      <td>SHB1 </td>
      <td>VCB1 </td>
       <td>TCB1 </td>
        <td>PCP1 </td>
        <td>BPP1 </td>
          <td>SHP1 </td>
          <td>VCP1 </td>
             <td>TCP1 </td>
               <td>PCM1 </td>
                 <td>BPM1 </td>
                   <td>SHM1 </td>
                      <td>VCM1 </td>
                         <td>TCM1 </td>
                            <td>DNBASIC </td>
   <td>WPC </td>
      <td>ROYALTY </td>
         <td>COPRET </td>
    </tr>
  </thead>

  <tbody>
    <% @ropmasters.each do |d| %>
      <tr>
        <td><%= d.prod %></td>
           <td><%= d.pc1 %> <br>       <%= d.pc2 %><br>       <%= d.pc3 %></td>
       <td><%= d.bp1 %> <br>      <%= d.bp2 %> <br>      <%= d.bp3 %></td>
       <td><%= d.sh1 %> <br>      <%= d.sh2 %> <br>       <%= d.sh3 %></td>
       
       <td><%= d.vc1 %>  <br>      <%= d.vc2 %> <br>       <%= d.vc3 %>  </td>
        <td><%= d.tc1 %>  <br>      <%= d.tc2 %> <br>       <%= d.tc3 %>  </td>

           <td><%= d.pack1 %>  <br>      <%= d.pack2 %> <br>       <%= d.pack3 %>  </td>
        <td><%= d.wbp %></td>
        <td><%= d.wvc %></td>


      <td><%= d.pcb1 %></td>
       <td><%= d.bpb1 %></td>
      <td><%= d.shb1 %></td>
      <td><%= d.vcb1 %></td>
       <td><%= d.tcb1 %></td>
        <td><%= d.pcp1 %></td>
        <td><%= d.bpp1 %></td>
          <td><%= d.shp1 %></td>
          <td><%= d.vcp1 %></td>
             <td><%= d.tcp1 %></td>
               <td><%= d.pcm1 %></td>
                 <td><%= d.bpm1 %></td>
                   <td><%= d.shm1 %></td>
                      <td><%= d.vcm1 %></td>
                         <td><%= d.tcm1 %></td>
                            <td><%= d.dnbasic %></td>
   <td><%= d.wpc %></td>
      <td><%= d.royalty %></td>
         <td><%= d.copret %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h3>Nothing found </h3>
<% end %>
