<div class="row">
<div class="col-xs-4">
<h3>Product Cost Details</h3>
<p>Details of Products with the associated costs</p>
</div>
<div class="col-xs-4 col-xs-offset-4">
<%= render 'cost_search' %>
</div>
</div>
<hr>
<%= render 'product_cost_masters/list' %>
<hr>
<div class="well well-sm">
<small>
	<%= render 'cost_list' %>
<hr>
<%= render 'cost_hbn_list' %>
<hr>
<%= render 'cost_upsell_list' %>
<hr>
<%= render 'prod_list' %>

</small>


