<%= simple_form_for(@india_city_list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    
    <%= f.state if f.state.present? %>
    <%= f.input(:state, collection:@states, label_method: :name, value_method: :name, include_blank: false, selected: f.state)  %>

    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
