<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-xs-6"><h3><%= @search %> <%= @found %>  </h3>    </div>
    <div class="col-xs-6"> <%= render 'search' %></div>
</div>
<br>
<div class="alert alert-success">
<h4>We will use this list in our application </h4>
</div>

<hr>
<br>
<div class="digg_pagination">
    <%= will_paginate @product_masters, :container => false %>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @india_city_lists.each do |india_city_list| %>
      <tr>
        <td><%= india_city_list.name %></td>
        <td><%= india_city_list.state %></td>
        <td><%= link_to 'Show', india_city_list %></td>
        <td><%= link_to 'Edit', edit_india_city_list_path(india_city_list) %></td>
        <td><%= link_to 'Destroy', india_city_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="digg_pagination">
    <%= will_paginate @product_masters, :container => false %>
</div>
<br>
<br>
<div class="row">
<div class="col-xs-offet-8 col-xs-2">
<%= link_to 'Add New city ', new_india_city_list_path, class: "btn btn-primary" %>
</div>
</div>

