<%=  simple_form_for(@product_training_manual, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if @product_training_manual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_training_manual.errors.count, "error") %> prohibited this product_training_manual from being saved:</h2>

      <ul>
      <% @product_training_manual.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  	  
     <%= f.hidden_field :productid %>

  <div class="field">
  	    <%= f.input :name, collection: @product_training_headings, value_method: :name, include_blank: false, label: "Heading" %>
  	
  </div>
  <div class="field">
   
     <%= f.bootsy_area :description, as: :bootsy, :rows => 10, label:"Description ", placeholder:"You can use tables and various formatting options" %>
  </div>
  <div class="field">
   
    <%= f.input :quicknotes, label:"Quick Notes", placeholder:"Optional Quick Notes in TEXT only" %>
  </div>
  <div class="row">
  <div class="col-xs-2 col-md-offset-5">
   <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  </div>
<% end %>