<%= bootstrap_form_for(@order_master) do |f| %>
  <% if @order_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_master.errors.count, "error") %> prohibited this order_master from being saved:</h2>

      <ul>
      <% @order_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
 
    <%= f.datetime_select :orderdate %>
  </div>
  <div class="field">
   
    <%= f.text_field :employeecode rescue nil%>
  </div>
  <div class="field">
   
    <%= f.number_field :employee_id rescue nil%>
  </div>
  <div class="field">
   
    <%= f.number_field :customer_id rescue nil%>
  </div>
  <div class="field">
  
    <%= f.number_field :customer_address_id rescue nil%>
  </div>
  <div class="field">
   
    <%= f.text_field :billno %>
  </div>
  <div class="field">
  
    <%= f.text_field :external_order_no rescue nil%>
  </div>
  <div class="field">
   
    <%= f.number_field :pieces rescue nil%>
  </div>
  <div class="field">
    
    <%= f.text_field :subtotal rescue nil%>
  </div>
  <div class="field">
 
    <%= f.text_field :taxes rescue nil%>
  </div>
  <div class="field">
  
    <%= f.text_field :shipping rescue nil%>
  </div>
  <div class="field">
   
    <%= f.text_field :codcharges rescue nil%>
  </div>
  <div class="field">

    <%= f.text_field :total rescue nil%>
  </div>
  <div class="field">
   
    <%= f.number_field :order_status_master_id rescue nil%>
  </div>
  <div class="field">
   
    <%= f.number_field :orderpaymentmode_id rescue nil%>
  </div>
  <div class="field">
   
    <%= f.number_field :campaign_playlist_id rescue nil%>
  </div>
  <div class="field">

    <%= f.number_field :order_source_id rescue nil%>
  </div>
   <div class="field">

    <%= f.number_field :media_id rescue nil%>
  </div>
   <div class="field">

    <%= f.number_field :order_for_id rescue nil%>
  </div>
   <div class="field">

    <%= f.text_field :userip %>
  </div>
   <div class="field">

    <%= f.text_field :sessionid %>
  </div>
   <div class="field">

    <%= f.text_field :external_order_no %>
  </div>
  <div class="field">
  
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


