


<% @order_masters.each do |order_master| %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Order No: <%= order_master.id %></h3>
  </div>
  <div class="panel-body">
  


<div class="well well-sm">
<div class="row">
  <div class="col-xs-4">
    <strong>Date:</strong>   <%= order_master.orderdate %> 
  </div>
  <div class="col-xs-2">
    <strong>Billno:</strong>   <%= order_master.billno %>
  </div>
   <div class="col-xs-2">
    
  </div>
  <div class="col-xs-2">
    <strong>External order no:</strong>   <%= order_master.external_order_no %>
  </div>
 
</div>
<div class="row">
  <div class="col-xs-4">
 <strong> Called No </strong>  <%= order_master.calledno %>
  </div>
<div class="col-xs-4">
<strong> Media </strong> <%= order_master.medium.name rescue nil%>
  </div>
  <div class="col-xs-4">
  <strong>Play list:</strong> <%= order_master.campaign_playlist.name rescue nil%>
  </div>

</div>
<div class="row">
  <div class="col-xs-4">
 <strong>Campaign:</strong>
<%= order_master.campaign_playlist.campaign.name rescue nil%> 
  </div>
<div class="col-xs-4">
<strong>Employee code:</strong>
 <%= @order_master.employeecode %>
  </div>
  <div class="col-xs-4">
<strong>Employee:</strong>  <%= order_master.employee_id %>
  </div>

</div>
</div>



<div class="row">
  

  <div class="col-xs-6">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  
        
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item"><strong>Pieces:</strong> <%= order_master.pieces %></li>
          <li class="list-group-item"><strong>Order Status:</strong> <%= order_master.order_status_master.name rescue nil%></li>
          <li class="list-group-item"><strong>Payment mode:</strong> <%= order_master.orderpaymentmode.name rescue nil%> </li>
         
        </ul>
    </div>
   
   
  </div>

<div class="col-xs-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <!-- Table -->
          <table class="table table-hover">
        <tr><td> <strong>Subtotal:</strong>   </td> <td> <%= order_master.subtotal %></td> </tr>
        <tr><td> <strong>Taxes:</strong></td> <td>  <%= order_master.taxes %></td> </tr>
        <tr><td><strong>Shipping:</strong>  </td><td><%= order_master.shipping %> </td>  </tr>
        <tr><td> <strong>Cod charges:</strong></td><td> <%= order_master.codcharges %></td> </tr>
        <tr><td><strong>Total:</strong> </td><td><%= order_master.total %> </td></tr>
        </table>  
    </div>

</div>
</div>
<div class="clearfix"></div>
<div class="well well-lg">
<div class="row">
<div class="col-xs-1">
<strong>Notes:</strong>
</div>
    <div class="col-xs-10">
     
      <%= order_master.notes %>
    </div>

</div>
</div>
<div class="clearfix"></div>
  </div>
</div>
<% end %>