<% if @order_lines_free.present? %>


    <% @order_lines_free.each do |order_line| %>
      <tr>
        <td><%= order_line.description %></td>
        <td class="text-right"><%= order_line.pieces %></td>
       <td class="text-right"><%= order_line.subtotal %></td>
        <td class="text-right">
<%= order_line.subtotal + order_line.shipping %>
<hr>
     <small><%= order_line.shipping %> </small>   </td>
        
       <td class="text-right">
        <% if order_line.codcharges != 0 %>

<%= (order_line.subtotal || 0) + (order_line.shipping || 0) + (order_line.codcharges || 0)  %> 
<% else %>
          0.00
        <% end %>
<hr>
<small> <%= order_line.codcharges %></small>
       </td> 
       <td class="text-right">
        <% if order_line.maharastracodextra != 0 %>
        <%= (order_line.subtotal || 0) + (order_line.shipping || 0) + (order_line.codcharges || 0) + (order_line.maharastracodextra || 0) %>
        <% else %>
          0.00
        <% end %>
 <hr>
      <small> <%= order_line.maharastracodextra %></small>
       </td>
        
        <td class="text-right">
<% if order_line.creditcardcharges != 0 %>
        <%= (order_line.subtotal || 0) + (order_line.shipping || 0)  + (order_line.creditcardcharges || 0) %> 
        <% else %>
          0.00
        <% end %>
<hr>
<small> <%= order_line.creditcardcharges %></small>
        </td>
        <td class="text-right">
        <% if order_line.maharastraccextra != 0 %>

<%= (order_line.subtotal || 0) + (order_line.shipping || 0) + (order_line.creditcardcharges || 0)  + (order_line.maharastraccextra || 0)  %> 
<% else %>
          0.00
        <% end %>
<hr>
<small> <%= order_line.maharastraccextra %></small>
       </td>  
      </tr>
    <% end %>
    
<% else %>
 <tr>
 <td colspan="8">
<div class="alert alert-warning" role="alert">
<h4>There are no upsells in this order, to add upsell click below!</h4>
</div>
</td>
</tr>
<% end %>