<% if @order_masters.present? %>
<br>
<%= will_paginate @order_masters %>
<br>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
    <th>No</th>
    <th>Channel / Show</th>
      <th>Orderdate / Employee</th>
      <th>Customer / Mobile</th>
      <th>City / State</th>
      <th colspan="8">Products</th>
     
    
       <th>Time Taken</th>
      
     
    </tr>
  </thead>

  <tbody>
  <% @sno = 1 %> <% totalnos = 0 %> <% totalvalue = 0 %>
    <% @order_masters.each do |order_master| %>
      <tr>
      <td><%= @sno %></td>
      <td><%= order_master.medium.name if order_master.medium %> <br>
      <%= order_master.campaign_playlist.product_variant.name || "No Show" if order_master.campaign_playlist.present? %>
       </td>
        <td><%= (order_master.orderdate).strftime('%d-%b-%Y') %>
    <small><%= Time.at(order_master.orderdate).strftime('%H:%M %P %Z') %></small>
<br>
<%= order_master.employee.name if order_master.employee %> 
        <small><strong><%= order_master.employeecode %> </strong></small>
 <small><%= order_master.employee_id %> </small>
        </td>
       
        <td><%= order_master.customer.first_name rescue nil %> <%= order_master.customer.last_name rescue nil %> <br>
          <%= order_master.mobile %>
        </td>
        <td><%= order_master.customer_address.city  rescue nil %>
        <%= order_master.customer_address.state  rescue nil %></td>
        <td  colspan="8">
          <table class="table table-hover table-bordered">
          <tr>
          <td><strong>
          <% if order_master.external_order_no.present? %>
          <%= link_to order_master.external_order_no, custordersearch_path(ordernum: order_master.external_order_no), :target => "_blank" %>
          <% else %>
          Un processed order
          <% end %>
          </strong> 
          </td>
          <td>Ref No: 
          <%= link_to order_master.id, order_masters_review_path(order_id: order_master.id), :target => "_blank" %>
           
          </td>
          </tr>
            <% order_master.order_line.each do |line| %>

            <tr>
             <td colspan="2"> <%= line.description  rescue nil %></td>
            </tr>
            <% end %>
            <tr>
              <td>Pieces: <%= order_master.pieces %></td>
         <td>Total: <%= order_master.total %></td>
            </tr>
            <tr>
              <td colspan="2"><%= order_master.order_status_master.name %></td>
            </tr>
            <tr >
              <td colspan="2"><%= order_master.orderpaymentmode.name if order_master.orderpaymentmode %></td>
            </tr>
          </table>

        </td>
          
        
        
        
         <td><small><%= (order_master.timetaken) %> Secs</small>  <br>
         
           
         </td>
       
       
      </tr>
       <% @sno += 1 %>
       <% totalnos += order_master.pieces %> 
       <% totalvalue += order_master.total %>
    <% end %>
  </tbody>
  <tfoot>
   
    <tr>
    <th colspan="7">Total</th>  
      <th colspan="2">Pieces: <%= totalnos %> </th>   
       <th colspan="2"> Value: <%= totalvalue %></th>
      

    </tr>
  

  </tfoot>
</table>
<br>
<%= will_paginate @order_masters %>
<br>
<% else %>
<div class="well well-sm">
<h4> <%= @ordersearch %></h4>

</div>
<% end %>