<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Orderdate</th>
      <th>Employee</th>
      <th>Customer</th>
      <th>State</th>
        <th>Mobile</th>
      <th>Order no</th>
      <th>Pieces</th>
      <th>Total</th>
      <th>Order status</th>
      <th>Order payment mode</th>
       <th>Time Taken</th>
      
     
    </tr>
  </thead>

  <tbody>
    <% @order_masters.each do |order_master| %>
      <tr>
        <td><%= order_master.orderdate.strftime('%d-%m-%Y') %>
       <strong><%= order_master.id %></strong> 
        </td>
        <td><%= order_master.employee.name if order_master.employee %> 
        <small><strong><%= order_master.employeecode %> </strong></small>
 <small><strong><%= order_master.employee_id %> </strong></small>
        </td>
        <td><%= order_master.customer.first_name rescue nil %> <%= order_master.customer.last_name rescue nil %></td>
        <td><%= order_master.customer_address.state  rescue nil %></td>
        <td><%= order_master.mobile %></td>
          <td><%= order_master.external_order_no %></td>
        <td><%= order_master.pieces %></td>
         <td><%= order_master.total %></td>
        <td><%= order_master.order_status_master.name %></td>
        <td><%= order_master.orderpaymentmode.name if order_master.orderpaymentmode %></td>
         <td><%= (order_master.updated_at - order_master.created_at) %></td>
       
       
      </tr>
    <% end %>
  </tbody>
</table>