<% if (@vpp != nil) then %>
<table class="table table-hover table-bordered">
<thead>
  <tr>
    <th>Orderdate</th>
    <th>Paid date</th>
    <th>Return date</th>
    <th>Refund date</th>
    <th>Operator</th>
    <th>Manifest</th>
    <th>Invoice No</th>
    <th>City</th>
    <th>State</th>
    <th>Prod</th>
    <th class="text-right">Quantity</th>
    <th class="text-right">Invoice amount</th>
  </tr>
</thead>

<tbody>
<% @vpp.each do |v| %>
  <tr>
    <td><%= v.orderdate.strftime("%d-%b-%Y") || "NA" if v.orderdate %></td>
    <td><%= v.paiddate.strftime("%d-%b-%Y") || "NA" if v.paiddate %></td>
    <td><%= v.returndate.strftime("%d-%b-%Y") || "NA" if v.returndate  %></td>
    <td><%= v.refunddate.strftime("%d-%b-%Y") || "NA" if v.refunddate  %></td>
    <td><%= v.operator %></td>
    <td><%= v.manifest %></td>
    <td><%= v.invoice %></td>
    <td><%= v.city %></td>
    <td><%= v.state %></td>
    <td><%= v.prod %></td>
    <td class="text-right"><%= v.quantity %></td>
    <td class="text-right"><%= v.invoiceamount %></td>
  </tr>
<% end %>
  </tbody>
   <thead>
     <tr>
     <th><strong>Total:</strong></th>
     <th></th>
     <th></th>
     
<th></th>
<th></th>
<th></th>
<th></th>
<th class="text-right"><strong><%= @retailsalespieces %></strong></th>
<th class="text-right"><strong><%= number_with_delimiter(@retailsalestotal, locale: :en)   %></strong></th>


    </tr>
</table>

<% else %>
  <div class="well well-lg">
  No Retail sale orders found
  </div>
 <% end %>
 <br>