<!-- set page title start -->
<% title "Search #{@ordernum} Order No" %>
<!-- set page title end -->
<p id="notice"><%= notice %></p>
<h3>Customer Order Details (CUSTDETAIL Order id Only)</h3>
<br>
<%= render 'search_order' %>

<br>

<%= render ('order_summary') %>
<br>

<%= render ('custdetails/details') %>
<br>

<br>
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Order in Dispatch / Paid / Returned (VPP)</h3>
  </div>
  <% if @vpp.present? %>
 <%= render 'vpp' %>

<% else %>
<div class="well well-sm">
<h4><%= @vppsearch %></h4>
</div>
<% end %>
</div>

<br>
<br>
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Order in Transfer Order (DEALTRAN)</h3>
  </div>
  <% if @dealtran.present? %>
 <%= render 'deal_tran/list' %>

<% else %>
<div class="well well-sm">
<h4><%= @dealtransearch %></h4>
</div>
<% end %>
</div>

<br>
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Order in PPO Table</h3>
  </div>
  <%= render 'sales_ppos/sales_ppo_list' %>
</div>

 <% if (current_user.employee_role.sortorder < 6) %>
<div class="panel panel-primary">
 <div class="panel-heading">
   <h3 class="panel-title">PPO Calculation - not visible to most of the team</h3>
 </div>
 <%= render 'sales_ppos/calculation' %>
</div>

 <%= render 'order_masters/all_dates' %>
<% end %>
