<%= simple_form_for(@return_rate) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :sort_order %>
    <%= f.input :total %>
    <%= f.input :cancelled %>
    <%= f.input :returned %>
    <%= f.input :paid %>
    <%= f.input :transfer_total %>
    <%= f.input :transfer_paid %>
    <%= f.input :transfer_cancelled %>
    <%= f.input :no_of_days %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
