<div class="well well-sm">

<%= bootstrap_form_for(@media_tape) do |f| %>
  
<%= f.hidden_field :product_variant_id %>
<%= f.hidden_field :media_tape_head_id %>
  
  <div class="row">
    <div class="col-xs-10">
      <%= f.text_field :name,  :label => "Tape File Name", :required => true, :placeholder => "Please select the product above for name or for non product videos type in names like HBN logo etc"  %>

      
        
    </div>
   
    <div class="col-xs-2">
<label>File Extension</label> <br>
     <%=   select_tag "file_extension", options_for_select([ ".avi", ".mcx" ], ".avi"), {:class => "form-control"} %>
    </div>
     <div class="row">
    <div class="col-xs-12">
    <small> What does this tape contain? Give detailed information about the contents like logo etc </small>
    </div>
    </div>

  </div>
   <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :description,  :label => "Tape Full Path", :required => true, :placeholder => "Please enter full path name for tapes"  %>
       
    </div>
    </div>
  <div class="field">
    <%= f.select(:media_id, 
    options_from_collection_for_select(@medialist, :id, :mediainfo, selected: @media_tape.media_id), 
    {prompt: "Please select the Media List",  :label => "Select Media"}, :class => "form-control")  %>
    <small> Only media which we pay in advance show up here, this is optional </small>
  
  </div>
  <div class="row">
   <div class="col-xs-2">
      <%= f.text_field :release_date,  :label => "Release Date" , :data => {:provide => "datepicker"} , :required => true %>
  </div>
   <div class="col-xs-2">
       <%= f.number_field :duration_secs,  :label => "Duration in Secs" , :required => true %>
        <small>Hr x 60 x 60 + Min x 60 + Sec </small>
   </div>
    <div class="col-xs-2">
       <%= f.number_field :frames,  :label => "Frames " , :required => true %>
        <small>0 to 24</small>
   </div>
    <div class="col-xs-2">
       <%= f.number_field :tape_ext_ref_id, :label => "External Tape No" , :required => true %>
       <small> No duplicates allowed </small>
   </div>
    <div class="col-xs-2">
       <%= f.number_field :sort_order, :label => "Order" , :required => true %>
       <small> Sort the listings </small>
   </div>
   <div class="col-xs-2">
   
    <%= f.text_field :unique_tape_name, :label => "Unique Tape Number"  %>
    <small>System Generated If you leave this blank then the unique numeric tape id would be added after saving </small>
  
  </div>
  </div>
  

  
  
  
 
  <div class="row">
    <div class="col-xs-3 col-md-offset-8">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>

</div>