<% if @media_tapes.present? %>

<table class="table table-hover">
  <thead>
    <tr>
     <th>Sort No</th>
      <th>Tape Name</th>
       <th>Release Date</th>
      <th>Duration secs</th>
      <th>Frmes</th>
      <th>Tape ext ref</th>
      <th>Unique tape name</th>
      <th>Product variant</th>

    </tr>
  </thead>
<% @total_secs = 0 %> <% @total_tapes = 0 %>
  <tbody>
    <% @media_tapes.each do |media_tape| %>
      <tr>
        <td><%= media_tape.sort_order %> <% @total_tapes += 1 %> </td>
        <td><%= media_tape.name %></td>
        <td><%= media_tape.release_date.strftime("%d/%m/%Y") %></td>
        <td><%= media_tape.duration_secs %> <% @total_secs += media_tape.duration_secs %></td>
        <td><%= media_tape.frames %></td>
        <td><%= media_tape.tape_ext_ref_id %></td>
        <td><%= media_tape.unique_tape_name %></td>
        <td><%= media_tape.product_variant.productinfo || "No Product Selected" if media_tape.product_variant.present? %></td>

      </tr>
    <% end %>
  </tbody>
  <thead>
    <tr>
     <th colspan="3">Total Secs</th>
     <th> <%= @total_secs %></th>
     <th colspan="3">Total Tapes</th>
     <th><%= @total_tapes %></th>
    </tr>
  </thead>
</table>

<br/>
<div id='tape_add_button'>
<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
  <%= submit_tag "Add to Campaign Playlist", name: nil, class: "btn btn-primary" %>
    </div>

</div>

</div>

<% else %>
<div class="well well-sm">No Media Tapes are found, you cannot add anything you add media tapes for this Master!</div>
<% end %>
<br>
