<% title "Product List #{@search}" %>
<div class="row">
    <div class="col-xs-6"><h3><%= @search %> <%= @found %>  </h3>    </div>
    <div class="col-xs-6"> <%= render 'search' %></div>
</div>
<hr>
<br>
<div class="digg_pagination">
    <%= will_paginate @product_masters, :container => false %>
</div>
<br>


 <% if @product_masters.present? %>
 <% @product_masters.each do |product_master| %>
 
    <%= render('product_master', :product_master => product_master) %>
         <br>
       

  <% end %>
 
<% else %>
<h3>No products found </h3>
<% end %>
<br>
<br>
<div class="digg_pagination">
    <%= will_paginate @product_masters, :container => false %>
</div>
<br>

<br>
<br>
<div class="well well-sm">
<small>
<h1>Inactive Products </h1>
<hr>
<br>
<% if @inactive_product_masters.present? %>
 <% @inactive_product_masters.each do |product_master| %>
 <%= render('product_master', :product_master => product_master) %>
         <br>
 <% end %>
<% else %>
<h3>No products found </h3>
<% end %>
</small>
</div>

<br>

<%= link_to 'Add New Product', new_product_master_path, class: "btn btn-primary" %>
