<h3>Active Products</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Price</th>
      <th>Total</th>
      <th>Cost</th>
      <th>Revenue</th>
     
      
    </tr>
  </thead>

  <tbody>
    <% @product_masters.each do |product_master| %>
      <tr>
      	
        <td><%= product_master.name %></td>
       
        <td><%= product_master.extproductcode %></td>
        <td><%= product_master.taxes %></td>
        <td><%= product_master.total %></td>
        <td><%= product_master.productcost %></td>
        <td><%= product_master.productrevenue %></td>
       
    
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<div class="well well-sm">
<h3>Inactive Products </h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Price</th>
      <th>Taxes</th>
      <th>Total</th>
      <th>Cost</th>
      <th>Revenue</th>
     
      
    </tr>
  </thead>

  <tbody>
    <% @product_masters.each do |product_master| %>
      <tr>
        
        <td><%= product_master.name %></td>
       
        <td><%= product_master.extproductcode %></td>
        <td><%= product_master.taxes %></td>
        <td><%= product_master.total %></td>
        <td><%= product_master.productcost %></td>
        <td><%= product_master.productrevenue %></td>
       
    
      </tr>
    <% end %>
  </tbody>
</table>


</div>