<!-- set page title start -->
<% title "Order payment" %>
<!-- set page title end -->

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-xs-4">
		<h3>Pending Payments</h3>
	</div>
	<div class="col-xs-8">
		<%= render 'date_range_search' %>
	</div>
	
</div>
<div class="row">
	<div class="col-xs-4"><%= render 'filter' %></div>
	<div class="col-xs-8">
		<br>
		<div class="digg_pagination">
		  <%= will_paginate @order_payments, :container => false %>
		</div>
		<br> 
	</div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
		<th>Order Date</th>
      	<th>Order Ref</th>
		<th>Mode</th>
      	<th>Customer</th>
		<th>Mobile</th>
      	<th>Paid</th>
      	<th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_payments.each do |order_payment| %>
      <tr>
		<td><%= order_payment.created_at.strftime("%d-%b-%y") if order_payment.created_at %></td>
        <td>
		<%= link_to "View Details", order_masters_review_path(order_id: order_payment.order_master_id), target:"_blank", class:"btn btn-info btn-xs" %> </td>
		<td><%= order_payment.orderpaymentmode.name if order_payment.orderpaymentmode %></td>
        <td><%= order_payment.order_master.fullname if order_payment.order_master %></td>
        <td><%= order_payment.order_master.mobile if order_payment.order_master %></td>
        <td><%= order_payment.paid_date.strftime("%d-%b-%y") || "NO" if order_payment.paid_date %></td>
        <td><%= link_to 'Edit', edit_order_payment_path(order_payment), class: "btn btn-primary btn-sm" %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
	<div class="col-xs-4"><%= render 'filter' %></div>
	<div class="col-xs-8">
		<br>
		<div class="digg_pagination">
		  <%= will_paginate @order_payments, :container => false %>
		</div>
		<br> 
	</div>
</div>
