<table class="table table-hover">
  <thead>
    <tr>
      <th>Page Name</th>
      <th>Order</th>
      <th>Url</th>
      <th>Employee</th>
      <th>Est Secs</th>
      
    </tr>
  </thead>

  <tbody>
    <% @page_trails.each do |page_trail| %>
      <tr>
        <td><%= page_trail.name %></td>
        <td><%= page_trail.order_id %></td>
        <td><%= page_trail.url %></td>
        <td><%= page_trail.employee.name if page_trail.employee %></td>
        <td><%= page_trail.duration_secs %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>