<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @product_variant_add_on.productid %>
</p>

<p>
  <strong>Productvariantid:</strong>
  <%= @product_variant_add_on.productvariantid %>
</p>

<%= link_to 'Edit', edit_product_variant_add_on_path(@product_variant_add_on) %> |
<%= link_to 'Back', product_variant_add_ons_path %>
