
<% provide(:title, 'Sign up') %>
<h1>About => Try New Things here</h1>



 <div class="row">
 <%= bootstrap_form_tag url: product_variants_path, :method => :GET, :enforce_utf8 => false do |f| %>
<div class="col-xs-4">
<%= text_field_tag(:search, nil, :class => "form-control", :required => "true", :placeholder => "Search city", :id => "project" )   %>
</div>
<div class="col-xs-4">
<%= text_field_tag(:city, nil, :class => "form-control", :required => "true", :placeholder => "Selected City", :id => "project-id" )   %>
</div>
<div class="col-xs-2">
  <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
</div>
<% end %>
  <div class="col-xs-2">   
      <%= bootstrap_form_tag url: product_variants_path, :method => :GET, :enforce_utf8 => false do |f| %>
      <%= hidden_field_tag :showall, @showall %>
            <%= submit_tag "All", name: nil,  class: "btn btn-primary" , data: { confirm: @timenow } %>
      <% end %>
  </div>
</div>
<script type="text/javascript">
   $(function() {
    $( "#project" ).autocomplete({
      minLength: 2,
      source: "show_city",
      focus: function( event, ui ) {
        $( "#project" ).val( ui.item.name );
        return false;
      },
      select: function( event, ui ) {
        $( "#project" ).val( ui.item.name );
        $( "#project-id" ).val( ui.item.name );
       
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.name + "<br>" + item.state + "</a>" )
        .appendTo( ul );
    };
  });
  </script>

