<% provide(:title, 'Sign up') %>
<h1>About => Try New Things here</h1>
Teste for: <%= @test %> <%= @values %>
<p class="lead">
n1<% @n1 %> n2<% @n2 %> n3<% @n3 %>
<%= @list %>
</p>
 <div class="row">
 <%= bootstrap_form_tag url: show_city_path, :method => :GET, :enforce_utf8 => false do |f| %>
<div class="col-xs-3">
<%= text_field_tag(:search, nil, :class => "form-control", :required => "true", :placeholder => "Search city", :id => "project" )   %>
</div>

<div class="col-xs-3">
<%= text_field_tag(:city, nil, :class => "form-control",:readonly => "true", :required => "true", :placeholder => "Selected City", :id => "project-id" )   %>
</div>
<div class="col-xs-2">
<%= text_field_tag(:search, nil, :class => "form-control", :required => "true", :placeholder => "Search pincode", :id => "pincode" )   %>
</div>
<div class="col-xs-2">
     <%= text_field_tag(:state, nil, :class => "form-control",:readonly => "true", :required => "true", :placeholder => "Selected City", :id => "project-state" )   %>

  
  </div>
<div class="col-xs-1">
  <%= submit_tag "Ok", name: nil, class: "btn btn-primary" %>
</div>
<% end %>
</div>

<script type="text/javascript">
   $(function() {
    $( "#project" ).autocomplete({
      minLength: 2,
      source: "show_city",
      focus: function( event, ui ) {
        $( "#project" ).val( ui.item.name );
        return false;
      },
      select: function( event, ui ) {
        $( "#project" ).val( ui.item.name );
        $( "#project-id" ).val( ui.item.name );
        $( "#project-state" ).val( ui.item.state );
        $("#state_id").val( ui.item.state );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append(  item.name + " - <strong>" + item.state + "</strong>" )
        .appendTo( ul );
    };
  });
  </script>

<script type="text/javascript">
   $(function() {
    var city = $("#project-id" ).val();
    $( "#pincode" ).autocomplete({
      minLength: 4,
      source: "show_pincode?city="+ $("#project-id").val() ,
      focus: function( event, ui ) {
        $( "#pincode" ).val( ui.item.pincode );
        return false;
      }
      ,
      select: function( event, ui ) {
        $( "#pincode" ).val( ui.item.pincode );
        return false;
      }
    })
      .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
         .append(  item.pincode + " " + item.officename  + " " + item.circlename + " <br>" + " " + item.taluk  )
        .appendTo( ul );
    };
  });
  </script>

<!-- page break -->
<!-- page break -->
<!-- page break -->
<!-- page break -->

<h1>dynamic combo</h1>
<p>Playing with dynamic AJAX page updates after the combo box selection change</p>

<div id="select_div">
    <select name="city_id" id="city_id">
      <option value="0">1</option>
      <option value="1">2</option>
      <option value="2">3</option>
      <option value="2">4</option>
    </select>
</div>
<input id="credit_card_input"  name="credit_card_input" maxlength="16" placeholder="Credit Card"
size="15" class="form-control">
</input>

<input type="text">
<p>Write something in the input field, and then press enter or click outside the field.</p>

<input id="price_input">
	
</input>
<input id="priced_input">
	
</input>
<div id="result_div">
Here result_div
  Results:
</div>
<div id="result_div2">
Here result_div2
  Results:
</div>
<textarea name="productmastertext" id="productmastertext"></textarea>
<script>
  $(document).ready(function() {
    $('#city_id').change(function() {
        $.ajax({
           url: "<%= update_text_path %>",
           data: {
               city_name: $("#city_id option:selected").text()
           },
           dataType: "script"
        });
    });
  });
</script>
<script>
  $(document).ready(function() {
    $('#city_id').change(function() {
        $.ajax({
           url: "<%= productdetails_path %>",
           data: {
               id: $("#city_id option:selected").val()
           },
           dataType: "script"
        });
    });
  });
</script>

<script type="text/javascript">
$(document).ready(function() {
   
        $('#credit_card_input').change(function(){
        	val = $(this).val();
  				alert("Check if Card if Valid :" + val);
  			$.ajax({url: "<%= creditcard_path %>", 
  			data: {code: $(this).val()},
           dataType: "script"   });
  			})
  	});
</script>

<!--<script>
$(document).ready(function(){
  $("input").change(function(){
    alert("The text has been changed.");
  });
});
</script>-->
