<!-- def page_title(page_title = '') -->
<% provide(:title, 'Sign up') %>
<!-- end of the title-->

<!-- def title(page_title) -->
<% title " Opened at #{@timenow}" %>
<!-- end of the title-->

<div class="well well-sm">
 <% if logged_in? %>
   <h4>Welcome to the Sure CRM App <%= current_user.name %>, you are logged in as <%= current_user.employee_role.name %> <small> <%= @timenow %></small> </h4>
   <small> <small>Your Role Id <%= current_user.role %></small></small>
   <small> <small>Your Id <%= current_user.id %></small></small>
<% else %>
  <h4>Welcom to Sure CRM</h4>
<small>Only Authorised people are allowed to move ahead form here</small>

   <% end %>
</div>

<div class="row">
<div class="col-xs-8">

 <% if logged_in? %>
    <!-- New  Requests start -->
    <%= render partial: 'app_feature_requests/new_request' %>
    <!-- New Requests end -->
	   
    <!-- New error upload end -->
   	<%  if current_user.role == 10162 || current_user.role == 10022 %>
   
   		<%= render partial: 'app_feature_requests/tec_update_list' %> 
 
    <%  end %>

  	<%= render partial: 'app_feature_requests/tab_user_list' %> 
 


  <!-- not logged in check end -->
  <% else %>
  <h5>You are not logged in</h5>
  <% end %>
     <!-- New feature Requests end -->

  <!-- Pending Tasks end -->

  <!-- New  Requests start -->
  <%= render partial: 'app_feature_requests/new_request' %>
     <!-- New Requests end -->
</div>

<div class="col-xs-4">
  <div class="panel panel-primary">
      <!-- Default panel contents -->
    <div class="panel-heading">Latest News</div>
    <% if logged_in? %>
    <div class="panel-body">
      <p>Coming soon...</p>
    </div>

  <% else %>
  <div class="panel-body">
     <h5>You are not logged in</h5>
    </div>

  <% end %>
  </div>
  </div>
</div>


<div class="well">
  <!-- <p>1 images/graphs</p>
     <%= image_tag "graph_new.png", :alt => "graph_new 1" %>
  <br> -->
    <!-- <p>3</p>
     <%= image_tag "new_exciting.png", :alt => "Image /graphs folder 3" %>
     <br> -->


<!-- <%= image_tag("/project/home/exciting.png", :alt => "Image missing") %> -->
</div>
