<% provide(:title, 'Sign up') %>
<div class="center jumbotron">
  <h1>Welcome to the Sure CRM App</h1>
<h3>Time now is <%= @timenow %>
  
  <% if logged_in? %>
   <h3>Welcome, <%= current_user.name %> , you are logged in as <%= current_user.employee_role.name %> </h3>

  <!-- <%= current_user.employee_role.name %> <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p> -->
<% else %>
  <h3>Welcome</h3>

<small>Only Authorised people are allowed to move ahead form here</small>
  <!--  <%= link_to "Sign up now!", signup_path, class: "btn btn-xs btn-primary" %> -->
   <% end %>
</div>
<div class="well well-sm">
<h4>1) Time Now: <%= @timenow %></h4> <br>
<hr>
	<h4>2) Time: <%= @dateandtime %></h4> <br>
	<hr>
	<h4>3) Date: <%= @datewithouttime %></h4> <br>

</div>