<!-- def page_title(page_title = '') -->
<% provide(:title, 'Sign up') %>
<!-- end of the title-->

<!-- def title(page_title) -->
<% title " Opened at #{@timenow}" %>
<!-- end of the title-->

<div class="well well-sm">
 <% if logged_in? %>
   <h4>Welcome to the Sure CRM App <%= current_user.name %>, you are logged in as <%= current_user.employee_role.name %> <small> <%= @timenow %></small> </h4>
   <small> <small>Your Role Id <%= current_user.role %></small></small>
   <small> <small>Your Id <%= current_user.id %></small></small>
<% else %>
  <h4>Welcom to Sure CRM</h4>
<small>Only Authorised people are allowed to move ahead form here</small>

   <% end %>
</div>

<div class="row">
<div class="col-xs-8">


  <!-- New  Requests start -->
  <div class="panel panel-success">
    <div class="panel-body">
      <% if logged_in? %>
        <div class="row">
          <div class="col-xs-8"> <p class="lead">Request a New App or feature in an app or Report Error</p> </div>
          <div class="col-xs-4"> <%= link_to 'New request', new_app_feature_request_path, class: "btn btn-success" %></div>
        </div>
        <% else %>
        <h5>You are not logged in</h5>
     <% end %>
    </div>
  </div>
     <!-- New Requests end -->
    <% if logged_in? %>
     <!-- New error upload end -->
   <%  if current_user.role == 10162 || current_user.role == 10022 %>

     <!-- New error upload start -->
     <div class="panel panel-danger">
        <!-- Default panel contents -->
       <div class="panel-heading">Error Upload to Server</div>

       <div class="panel-body">
         <%= render partial: 'app_feature_requests/stage_update', :locals => {:app_feature_requests => @app_upload_errors }  %>
       </div>
     </div>

     <!-- New feature upload start -->
     <div class="panel panel-info">
        <!-- Default panel contents -->
       <div class="panel-heading">Feature Upload to Server</div>

       <div class="panel-body">
         <%= render partial: 'app_feature_requests/stage_update', :locals => {:app_feature_requests => @app_upload_requests}  %>
       </div>
     </div>
        <!-- New feature upload end -->
    <%  end %>
    <%  end %>
  <% if logged_in? %>
  <!-- New error Requests start -->
  <div class="panel panel-danger">
     <!-- Default panel contents -->
    <div class="panel-heading">Error Requests</div>
    <div class="panel-body">
      <%= render partial: 'app_feature_requests/quick_list', :locals => {:app_feature_requests => @app_feature_errors }  %>
    </div>
  </div>
     <!-- New error Requests end -->
  <!-- New feature Requests start -->
  <div class="panel panel-info">
     <!-- Default panel contents -->
    <div class="panel-heading">Feature Requests</div>
    <div class="panel-body">
      <%= render partial: 'app_feature_requests/quick_list', :locals => {:app_feature_requests => @app_feature_requests}  %>
    </div>
  </div>

  <% if @app_testing_features.present? %>
      <%= render partial: 'app_feature_requests/panel_list',
      :locals => {:app_feature_requests => @app_testing_features,
        :app_heading => "Testing Required for these Requests"}  %>
  <% end %>
  <% if @app_testing_errors.present? %>
      <%= render partial: 'app_feature_requests/panel_list',
      :locals => {:app_feature_requests => @app_testing_errors,
        :app_heading => "Testing Required for these Requests"}  %>
  <% end %>
  <% if @app_beta_features.present? %>
      <%= render partial: 'app_feature_requests/panel_list',
      :locals => {:app_feature_requests => @app_beta_features,
        :app_heading => "Released on Staging Server http://3.0.3.26:120 try it before live"}  %>
  <% end %>
  <% if @app_beta_errors.present? %>
      <%= render partial: 'app_feature_requests/panel_list',
      :locals => {:app_feature_requests => @app_beta_errors,
        :app_heading => "Released on Staging Server http://3.0.3.26:120 try it before live"}  %>
  <% end %>
  <% if @app_completed_features.present? %>
      <%= render partial: 'app_feature_requests/panel_list',
      :locals => {:app_feature_requests => @app_beta_features,
        :app_heading => "Request is now released and live"}  %>
  <% end %>
  <% if @app_completed_errors.present? %>
      <%= render partial: 'app_feature_requests/panel_list',
      :locals => {:app_feature_requests => @app_beta_errors,
        :app_heading => "Request is now released and live"}  %>
  <% end %>

  <!-- not logged in check end -->
  <% else %>
  <h5>You are not logged in</h5>
  <% end %>
     <!-- New feature Requests end -->
     <!-- Pending Tasks start -->
  <div class="panel panel-primary">
  <!-- Default panel contents -->
   <div class="panel-heading">Your Teams Requests / Errors</div>

       <div class="panel-body">
         <% if !logged_in? %>
           <p>Coming soon...</p>
           <h5>You are not logged in</h5>
        <% end %>
       </div>
  </div>
  <!-- Pending Tasks end -->

  <!-- New  Requests start -->
  <div class="panel panel-success">
    <div class="panel-body">
      <% if logged_in? %>
        <div class="row">
          <div class="col-xs-8"> <p class="lead">Request a New App or feature in an app or Report Error</p> </div>
          <div class="col-xs-4"> <%= link_to 'New request', new_app_feature_request_path, class: "btn btn-success" %></div>
        </div>
        <% else %>
        <h5>You are not logged in</h5>
     <% end %>
    </div>
  </div>
     <!-- New Requests end -->
</div>

<div class="col-xs-4">
  <div class="panel panel-primary">
      <!-- Default panel contents -->
    <div class="panel-heading">Latest News</div>
    <% if logged_in? %>
    <div class="panel-body">
      <p>Coming soon...</p>
    </div>

  <% else %>
  <div class="panel-body">
     <h5>You are not logged in</h5>
    </div>

  <% end %>
  </div>
  </div>
</div>


<div class="well">
  <!-- <p>1 images/graphs</p>
     <%= image_tag "graph_new.png", :alt => "graph_new 1" %>
  <br> -->
    <!-- <p>3</p>
     <%= image_tag "new_exciting.png", :alt => "Image /graphs folder 3" %>
     <br> -->


<!-- <%= image_tag("/project/home/exciting.png", :alt => "Image missing") %> -->
</div>

 <div class="row" style="visibility: hidden;">
      <h1>Table Fixed Header</h1>

    <div class="row fixed-table">
      <div class="table-content">
        <table class="table table-striped table-fixed-header" id="mytable">
          <thead class="header">
            <tr>
              <th>Email Address</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Administrator</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  </div>
        <script language="javascript" type="text/javascript" >
    $(document).ready(function(){
      // add 30 more rows to the table
      var row = $('table#mytable > tbody > tr:first');
      for (i=0; i<30; i++) {
        $('table#mytable > tbody').append(row.clone());
      }

      // make the header fixed on scroll
      $('.table-fixed-header').fixedHeader();
    });
  </script>
