<!--  if @go_live == true % -->
<div class="panel panel-danger">
  <div class="panel-body">
    <div class="row">
   	 <div class="col-xs-10">
   	 	<h4><%= @update_state_from_india_post %></h3>
   	 </div>
      <%= form_tag  url_for(:controller => 'india_pincode_lists', :action => "update_pincode_list"), method: "post" do  %>
	   <%= hidden_field_tag :statename, @statename %>


          <div class="col-xs-2">
            <%= submit_tag "Re-Generate", name: nil, class: "btn btn-danger" %>
          </div>
      <% end %>

    </div>
  </div>
   <div class="panel-footer">Warning this take time and pick up the India post database overwrites old data for <%= @statename %> with the NEW state from the database, please use this caution. After you click on Re-Generate, do check after a while to the results to show up by viewing <%= link_to 'this page', india_pincode_lists_path(statename: @statename), class: "btn btn-info btn-xs" %>.
   
   <!-- = link_to ' page', @return_url, class: "btn btn-info btn-xs" -->
   </div>
</div>
<!-- % end % -->