<div class="row">
	 <div class="col-xs-4"> 
	 	<%= form_tag  url_for(:controller => 'india_pincode_lists', :action => "check_for_updates"), method: "get" do  %>
    		<div class="row">
 			<div class="col-xs-9">  
      		  <%= text_field_tag(:pincode, nil, :class => "form-control", :required => "true", :placeholder => "Search Pincode", :value => @pincode  )   %>
     		 </div>
 	 		<div class="col-xs-3">
				 <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
			</div>
 		 </div>
 	<% end %>
	 </div>
    <div class="col-xs-6">  
      	 <%= form_tag  url_for(:controller => 'india_pincode_lists', :action => "check_for_updates"), method: "get" do  %>
   		<div class="row">
			<div class="col-xs-9">  
      <%= select_tag(:statename,
                  options_from_collection_for_select(State.all, :name, :name, selected: @statename),
                  {:class => "form-control"})  %>
    		  </div>
	 		 <div class="col-xs-3"><%= submit_tag "Search", name: nil, class: "btn btn-primary" %></div>
		 </div>
	<% end %>
	</div>
</div>
<div class="row">
	<div class="col-xs-8">
		<h3>Showing <%= @total_records%> Rows from India Post Website (External) for <%= @statename %><%= @pincode %></h3>
	</div>
	<div class="col-xs-4">
		<ul class="list-inline">
		  <li><%= link_to "Pincode (Ext)", india_pincode_lists_check_for_updates_path, class:"btn btn-info btn-xs" %></li>
		  <li><%= link_to "Pincodes (Int)", india_pincode_lists_path, class:"btn btn-default btn-xs" %></li>
		  <li><%= link_to "City List", india_city_lists_path, class:"btn btn-primary btn-xs" %></li>
		</ul>
	</div>
</div>


<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Officename</th>
      <th>Pincode</th>
      <th>Deliverystatus</th>
      <th>Divisionname</th>
      <th>Regionname</th>
      <th>Circlename</th>
      <th>Taluk</th>
      <th>Districtname</th>
      <th>Statename</th>
    </tr>
  </thead>
	<% if @unorderlist.present? %>
  <tbody>
    <% @unorderlist.each do |india_pincode_list| %> 
      <tr>
    <td><%= india_pincode_list[:officename] %></td>
    <td><%= india_pincode_list[:pincode] %></td>
    <td><%= india_pincode_list[:deliverystatus] %></td>
    <td><%= india_pincode_list[:divisionname] %></td>
    <td><%= india_pincode_list[:regionname] %></td>
    <td><%= india_pincode_list[:circlename] %></td>
    <td><%= india_pincode_list[:taluk] %></td>
    <td><%= india_pincode_list[:districtname] %></td>
    <td><%= india_pincode_list[:statename] %></td>
      </tr>
    <% end %>
  </tbody>
  <% else %>
   <tbody>
       <tr>
         <td colspan="10">Nothing Found</td>
        
       </tr>
	</tbody>
  <% end %>
  
</table>
<hr>

<%= render partial: 'update_state'  %>