<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-xs-5">
		<div class="row">
			 <%= form_tag  url_for(:controller => 'india_pincode_lists', :action => "index"), method: "get" do  %>
		    <div class="col-xs-8">  
		      <%= select_tag(:statename,
		                  options_from_collection_for_select(State.all.order(:name), :name, :name, selected: @statename),
		                  {:class => "form-control"})  %>
		    </div>
			 <div class="col-xs-4"><%= submit_tag "Search", name: nil, class: "btn btn-primary" %></div>
			<% end %>
		</div>
	</div>
  <div class="col-xs-1"><%= link_to 'NA', india_pincode_lists_path(:na_taluk => "true"), class: "btn btn-info" %></div>
  <div class="col-xs-3"><%= render 'search_city' %></div>
  <div class="col-xs-3"><%= render 'search' %></div>
</div>
<br>
<div class="row">
	<div class="col-xs-8">
		<div class="alert alert-success">
		<h3>We use this list in our applications <%= @search %> <%= @found %>  </h3>
		</div>
	</div>
	<div class="col-xs-4">
		<ul class="list-inline">
		  <li><%= link_to "Pincode (Ext)", india_pincode_lists_check_for_updates_path, class:"btn btn-info btn-xs" %></li>
		  <li><%= link_to "Pincodes (Int)", india_pincode_lists_path, class:"btn btn-default btn-xs" %></li>
		  <li><%= link_to "City List", india_city_lists_path, class:"btn btn-primary btn-xs" %></li>
		</ul>
	</div>
</div>
<br>
<div class="digg_pagination">
    <%= will_paginate @employees, :container => false %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Officename</th>
      <th>Pincode</th>
      <th>Deliverystatus</th>
      <th>Divisionname</th>
      <th>Regionname</th>
      <th>Circlename</th>
      <th>Taluk</th>
      <th>Districtname</th>
      <th>Statename</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @india_pincode_lists.each do |india_pincode_list| %>
      <tr>
        <td><%= india_pincode_list.officename %></td>
        <td><%= india_pincode_list.pincode %></td>
        <td><%= india_pincode_list.deliverystatus %></td>
        <td><%= india_pincode_list.divisionname %></td>
        <td><%= india_pincode_list.regionname %></td>
        <td><%= india_pincode_list.circlename %></td>
        <td><%= india_pincode_list.taluk %></td>
        <td><%= india_pincode_list.districtname %></td>
        <td><%= india_pincode_list.statename %></td>
        <td><%= link_to 'Edit', edit_india_pincode_list_path(india_pincode_list) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="digg_pagination">
    <%= will_paginate @employees, :container => false %>
</div>
<div class="row">
<div class="col-xs-4">
<%= link_to 'New India pincode list', new_india_pincode_list_path, class: "btn btn-primary btn-sm" %>
</div>

<!-- <div class="col-xs-6 col-offset-xs-2">
  <div class="row">
  <%= form_tag import_india_pincode_lists_path, multipart: true do %>
    <div class="col-xs-6 col-offset-xs-2">
        <%= file_field_tag :file %>
    </div>
    <div class="col-xs-3">
        <%= submit_tag "Import CSV", class: "btn btn-warning btn-sm" %>
    </div>
  <% end %>
  </div>
</div> -->
</div>
