<p id="notice"><%= notice %></p>

<p>
  <strong>Officename:</strong>
  <%= @india_pincode_list.officename %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @india_pincode_list.pincode %>
</p>

<p>
  <strong>Deliverystatus:</strong>
  <%= @india_pincode_list.deliverystatus %>
</p>

<p>
  <strong>Divisionname:</strong>
  <%= @india_pincode_list.divisionname %>
</p>

<p>
  <strong>Regionname:</strong>
  <%= @india_pincode_list.regionname %>
</p>

<p>
  <strong>Circlename:</strong>
  <%= @india_pincode_list.circlename %>
</p>

<p>
  <strong>Taluk:</strong>
  <%= @india_pincode_list.taluk %>
</p>

<p>
  <strong>Districtname:</strong>
  <%= @india_pincode_list.districtname %>
</p>

<p>
  <strong>Statename:</strong>
  <%= @india_pincode_list.statename %>
</p>

<%= link_to 'Edit', edit_india_pincode_list_path(@india_pincode_list) %> |
<%= link_to 'Back', india_pincode_lists_path %>
