<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tax_rate.name %>
</p>

<p>
  <strong>Tax rate:</strong>
  <%= @tax_rate.tax_rate %>
</p>

<p>
  <strong>Reverse rate:</strong>
  <%= @tax_rate.reverse_rate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tax_rate.description %>
</p>

<%= link_to 'Edit', edit_tax_rate_path(@tax_rate) %> |
<%= link_to 'Back', tax_rates_path %>
