<div class="well">
  <h4>Switch on and off the auto pick up process, you may need to switch off the process when updating stock etc.</h4>
  <p>
    On switch-on the orders from the time it was last processed would resume. Check the email for more details and next resumption point.
  </p>
  <div class="col-xs-4">
    <% if @distributor_upload_order.online_order_id == 1 %>
      <%= bootstrap_form_tag url: url_for(:controller => 'distributor_upload_orders', :action => 'switch_off'), :method => :POST, :enforce_utf8 => false do |f| %>
            <div class="row">
              <div class="col-xs-12">
                          <%= submit_tag "Switch Off", name: nil, class: "btn btn-danger ", data: { confirm: 'Are you sure this would switch off?'}  %>
              </div>
            </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-4 col-xs-offset-4">
    <% if @distributor_upload_order.online_order_id == 0 %>
     <%= bootstrap_form_tag url: url_for(:controller => 'distributor_upload_orders', :action => 'switch_on'), :method => :POST, :enforce_utf8 => false do |f| %>
        <div class="row">
          <div class="col-xs-12">
            <%= submit_tag "Switch On", name: nil, class: "btn btn-success ", data: { confirm: 'Auto order picking would switch on?'}  %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <%= @distributor_upload_order.online_order_id %>
</div>
