<%= form_for(@interaction_status) do |f| %>
  <% if @interaction_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interaction_status.errors.count, "error") %> prohibited this interaction_status from being saved:</h2>

      <ul>
      <% @interaction_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_description %><br>
    <%= f.text_field :customer_description %>
  </div>
  <div class="field">
    <%= f.label :internal_description %><br>
    <%= f.text_field :internal_description %>
  </div>
  <div class="field">
    <%= f.label :sortorder %><br>
    <%= f.number_field :sortorder %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
