<% title " Product Cost Master" %>
<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-xs-2">
<h3>Product Cost Masters</h3>

</div>
<div class="col-xs-2">
<%= link_to 'Download CSV list', product_cost_masters_path(showall: "true", format: :csv), class: "btn btn-success btn-sm" %>
</div>
<div class="col-xs-2">
<%= link_to 'No Price list', product_costs_not_found_path(showall: "true", format: :csv), class: "btn btn-success btn-sm" %>
</div>

<div class="col-xs-6">
<br>
<div class="digg_pagination">

    <%= will_paginate @product_cost_masters, :container => false %>
  </div>
  <br>
</div>
</div>
<div class="well well-sm">
<strong>Cost:</strong> product_cost + tel_cost + royalty + Shipping handling + cost_of_return + call_centre_commission <br>
<strong>Revenue:</strong> basic_cost + shipping_handling

</div>
<br>
<br>
	<%= render 'list' %>
<br>
<br>
<%= render 'calculations' %>
<!--<%= link_to 'New Product cost master', new_product_cost_master_path %>-->
