<!-- set page title start -->
<% title @page_heading  %>
<!-- set page title end -->
<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-2">
    <%= link_to 'Download CSV list', product_cost_masters_path(showall: "true", format: :csv), class: "btn btn-success btn-sm" %>
    </div>
    <div class="col-xs-2">
    <%= link_to 'No Price list', product_costs_not_found_path(showall: "true", format: :csv), class: "btn btn-success btn-sm" %>
    </div>
    <div class="col-xs-6">
    <div class="row">
         <%= form_tag("/productwithcosts", method: "get") do  %>
        <div class="col-xs-8">
        <%= text_field_tag(:search, nil, :class => "form-control", :required => "true", :placeholder => "Search Product Name", :value => @searchvalue  )   %>
        </div>

        <div class="col-xs-2">
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>
</div>
</div>
<div class="well well-sm">
<strong>Cost:</strong> product_cost + tel_cost + royalty + Shipping handling + cost_of_return + call_centre_commission <br>
<strong>Revenue:</strong> basic_cost + shipping_handling
</div>

<%= render 'list' %>

<br>
<div class="well well-sm">
<div class="row">
<div class="col-xs-4"> Import Product Costs: </div>

<div class="col-xs-8">

  <div class="row">
  <%= form_tag import_product_cost_masters_path, multipart: true do %>
    <div class="col-xs-6 col-offset-xs-2">
        <%= file_field_tag :file %>
    </div>
    <div class="col-xs-3">
        <%= submit_tag "Import CSV", class: "btn btn-warning btn-sm" %>
    </div>
  <% end %>
  </div>
</div>

</div>
</div>
<br>
<br>

<div class="well well-sm">
<small>
  <br>
<div class="row">
<div class="col-xs-5">
<% if @nos_with_out_price.present? %>
<h4>No Product Costs Available for <%= @nos_with_out_price %> Products</h4>
<% end %>

</div>
<div class="col-xs-7 pull-right">
  <div class="digg_pagination">
    <%= will_paginate @inactive_product_lists, :container => false %>
  </div>
</div>
</div>

<% if @inactive_product_lists.present? %>
  <table class="table table-hover">
  <thead>
    <tr>
     <th>Sell Type</th>
    <th>Name</th>
      <th>Specs</th>
      <th>PROD</th>
        <th>Active</th>
        <th>Cost</th>
        <th>Revenue</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @inactive_product_lists.each do |product_list| %>
      <tr>
    <td><%= product_list.product_variant.product_sell_type.name if product_list.product_variant %></td>
    <td><%= product_list.name %></td>

    <td><%= product_list.product_spec_list.name if product_list.product_spec_list %></td>
    <td><%= product_list.extproductcode %></td>
    <td>  <%= product_list.product_active_code.name if product_list.product_active_code %> </td>
    <td colspan="2">
    <% if product_list.product_cost_master %>
    <table class="table">
    <% product_list.product_cost_master.each do | pc| %>
      <tr>
        <td>
          <%= pc.cost %>
        </td>
        <td>
          <%= pc.revenue %>
        </td>
      </tr>
      <% end %>
    </table>
    <% end %>
    </td>
        <td><%= link_to 'Add Costs', new_product_cost_master_path(:prod => product_list.extproductcode, :product_list_id => product_list.id), class: "btn btn-info btn-xs" %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h4>No Products without costs available, cool! </h4>
<% end %>
<br>

<% if @inactive_product_variants.present? %>
<%= render 'variant' %>
<% else %>
<h4>No Product Variants without costs available, cool! </h4>
<% end %>
</small>
</div>
