<!-- set page title start -->
<% title @page_heading  %>
<!-- set page title end -->
<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-2">
    <%= link_to 'Download CSV list', product_cost_masters_path(showall: "true", format: :csv), class: "btn btn-success btn-sm" %>
    </div>
    <div class="col-xs-2">
    <%= link_to 'No Price list', product_costs_not_found_path(showall: "true", format: :csv), class: "btn btn-success btn-sm" %>
    </div>
    <div class="col-xs-6">
    <div class="row">
         <%= form_tag("/productwithcosts", method: "get") do  %>
        <div class="col-xs-8">
        <%= text_field_tag(:search, nil, :class => "form-control", :required => "true", :placeholder => "Search Product Name", :value => @searchvalue  )   %>
        </div>

        <div class="col-xs-2">
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>
</div>
</div>

<%= render 'calculations' %>
<br>
<%= render 'list' %>
<br>
<br>

