
 <%= form_tag  url_for(:controller => 'sales_report', :action => searchaction), method: "get" do  %>
<% if @from_date.present? %>
	<%= hidden_field_tag :from_date, @from_date %>
<% end %>
<% if @to_date.present? %>
	<%= hidden_field_tag :to_date, @to_date %>
<% end %>
 
<div class="row">
  	<div class="col-xs-8">
   
    <%= select_tag :media_id, options_from_collection_for_select(@hbnmedialist, :id, :mediainfo, selected: @media_id), {prompt: "Please select the HBN Media", label: "HBN Media", :class => "form-control"} %>
    
  	</div>
  	<div class="col-xs-4">
         <%= submit_tag("Show Report", :class => "btn btn-success btn-sm") %> 
	</div>
</div>
<% end %>