<br>
<h4><%= list_name %></h4>
<hr>
 <% if main_product_list.present? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
     <th>No</th>
     <th>Product</th>
     <th>Prod</th>
     <th>CC Orders</th>
       <th>CC Value</th>
      <th>COD Orders</th>
       <th>COD Value</th>
       <th>Total Orders</th>
     <th>Total Value</th>

     </tr>
  </thead>
<tbody>
  <% @cc_orders, @cc_value, @cod_orders, @cod_value, @total_orders, @total_value = 0,0,0,0,0,0 %>
   <% main_product_list.each do |c| %>
   <tr>
   <td><%= @sno %></td>

<td>
 <%= link_to c[:product], orderlist_path(product_list_id: c[:id], for_date: c[:for_date]), :target => "_blank" %>

</td>
<td>
   <%= c[:prod] %>
</td>
<td class="text-right">
   <%= c[:ccorders] %><% @cc_orders +=  c[:ccorders] %>
</td>
<td class="text-right">
   <%= c[:ccvalue] %><% @cc_value += c[:ccvalue] %>
</td>
<td class="text-right">
   <%= c[:codorders] %><% @cod_orders +=  c[:codorders] %>
</td>
<td class="text-right">
   <%= c[:codvalue] %><% @cod_value +=  c[:codvalue] %>
</td>

<td class="text-right">
   <%= c[:nos] %><% @total_orders += c[:nos] %>
</td>
<td class="text-right">
   <%= c[:total] %><% @total_value += c[:ccvalue]  %>
</td>

  </tr>
  <% @sno += 1 %>
 <% end %>



  </tbody>
<tfoot>

    <tr>
     <th colspan="3">Total</th>
     <th class="text-right"><%= @cc_orders %></th>
       <th class="text-right"><%= @cc_value %></th>
      <th class="text-right"><%= @cod_orders %></th>
       <th class="text-right"><%= @cod_value %></th>
       <th class="text-right"><%= @total_orders %></th>
     <th class="text-right"><%= @total_value %></th>

     </tr>

</tfoot>
  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report </h5>
  </div>
  <% end %>
