<% title "Channel Sales Details for #{@media_name} #{@from_date} to #{@to_date}" %>
   <%= form_tag  url_for(:controller => 'sales_report', :action => 'cdm_sales_summary'), method: "get" do  %>
 <div class="row">
	 <div class="col-xs-2">

	 <h4>CDM Sales Report </h4>
	 </div>

   <div class="col-xs-4">

               <%= select_tag :bdm_id,  options_from_collection_for_select(@media_manager,
             :id, :name, selected: @bdm_id ),
                   {:class => "form-control", label: "Select the Product if required ", required: true } %>
   </div>
	 <div class="col-xs-5">
        <div class="input-daterange input-group">
          <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker_from", :class => "form-control", :required => "true" )   %>
          <span class="input-group-addon">to</span>

           <%= text_field_tag(:to_date, @to_date, :data => {:provide => "datepicker"}, :id => "datepicker_to", :class => "form-control", :required => "true" )   %>

        </div>
    </div>
    <div class="col-xs-1">
              <%= submit_tag "Show", name: nil, class: "btn btn-primary" %>
    </div>

 </div>
<% end %>

<% if @employeeorderlist.present? %>
<% @sno, total_value, total_piece = 0, 0, 0 %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
    <th>S No</th>
    <th>Date</th>
    <th>Media</th>
    <th>City</th>
    <th>Products</th>
    <th>Value</th>
    </tr>
  </thead>
<tbody>
   <% @employeeorderlist.each do |c| %>
   <tr>
   <td><% @sno += 1 %> <%= @sno %> </td>
   <td><%= c[:orderdate] %></td>
  <td> <%= c[:channel] %></td>
  <td> <%= c[:city] %></td>
  <td> <%= c[:products] %></td>
  <td class="text-right"><%= c[:total] %> <% total_value += c[:total] %></td>
  </tr>

 <% end %>
  </tbody>
  <tfoot>
    <th colspan="4">Total</th>
    <th><%= @sno %></th>
    <th class="text-right"><%= total_value %></th>
  </tfoot>
  </table>
  <div class="well well-sm">
    <%= link_to 'Download CSV file', cdm_report_path(from_date: @or_for_date, to_date: @to_date , bdm_id: @bdm_id, media_id: @media_id, format: :csv), class: "btn btn-info btn-sm" %>
  </div>

  <% end %>
 <br>

<script>
$('#datepicker_to').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker_from').datepicker({format: 'yyyy-mm-dd'});
</script>
