  <% title "Channel Report #{@from_date} to #{@to_date}" %>
  
  <div class="row">
 	 <div class="col-xs-6">
 	 <h4>Channel Sales Report <%=  @orderdate %> </h4>
      <div class="btn-group" role="group" aria-label="...">
      	<%= link_to 'All', channel_report_path(show: "all", from_date: @from_date, to_date: @to_date), type:"button", class: @btn1 %>
      	<%= link_to 'HBN', channel_report_path(show: "hbn", from_date: @from_date, to_date: @to_date), type:"button", class: @btn2 %>
      	<%= link_to 'Pvt', channel_report_path(show: "pvt", from_date: @from_date, to_date: @to_date), type:"button", class: @btn3 %> 
  	</div>
 	 </div>
 	 <div class="col-xs-6">
  <%= render partial: 'date_range_search', :locals => {:searchaction => "channel"}  %>
 	</div>
  </div>
  
<% if @hbn_order_list.present? %>
<h4>HBN Chanels Orders </h4>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
     <th>No</th>
     <th>Channel</th>
     <th>Pay U Orders</th>
     <th>Pay U Value</th>
     <th>CC Orders</th>
       <th>CC Value</th>
      <th>COD Orders</th>
       <th>COD Value</th>
       <th>Total Orders</th>
     <th>Total Value</th>
    <th>City</th>
     </tr> 
  </thead>
<tbody>
   <% @hbn_order_list.each do |c| %>
   <tr>
   	<td><%= @sno %></td>
 	<td><%=  c[:channel] %></td>
	<td class="text-right"> <%= c[:pay_u_orders] %> <% @total_hbn_pay_u_orders += c[:pay_u_orders] %>	</td>
	<td class="text-right">	   <%= c[:pay_u_value] %> <% @total_hbn_pay_u_value += c[:pay_u_value] %>	</td>
	
	<td class="text-right">   <%= c[:ccorders] %> <% @total_hbn_ccorders += c[:ccorders] %> </td>
	<td class="text-right"><%= c[:ccvalue] %> <% @total_hbn_ccvalue += c[:ccvalue] %></td>
	
	<td class="text-right"><%= c[:codorders] %> <% @total_hbn_codorders+= c[:codorders] %></td>
	<td class="text-right"><%= c[:codvalue] %> <% @total_hbn_codvalue += c[:codvalue] %></td>
	
	<td class="text-right"><%= c[:nos] %> <% @total_hbn_nos += c[:nos] %></td>
	<td class="text-right"><%= c[:total] %> <% @total_hbn_total += c[:total] %></td>
	<td ><%= link_to "View Cities", city_report_path(from_date: @from_date, to_date: @to_date, media_id: c[:id]), :target => "_blank" %>
	</td>
  </tr> 
  <% @sno += 1 %> 
 <% end %>
    
    <tr>
    <td colspan="2">Total</td>
  	<td class="text-right"> <%= @total_hbn_pay_u_orders %> 	</td>
  	<td class="text-right">	<%= @total_hbn_pay_u_value %> 	</td>
  	<td class="text-right">   <%= @total_hbn_ccorders %> </td>
  	<td class="text-right"><%= @total_hbn_ccvalue %> </td>
  	<td class="text-right"><%= @total_hbn_codorders %> </td>
  	<td class="text-right"><%= @total_hbn_codvalue %> </td>
  	<td class="text-right"><%= @total_hbn_nos %> </td>
  	<td class="text-right"><%= @total_hbn_total %> </td>
  	<td></td>
    </tr> 
    </tbody>
  </table>
  <% end %>

<% if @paid_order_list.present? %>
 <br>
	<h4>Paid Chanels Orders </h4>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
     <th>No</th>
     <th>Channel</th>
     <th>Pay U Orders</th>
     <th>Pay U Value</th>
     <th>CC Orders</th>
     <th>CC Value</th>
      <th>COD Orders</th>
       <th>COD Value</th>
       <th>Total Orders</th>
     <th>Total Value</th>
    <th> </th>
     </tr>
  </thead>
<tbody>
   <% @paid_order_list.each do |c| %>
   <tr>
   	<td><%= @sno %></td>
	<td> <%=  c[:channel] %></td>
	<td class="text-right">   <%= c[:pay_u_orders] %> <% @total_pvt_pay_u_orders += c[:pay_u_orders] %> </td>
	<td class="text-right">   <%= c[:pay_u_value] %> <% @total_pvt_pay_u_value += c[:pay_u_value] %></td>
	<td class="text-right">   <%= c[:ccorders] %> <% @total_pvt_ccorders += c[:ccorders] %></td>
	<td class="text-right">   <%= c[:ccvalue] %> <% @total_pvt_ccvalue += c[:ccvalue] %></td>
	<td class="text-right"> <%= c[:codorders] %> <% @total_pvt_codorders += c[:codorders] %></td>
	<td class="text-right"><%= c[:codvalue] %> <% @total_pvt_codvalue += c[:codvalue] %></td>
	<td class="text-right"><%= c[:nos] %> <% @total_pvt_nos += c[:nos] %></td>
	<td class="text-right"><%= c[:total] %> <% @total_pvt_total += c[:total] %></td>
	<td><%= link_to "View Cities", city_report_path(from_date: @from_date, to_date: @to_date,media_id: c[:id]), :target => "_blank" %></td>
  </tr> 
  <% @sno += 1 %> 
 <% end %>

 <tr>
 <td colspan="2">Total</td>
<td class="text-right"> <%= @total_pvt_pay_u_orders %> 	</td>
<td class="text-right">	<%= @total_pvt_pay_u_value %> 	</td>
<td class="text-right">   <%= @total_pvt_ccorders %> </td>
<td class="text-right"><%= @total_pvt_ccvalue %> </td>
<td class="text-right"><%= @total_pvt_codorders %> </td>
<td class="text-right"><%= @total_pvt_codvalue %> </td>
<td class="text-right"><%= @total_pvt_nos %> </td>
<td class="text-right"><%= @total_pvt_total %> </td>
<td></td>
 </tr>

  </tbody>

  </table>
 
  <% end %>
 <br>
 <% if @paid_order_list.present? || @hbn_order_list.present? %>
 <div class="well well-sm">
   <div class="row">
     <div class="col-xs-8">
       <h4>Download the entire list</h4>
     </div>
     <div class="col-xs-4">
         <%= link_to 'Download CSV file', channel_report_path(from_date: @from_date, to_date: @to_date, format: :csv), class: "btn btn-info btn-sm" %>
     </div>
   </div>

 </div>
 <% end %>



