 <div class="row">
	 <div class="col-xs-6">

	 <h4>Channel Sales Report </h4>
	 </div>
	 <div class="col-xs-6">

	 		
	</div>
 </div>
 <div class="well well-sm">
<h4><%=  @orderdate %> </h4>
</div>
<h4>HBN Chanels Orders </h4>

<% if @hbn_order_list.present? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
     <th>No</th>
     <th>Channel</th>
     <th>CC Orders</th>
       <th>CC Value</th>
      <th>COD Orders</th>
       <th>COD Value</th>
       <th>Total Orders</th>
     <th>Total Value</th>
    
     </tr>
  </thead>
<tbody>
   <% @hbn_order_list.each do |c| %>
   <tr>
   <td><%= @sno %></td>

<td>
 <%=  c[:channel] %>
 
</td>
<td class="text-right">
   <%= c[:ccorders] %> 
</td>
<td class="text-right">
   <%= c[:ccvalue] %> 
</td>
<td class="text-right">
   <%= c[:codorders] %> 
</td>
<td class="text-right">
   <%= c[:codvalue] %> 
</td>

<td class="text-right">
   <%= c[:nos] %> 
</td>
<td class="text-right">
   <%= c[:total] %> 
</td>

  </tr> 
  <% @sno += 1 %> 
 <% end %>

 

  </tbody>

  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report or No sales in HBN </h5>
  </div>
  <% end %>
 <br>

<h4>Paid Chanels Orders </h4>

<% if @paid_order_list.present? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
     <th>No</th>
     <th>Channel</th>
     <th>CC Orders</th>
       <th>CC Value</th>
      <th>COD Orders</th>
       <th>COD Value</th>
       <th>Total Orders</th>
     <th>Total Value</th>
    
     </tr>
  </thead>
<tbody>
   <% @paid_order_list.each do |c| %>
   <tr>
   <td><%= @sno %></td>

<td>
 <%=  c[:channel] %>
 
</td>
<td class="text-right">
   <%= c[:ccorders] %> 
</td>
<td class="text-right">
   <%= c[:ccvalue] %> 
</td>
<td class="text-right">
   <%= c[:codorders] %> 
</td>
<td class="text-right">
   <%= c[:codvalue] %> 
</td>

<td class="text-right">
   <%= c[:nos] %> 
</td>
<td class="text-right">
   <%= c[:total] %> 
</td>

  </tr> 
  <% @sno += 1 %> 
 <% end %>

 

  </tbody>

  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report or No sales in Paid Channels </h5>
  </div>
  <% end %>
 <br>
 
<h4>Other Chanels Orders </h4>

<% if @other_order_list.present? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
     <th>No</th>
     <th>Channel</th>
     <th>CC Orders</th>
       <th>CC Value</th>
      <th>COD Orders</th>
       <th>COD Value</th>
       <th>Total Orders</th>
     <th>Total Value</th>
    
     </tr>
  </thead>
<tbody>
   <% @other_order_list.each do |c| %>
   <tr>
   <td><%= @sno %></td>

<td>
 <%=  c[:channel] %>
 
</td>
<td class="text-right">
   <%= c[:ccorders] %> 
</td>
<td class="text-right">
   <%= c[:ccvalue] %> 
</td>
<td class="text-right">
   <%= c[:codorders] %> 
</td>
<td class="text-right">
   <%= c[:codvalue] %> 
</td>

<td class="text-right">
   <%= c[:nos] %> 
</td>
<td class="text-right">
   <%= c[:total] %> 
</td>

  </tr> 
  <% @sno += 1 %> 
 <% end %>

 

  </tbody>

  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report or No sales in Other Channels </h5>
  </div>
  <% end %>
 <br>


