<% title "Disposition #{@from_date} to #{@to_date}" %>
   <%= form_tag  url_for(:controller => 'sales_report', :action => 'disposition_report'), method: "get" do  %>
 <div class="row">
	 <div class="col-xs-2">

	 <h4>Disposition Report </h4>
	 </div>

   <div class="col-xs-4">

   </div>
	 <div class="col-xs-6">
      <%= render partial: 'date_range_search', :locals => {:searchaction => "disposition_report"}  %>
    </div>


 </div>
<% end %>

<% if @employeeorderlist.present? %>
<% total_value, total_piece = 0, 0 %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
     <th>S No</th>
     <th>Order Time</th>
     <th>Date</th>
     <th>Disposition</th>
     <th>Mobile</th>
     <th>Customer</th>
     <th>Media</th>
     <th>City </th>
      <th>Employee</th>
     <th>Products</th>
     <th>Value</th>
     </tr>
  </thead>
<tbody>
  <% @total_value = 0 %>
   <% @employeeorderlist.each do |c| %>
   <tr>
   <td><%= c[:sno] %></td>
   <td><%= c[:order_time] %></td>
   <td><%= c[:on_date] %></td>
   <td><%= c[:disposition] %></td>
   <td><%= c[:mobile] %></td>
   <td><%= c[:customer] %></td>
   <td><%= c[:channel] %></td>
   <td><%= c[:city] %></td>
   <td><%= c[:employee] %></td>
   <td><%= c[:products] %></td>
   <td class="text-right"><%= c[:total] %> <% @total_value += c[:total] if c[:total].present? %></td>
  </tr>
  <% @sno += 1 %>
 <% end %>



  </tbody>
<tfoot>
  <tr>
  <th colspan="9"><strong>Total</strong></th>
  <th><strong><%= @total_value %></strong></th>
  </tr>

</tfoot>
  </table>
  <div class="well well-sm">
    <%= link_to 'Download CSV file', disposition_report_path(from_date: @from_date, to_date: @to_date, format: :csv), class: "btn btn-info btn-sm" %>
  </div>

  <% end %>
 <br>

<script>
$('#datepicker_to').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker_from').datepicker({format: 'yyyy-mm-dd'});
</script>
