<div class="row">
 <div class="col-xs-3">

	 <h3>Fitness Product  </h3>
	 </div>
  <%= form_tag  url_for(:controller => 'sales_report', :action => "fitness_products_sold"), method: "get" do  %>

 <div class="col-xs-5">
       <div class="input-daterange input-group">
         <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker_from", :class => "form-control", :required => "true" )   %>
         <span class="input-group-addon">to</span>

          <%= text_field_tag(:to_date, @to_date, :data => {:provide => "datepicker"}, :id => "datepicker_to", :class => "form-control", :required => "true" )   %>

       </div>
   </div>
          <div class="col-xs-2">
        <%= submit_tag "Show Report", name: nil, class: "btn btn-primary" %>
      </div>



<% end %>
</div>
<p>
  <small><% @fitness_prods.each do |fit| %> <%= fit %> <% end %></small>
</p>
<hr>

 <%= render('order_line_wo_address') %>



<div class="well well-sm">
<div class="row">
  <div class="col-xs-6">
  Download CSV file
  </div>
  <div class="col-xs-6">
    <%= link_to 'Download CSV file', fitness_products_sold_path(from_date: @from_date, to_date: @to_date, format: :csv), class: "btn btn-info btn-sm" %>
  </div>
</div>
</div>



<script>
$('#datepicker_to').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker_from').datepicker({format: 'yyyy-mm-dd'});
</script>
