<% title "All Sales Reports" %>
<div class="jumbotron">
 <div class="container">
  <h1>Sales Reports</h1>
   <h3 class="text-danger">List of all sales reports with detailed description can be found here. These reports are realtime, which means<strong> If you select todays date the order count changes every minute</strong></h3> 
 </div>
</div>

<div class="container">
<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-primary">
        	<div class="panel-heading"><h3 class="panel-title">CDM Channel Sales</h3></div>
				<div class="panel-body">Get Sales report for each CDM Listed below for Channel Sales managed by them</div>
        			 <div class="panel-footer">
        		<%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'cdm_sales_summary'), :method => :GET, :enforce_utf8 => false do |f| %>
        	<div class="row">
				<div class="col-xs-12">
         		  <%= select_tag :bdm_id,  options_from_collection_for_select(@media_manager,
               :id, :name, selected: @bdm_id ),
                     {:class => "form-control", label: "Select the Product if required ", required: true } %>
        		 </div>
            </div>
           <div class="row">
        		<div class="col-xs-8">
        	<%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker1", :class => "form-control", :required => "true" )   %>
				</div>
				<div class="col-xs-4"><%= submit_tag "Report", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %></div>
        		</div>
				<% end %>
        	</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-primary">
		<div class="panel-heading"><h3 class="panel-title">Channel Sales Summary</h3></div>
		  <div class="panel-body">Sales for Pvt and HBN channels</div>
		  <div class="panel-footer">

				 <%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'channel_sales_summary'), :method => :GET, :enforce_utf8 => false do |f| %>
	         <div class="row">
				<div class="col-xs-8">
				 <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker2", :class => "form-control", :required => "true" )   %>

				</div>

				<div class="col-xs-4">
					<%= submit_tag "Report", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
				</div>
				</div>

				<% end %>

				</div>

		</div>
	</div>
	<div class="col-xs-4">
			<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">HBN half hour</h3></div>
			  <div class="panel-body">
			    See how each half hour is performing and sales against each 30 minute interval, get to see the days performance across time zones.
			  </div>
			  <div class="panel-footer">
			  	 <%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'hourly'), :method => :GET, :enforce_utf8 => false do |f| %>
					 <div class="row">
					<div class="col-xs-8">
					 <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker3", :class => "form-control", :required => "true" )   %>

					</div>

					<div class="col-xs-4">
						<%= submit_tag "Report", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
					</div>
					</div>

					<% end %>
			  </div>
			</div>
	</div>
</div>

<!-- row 2 -->

<div class="row">
	<div class="col-xs-4">
			<div class="panel panel-primary">
			<div class="panel-heading">
			 <h3 class="panel-title">Gender report*</h3>
			</div>
			  <div class="panel-body">
			  HBN and Pvt channel caller gender report (How many males/females place orders?)
			  </div>
			  <div class="panel-footer">

					 <%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'gender_report'), :method => :GET, :enforce_utf8 => false do |f| %>
					 <div class="row">
					<div class="col-xs-8">
					 <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker10", :class => "form-control", :required => "true" )   %>

					</div>

					<div class="col-xs-4">
						<%= submit_tag "Report", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
					</div>
					</div>

					<% end %>

					</div>

								  </div>
	</div>
	<div class="col-xs-4">
			<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Pvt Channel Slot Report*</h3></div>
			  <div class="panel-body">
			    All sales from private channel, slotwise report
			  </div>
			  <div class="panel-footer">
			  	<%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'summary'), :method => :GET, :enforce_utf8 => false do |f| %>
					 <div class="row">
					<div class="col-xs-8">
					 <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker11", :class => "form-control", :required => "true" )   %>

					</div>

					<div class="col-xs-4">
						<%= submit_tag "Report", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
			  </div>
			</div>
			<% end %>
		</div>
		</div>
	</div>
	<div class="col-xs-4">
			<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">City Report</h3></div>
			  <div class="panel-body">
			   City wise (Warning Slow Report)
			  </div>
			  <div class="panel-footer">
			  	<%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'city'), :method => :GET, :enforce_utf8 => false do |f| %>
					 <div class="row">
					<div class="col-xs-8">
					 <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker12", :class => "form-control", :required => "true" )   %>

					</div>

					<div class="col-xs-4">
						<%= submit_tag "Search", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
			  </div>
			</div>
			<% end %>
		</div>
		</div>
	</div>
</div>

<!-- row 3 -->

<div class="row">
   	<div class="col-xs-4">
        <div class="panel panel-primary">
         	<div class="panel-heading"><h3 class="panel-title">Hourly Detailed Sales</h3></div>
     	 	<div class="panel-body">Get detailed hourly sales</div>
     	<div class="panel-footer">
					<%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'hour_sales'), :method => :GET, :enforce_utf8 => false do |f| %>
      		<div class="row">
       			<div class="col-xs-8">
         		   <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker14", :class => "form-control", :required => "true" )   %>
        		</div>
        		<div class="col-xs-4">
             	   <%= submit_tag "Report", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
        		</div>
        	</div>
			<% end %>
			</div>
		</div>
    </div>
  	<div class="col-xs-4">
			<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Open Orders</h3></div>
			  <div class="panel-body">
			   Orders which are not completed
			  </div>
			  <div class="panel-footer">
			  	<%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'open_orders'), :method => :GET, :enforce_utf8 => false do |f| %>
					 <div class="row">
					<div class="col-xs-8">
					 <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker15", :class => "form-control", :required => "true" )   %>

					</div>

					<div class="col-xs-4">
						<%= submit_tag "Search", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
			  </div>
			</div>
			<% end %>
		</div>
		</div>
	</div>
  	<div class="col-xs-4">
			<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Pincode Orders</h3></div>
			  <div class="panel-body">
			   Pincode Orders
			  </div>
			  <div class="panel-footer">
			  	<%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'pincode_orders'), :method => :GET, :enforce_utf8 => false do |f| %>
					 <div class="row">
					<div class="col-xs-8">
					 <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker16", :class => "form-control", :required => "true" )   %>

					</div>

					<div class="col-xs-4">
						<%= submit_tag "Search", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
			  </div>
			</div>
			<% end %>
		</div>
		</div>
	</div>
</div>

 
<!-- row 4 -->

<div class="row">
   	<div class="col-xs-4">
      	<div class="panel panel-primary">
             <div class="panel-heading"><h3 class="panel-title">Fitness Product </h3></div>
               <div class="panel-body">
                List of all fitness products sold
               </div>
            <div class="panel-footer">

                  <%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'fitness_products_sold'), :method => :GET, :enforce_utf8 => false do |f| %>
	      		<div class="row">
	        		<div class="col-xs-8">
	         		   	<%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker17", :class => "form-control", :required => "true" )   %>
	        		</div>
	        		<div class="col-xs-4">
	            <%= submit_tag "Report", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
	        		</div>
	       		</div>
	   		<% end %>
			</div>
    	</div>
    </div>
	<div class="col-xs-4">
      	<div class="panel panel-primary">
             <div class="panel-heading"><h3 class="panel-title">Dispatch App</h3></div>
               <div class="panel-body">
                View details of orders which are dispatched 
               </div>
            <div class="panel-footer">

                  <%= bootstrap_form_tag url: url_for(:controller => 'pending_orders', :action => 'index'), :method => :GET, :enforce_utf8 => false do |f| %>
	      		<div class="row">
	        		<div class="col-xs-8">
	         		   	<%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker18", :class => "form-control", :required => "true" )   %>
	        		</div>
	        		<div class="col-xs-4">
	            <%= submit_tag "Report", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
	        		</div>
	       		</div>
	   		<% end %>
			</div>
    	</div>
	</div>
   	<div class="col-xs-4">
      	<div class="panel panel-primary">
             <div class="panel-heading"><h3 class="panel-title">Employee Pay u Step Report</h3></div>
               <div class="panel-body">
                List of pay u money orders in various brackets
               </div>
            <div class="panel-footer">

                  <%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'employee_pay_u_report'), :method => :GET, :enforce_utf8 => false do |f| %>
	      		<div class="row">
		        		<div class="col-xs-8">
		         		   	<%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker19", :class => "form-control", :required => "true" )   %>
		        		</div>
		        		<div class="col-xs-4">
		            <%= submit_tag "Report", name: nil, class: "btn btn-success ", data: { confirm: 'Employee Pay u Step Report, Click Ok!'}  %>
		        		</div>
	       		</div>
	   		<% end %>
			</div>
    	</div>
    </div>
	
</div>


<!-- row 5 -->
	
	<div class="row">
	 	<div class="col-xs-4">
	      	<div class="panel panel-primary hide">
	             <div class="panel-heading"><h3 class="panel-title">Birthday Report</h3></div>
	               <div class="panel-body">
	                List of all birthdays for a particular day
	               </div>
	            <div class="panel-footer">

	                  <%= bootstrap_form_tag url: url_for(:controller => 'sales_report', :action => 'birthday_list'), :method => :GET, :enforce_utf8 => false do |f| %>
		      		<div class="row">
						<div class="col-xs-4">
						 	 <%= select_tag :month, 
							 options_for_select((1..12).map {|m| [Date::MONTHNAMES[m], m]}, 
							 selected: @month), {:class => "form-control", label: "Select the Month" } %>
						</div>
					    <div class="col-xs-3">
					 	 	<%= select_tag :day, 
						 	options_for_select((1..31), 
						 	selected: @day), {:class => "form-control", label: "Select the Day" } %>
					    </div>
		        		<div class="col-xs-4">
		            		<%= submit_tag "Report", name: nil, class: "btn btn-success ", data: { confirm: 'Are you sure?'}  %>
		        		</div>
		       		</div>
		   		<% end %>
				</div>
	    	</div>
	 	</div>
	 	<div class="col-xs-4"></div>
	 	<div class="col-xs-4"></div>
	 </div>
	
<!-- row 6 -->



<!-- row 7 -->

 <div class="row hide">
   	<div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
 </div>

<!-- row 8 -->
<div class="row hide">
 	<div class="col-xs-4"></div>
 	<div class="col-xs-4"></div>
 	<div class="col-xs-4"></div>
</div>

<!-- last row with product sold report  -->
<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Product Sold Report</h3></div>
  	<div class="panel-body">
    <div class="row">
      <div class="col-xs-3"><h3>Search Product</h3></div>
      <%= form_tag  url_for(:controller => 'sales_report', :action => "product_sold"), method: "get" do  %>
      <div class="col-xs-6">
  	 	 <%= select_tag :product_master_id,  options_from_collection_for_select(@product_master,
         :id, :productname, selected: @product_master_id ),
               {:class => "form-control", label: "Select the Product if required " } %>
  	  </div>
      <div class="col-xs-3">

            <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker17", :class => "form-control", :required => "true" )   %>

      </div>
      <div class="col-xs-2">
        <%= submit_tag "Show Report", name: nil, class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
 <script>
$('#datepicker1').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker2').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker3').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker4').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker5').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker6').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker7').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker8').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker9').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker10').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker11').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker12').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker13').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker14').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker15').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker16').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker17').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker18').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker19').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker20').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker21').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker22').datepicker({format: 'yyyy-mm-dd'});
</script>
