 <div class="row">
	 <div class="col-xs-6">

	 <h4>Product Ordered <%=  @orderdate %> </h4>
	 </div>
	 <div class="col-xs-6">
 <%= render partial: 'date_search', :locals => {:searchaction => "product"}  %>

	</div>
 </div>

 <%= render partial: 'product_list', :locals => {:main_product_list => @main_product_list, :list_name => "Main Product"}  %>

 <hr>
 <%= render partial: 'product_list', :locals => {:main_product_list => @basic_product_list_orderlist, :list_name => "Basic Product"}  %>
 <hr>
 <%= render partial: 'product_list', :locals => {:main_product_list => @common_product_list_orderlist, :list_name => "Common Product"}  %>
 <hr>
 <div class="well well-sm">
 <div class="row">
   <div class="col-xs-6">
   Download CSV file
   </div>
   <div class="col-xs-6">
     <%= link_to 'Download CSV file', product_report_path(from_date: @from_date, format: :csv), class: "btn btn-info btn-sm" %>
   </div>
 </div>
 </div>
