<p id="notice"><%= notice %></p>

<h1>Listing Product Sell Types</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_sell_types.each do |product_sell_type| %>
      <tr>
        <td><%= product_sell_type.name %></td>
        <td><%= product_sell_type.description %></td>
        <td><%= link_to 'Show', product_sell_type %></td>
        <td><%= link_to 'Edit', edit_product_sell_type_path(product_sell_type) %></td>
        <td><%= link_to 'Destroy', product_sell_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product sell type', new_product_sell_type_path, class: "btn btn-primary" %>
