<div class="row">
    <div class="col-xs-6"><h3><%= @search %> <%= @found %>  </h3>    </div>
    <div class="col-xs-6"> <%= render 'search' %></div>
</div>
<hr>
<br>

<h3> Active Product Variant List </h3>

<% @product_variants.each do |v| %>
      
      <%= render('product_variant', :v => v) %>
 
 <% end %>

<br>
<div class="well well-sm">
<h3> Inactive Product Variant List </h3>
<hr>

   
     <% @inactive_product_variants.each do |v| %>
      
      <%= render('product_variant', :v => v) %>
 
 <% end %>
</div>


