<div class="row">
    <div class="col-xs-6"><h3><%= @search %> <%= @found %>  </h3>    </div>
    <div class="col-xs-6"> <%= render 'search' %></div>
</div>
<br>
<p id="notice"><%= notice %></p>


<!-- new form below -->
<div class="panel panel-primary">
 <div class="panel-heading">
<div class="row">
<div class="col-xs-2">
<h4> <%= @product_variant.product_master.name %> </h4>
</div>
      <div class="col-xs-2">
        <%= link_to 'Back to Product Master', @product_variant.product_master, class: "btn btn-info btn-sm" %>
      </div>
</div>
 </div>
 <div class="panel-footer">
   <div class="row">
   <small>
            <div class="col-xs-2">
                <strong>Price :</strong> <%= @product_variant.product_master.price %> 
            </div>
            <div class="col-xs-2">
                <strong>Shipping :</strong> <%= @product_variant.product_master.shipping %>
            </div>
            <div class="col-xs-2">
                <strong>Total :</strong> <%= @product_variant.product_master.total %>
            </div>  
            <div class="col-xs-2">
           Status: <strong> <%= @product_variant.product_master.product_active_code.name if @product_variant.product_master.product_active_code.present?%></strong>
            </div>   
             <div class="col-xs-4">
          <strong>Category : </strong>   <%= @product_variant.product_master.product_category.name if @product_variant.product_master.product_category %>
            </div>   
        </div>
       </small>
 </div>
  <div class="panel-body">
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <h1>  <%= @product_variant.name %> </h1>
            <div class="row">
              <div class="col-xs-3">  <p class="lead"><strong>Sell as:</strong>
                <%= @product_variant.product_sell_type.name if @product_variant.product_sell_type %> </p></div>
              <div class="col-xs-2"> <p class="lead"> <strong>Price:</strong>
                <%= @product_variant.price %> </p></div>
              <div class="col-xs-3">  <p class="lead"> <strong>Shipping:</strong>
                <%= @product_variant.shipping %> </p></div>
              <div class="col-xs-3">  <p class="lead"> <strong>Total:</strong>
                <%= @product_variant.total %></p></div>
                <div class="col-xs-1">
                 <%= link_to 'Edit', edit_product_variant_path(@product_variant), class: "btn btn-info btn-xs" %> 
           </div>
        </div>
   <hr />
<div class="row">
<div class="col-xs-8">
<h4>Product Sell List <small>Only these products can be sold</small></h4>
</div>
<div class="col-xs-4">
    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseProductList" aria-expanded="false" aria-controls="collapseProductList">
 Add New Product List
</button>
</div>
</div>

   <div class="collapse" id="collapseProductList">
  <div class="well">
    <%= render "product_lists/quickadd" %>
  </div>
</div>


<%= render "product_lists/list" %>


  </div>
 
</div>

 </div>