<%= bootstrap_form_for(@medium) do |f| %>
  <% if @medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% @medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @change_name.present? %>
	<div class="well well-sm">
	  <%= @change_name %>
	</div>
  <% end %>
  <div class="field">
     <%= f.text_field :name, label: "Name", required: true  %>
  </div>
  <div class="field">
     <%= f.text_field :ref_name, label: "Reference Name - Please ensure it is unique", placeholder: "Unique general name of Channel" %>
  </div> 
 <div class="row">
    <div class="col-xs-2">
    <%= f.text_field :dnis, placeholder: "dnis", required: true,  label: "4 digit dnis" %>
    </div>
  <div class="col-xs-3">
   
    <%= f.text_field :telephone, required: true,  label: "Incoming Telephone" %>
  </div>
    <div class="col-xs-4">
    <%= f.select(:state, 
        content_tag(:option,'All India',:value=>"")+options_from_collection_for_select(@statelist, :name, :name, @medium.state), 
        {:prompt => 'All India'}, :class => "form-control col-xs-1")  %>
  </div>
  <div class="col-xs-3">
  
    <%= f.text_field :alttelephone, label: "Alternate Telephone" %>
  </div>

  </div>
 <% if (current_user.employee_role.sortorder < 5) %> 
 
  <div class="row">
  <div class="col-xs-4 col-offset-xs-2">
    <%= f.select(:media_commision_id, 
       options_from_collection_for_select(@media_commission, :id, :name, @medium.media_commision_id), {:prompt => 'None'}, :class => "form-control col-xs-1")  %>
</div>
<div class="col-xs-2">
   
    <%= f.text_field :value, placeholder: "e.g. 0.20", label: "Commission Percent" %>
  </div>
 <div class="col-xs-2">
      <%= f.text_field :daily_charges, placeholder: "e.g. 200.20", label: "Daily Charges" %>
     </div>

      <div class="col-xs-2">
        <%= f.text_field :paid_correction, placeholder: "e.g. 0.50", label: "Correction" %>
        <small>Use this to correct the paid percent to realistic values</small>
      </div>
  </div>
  <% end %>
   <div class="row">
    <div class="col-xs-3">
      <%= f.select(:media_group_id, 
        options_from_collection_for_select(@media_group, :id, :name, @medium.media_group_id), 
        {:prompt => 'None', include_blank: 'None'}, :class => "form-control col-xs-1")  %>
    </div>
 
    <div class="col-xs-4">
    <%= f.text_field :channel, placeholder: "Chanel", required: true, label: "Channel" %>
    </div>
    <div class="col-xs-1">
    <%= f.text_field :slot, placeholder: "Slot", label: "Slot" %>
    </div>
      <div class="col-xs-2">
          <%= f.number_field :corporateid, label: "Corporate Id", placeholder: "Ignore if you dont know" %>
    </div>
  </div>
<div class="field">
 <%= f.select(:employee_id, 
    options_from_collection_for_select(@employees, :id, :name, selected: @medium.employee_id), 
        {:prompt => '-Select Managed by-'} , 
    {label: " Managed By"})  %>
 </div>
  <div class="field">
   
    <%= f.text_area :description, label: "Description" %>
  </div>
  <div class="row">
  		<div class="col-xs-4 col-xs-offset-1">
	    <%= f.check_box :active, label: "Active Media" %>
		</div>  
	</div>

 	<div class="row">
  <div class="col-xs-3 col-md-offset-6">

  <%= check_box_tag 'next', 'next', false %>
  <label>Jump to next</label>
  </div>
  		<div class="col-xs-2 ">
  			
    		<%= f.submit  class: "btn btn-primary" %>
  
  			
  		</div>
  </div>
<% end %>
