<!--  if @go_live == true % -->
<div class="panel panel-danger">
  <div class="panel-body">
    <div class="row">
   	 <div class="col-xs-10">
   	 	<h4><%= @regenerate_ppo %></h3>
   	 </div>
      <%= form_tag  url_for(:controller => 'media', :action => "switch_cdm"), method: "post" do  %>
	   <div class="col-xs-5">
            <%= select_tag :current_employee_id,  options_from_collection_for_select(@employees,
              :id, :name, selected: @current_employee_id ),
                    {:class => "form-control", label: "Currently Managed By", include_blank: '-Not managed by anyone-' } %>
	   </div>
	   <div class="col-xs-5">
		   <%= select_tag :new_employee_id,  options_from_collection_for_select(@employees,
              :id, :name, selected: @current_employee_id ),
			  {:class => "form-control", label: "To be Replaced By", 
				  include_blank: '-Replace managed by none-' } %>
	   </div>
          <div class="col-xs-2">
            <%= submit_tag "Replace", name: nil, class: "btn btn-danger" %>
          </div>
      <% end %>

    </div>
  </div>
   <div class="panel-footer">Warning the existing CDM would be replaced by the new manager.</div>
</div>
<!-- % end % -->
