
<div class="row">
  <div class="col-xs-6">
  <div class="well well-sm">
  <div class="row">
    <%= bootstrap_form_tag url: media_path, :method => :GET, :enforce_utf8 => false do |f| %>
     <label class="col-sm-2 control-label" for="formGroupInputLarge">Telephone</label>
      <div class="col-xs-8">
          <%= text_field_tag(:telephone, @telephone,
          {:class => "form-control", :placeholder => "Please enter the telephone number"})  %>
      </div>
      <div class="col-xs-2">
          <%= submit_tag "Ok", name: nil,  class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  </div>
  </div>
  <div class="col-xs-4">
  <div class="well well-sm">
    <div class="row">
      <%= bootstrap_form_tag url: media_path, :method => :GET, :enforce_utf8 => false do |f| %>
      <label class="col-sm-2 control-label" for="formGroupInputLarge">DNIS</label>
      <div class="col-xs-8">
            <%= text_field_tag(:dnis, @dnis,
            {:class => "form-control", :placeholder => "Please enter the DNIS number"})  %>
        </div>
        <div class="col-xs-2">
            <%= submit_tag "Ok", name: nil,  class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
  <div class="well well-sm">
    
      <%= bootstrap_form_tag url: media_path, :method => :GET, :enforce_utf8 => false do |f| %>
     
      <%= hidden_field_tag :showall, @showall %>
           
           
       
            <%= submit_tag "Show All", name: nil,  class: "btn btn-primary" %>
        
      <% end %>
     
    </div>
  </div>
</div>

<h3><%= @state_searched %>  Listing of Channel</h3>

<table class="table table-hover">
  <thead>
    <tr>
     <th>Reference Name</th>
      <th>Name</th>
      <th>Telephone</th>
      <th>Alt telephone</th>
      <th>State</th>
      <th>Active</th>
      <th>Group</th>
      <th>Commission</th>
      <th>Percent </th>
      <th>DNIS </th>
      <th>Channel </th>
      <th>Slot</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.ref_name %></td>
        <td><%= medium.name %></td>
        <td><%= medium.telephone %></td>
        <td><%= medium.alttelephone %></td>
        <td><%= medium.state %></td>
        <td><%= medium.active %></td>
        <td><%= medium.media_group.name if medium.media_group %></td>
        <td><%= medium.media_commision.name if medium.media_commision %></td>
         <td><%= medium.value %></td>
        <td><%= medium.dnis %></td>
        <td><%= medium.channel %></td>
        <td><%= medium.slot %></td>
        <td><%= link_to 'Show', medium %></td>
        <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
        <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medium', new_medium_path , class: "btn btn-info btn-lg" %>
