<%= render 'search' %>
<div class="row">
  <div class="col-xs-8">
   <h3><%= @state_searched %>  Listing of Channel</h3>
  </div>
  <div class="col-xs-4 text-right">
    <% if @showall=="true" %>
      <%= link_to 'Download CSV list', media_path(showall: "true", format: :csv), class: "btn btn-success btn-sm" %>
    <% end %>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
     <th>Reference Name</th>
      <th>Name</th>
      <th>Telephone</th>
      <th>State</th>
      <th>Active</th>
      <th>Group</th>
       <% if (current_user.employee_role.sortorder < 5) %> 
      <th>Commission Type</th>
       <th>Percent </th>
      <th>Daily Charges</th>
      <th>Correction</th>
     <% end %>
      <th>DNIS </th>
      <th>Channel </th>
      <th>Slot</th>
     
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.ref_name %></td>
        <td><%= medium.name %></td>
        <td><%= medium.telephone %></td>
        <td><%= medium.state %></td>
        <td><%= medium.active %></td>
        <td><%= medium.media_group.name if medium.media_group %></td>
         <% if (current_user.employee_role.sortorder < 5) %> 
        <td><%= medium.media_commision.name if medium.media_commision %></td>
         <td><%= medium.value %></td>
        <td><%= medium.daily_charges  %></td>
        <td><%= medium.paid_correction %></td>
        <% end %>
        <td><%= medium.dnis %></td>
        <td><%= medium.channel %></td>
        <td><%= medium.slot %></td>
        
        <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="row">
  <div class="col-xs-6">
    <%= link_to 'New Medium', new_medium_path , class: "btn btn-info btn-lg" %>
  </div>
  <div class="col-xs-6 text-right">
   
  </div>
</div>




