<div class="well well-sm">
	<p class="lead">Only Active Product Variants are Listed Below</p>
</div>

<%= simple_form_for(@media_tape_head) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  <%= f.input :product_variant_id, collection: @productvariants,:label_method => :full_product_details,:value_method => :id,:label => "Select Product Variant" , prompt: "Choose a Product Variant" %>
  </div>
  <div class="row">
  <div class="col-xs-9">
  	<%= f.input :name, :required => true,label: "Give detailed name to enter the product from list" %>
   
    
  </div>

  <div class="col-xs-1">
  
  </div>
   <div class="col-xs-2">
<label> </label> <br>
    <br>
    </div>
  </div>


<div class="row">
<div class="col-xs-2 col-xs-offset-8">
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  </div>
  </div>
<% end %>
