<%= simple_form_for(@media_tape_head) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">

    <%= f.association :product_variant,label: "Select Product Variant", prompt: "Choose a Product Variant" %>
   
  </div>
  <div class="row">
  <div class="col-xs-9">
  	<%= f.input :name, :required => true %>
   
    
  </div>

  <div class="col-xs-1">
   <label>Parts</label> <br>
  	 <%=  select_tag "file_parts", options_for_select(0..10), {:class => "form-control"}
     %>
  </div>
   <div class="col-xs-2">
<label> </label> <br>
    <br>
    </div>
  </div>


<div class="row">
<div class="col-xs-2 col-xs-offset-8">
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  </div>
  </div>
<% end %>
