<p id="notice"><%= notice %></p>

<h1>Listing Media Tape Heads</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tape Head</th>
      <th>Product Variant</th>
      <th>Parts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_tape_heads.each do |media_tape_head| %>
      <tr>
        <td><%= media_tape_head.name %></td>
       <td><%= media_tape_head.product_variant.name if media_tape_head.product_variant.present? %></td>
       <td><%= media_tape_head.parts %></td>
        <td><%= link_to 'Add Multiple Tapes', media_tape_head, class: 'btn btn-success btn-xs' %></td>
        <td><%= link_to 'Edit', edit_media_tape_head_path(media_tape_head) %></td>
        <td><%= link_to 'Destroy', media_tape_head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media tape head', new_media_tape_head_path, class: 'btn btn-primary btn-xs' %>
