<!-- BEGIN TEMPLATE // -->
<table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN PREHEADER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
                  <tr>
                      <td valign="top" class="preheaderContent" style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px;" mc:edit="preheader_content00">
                          New Ticket in SURE CRM - ERP
                      </td>
                      <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                      <td valign="top" width="180" class="preheaderContent" style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:0;" mc:edit="preheader_content01">
                          Email not displaying correctly?<br /><a href=<%= @url %> target="_blank">View it in your browser</a>.
                      </td>
                      <!-- *|END:IF|* -->
                  </tr>
              </table>
              <!-- // END PREHEADER -->
          </td>
      </tr>
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN HEADER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                  <tr>
                      <td valign="top" class="headerContent">
                        <img src="https://www.hbnindia.com/img/HBN_logo_new.png" style="max-height:75px;max-width:600px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext />
                      </td>
                  </tr>
              </table>
              <!-- // END HEADER -->
          </td>
      </tr>
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN BODY // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                  <tr>
                      <td valign="top" class="bodyContent" mc:edit="body_content">
                          <h2>New Ticket no: <%= @app_feature_request.id %> <%= @app_feature_request.name %></h2>
                          
                       <br />
                          
                       <h4>Dear <%= @app_feature_request.employee.fullname %></h4>

                          We have successfully registered your "<em><%= @app_feature_request.app_feature_type.name %></em>" request with tracking id <%= @app_feature_request.id %> for app: <%= @app_feature_request.app_list.name %>. You can modify the request <a href="<%= @url %>" target="_blank">click here</a>. We would make all attempts to complete this by the desired date <%= @app_feature_request.require_by_date.strftime('%d-%b-%y') %>
                      </td>
                  </tr>
                  <tr>
                      <td valign="top" class="bodyContent" mc:edit="body_content">

                      </td>
                  </tr>
              </table>
              <!-- // END BODY -->
          </td>
      </tr>
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN COLUMNS // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
                <tr mc:repeatable>
                    <td align="center" valign="top" class="templateColumnContainer" style="padding-top:20px;">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%">

                              <tr>
                                <td valign="top" class="leftColumnContent" mc:edit="left_column_content">
                                      <h3>Problem this solves</h3>
                                      <br />
                                      <%= simple_format h(@app_feature_request.problem_this_solves) %>
                                      <br />

                                  </td>
                              </tr>
                          </table>
                      </td>
                    <td align="center" valign="top" class="templateColumnContainer" style="padding-top:20px;">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                              <tr>
                                <td valign="top" class="rightColumnContent" mc:edit="right_column_content">
                                      <h3>Mandatory requirements</h3>
                                      <br />
                                      <%= simple_format h(@app_feature_request.mandatory_requirements) %>
                                      <br />
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
              </table>
              <!-- // END COLUMNS -->
          </td>
      </tr>
      <td align="center" valign="top">
          <!-- BEGIN BODY // -->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
              <tr>
                  <td valign="top" class="bodyContent" mc:edit="body_content">
                    Desired Completion date </td><td> <%= @app_feature_request.require_by_date.strftime('%d-%b-%y') %>
                  </td>
                  <td valign="top" class="bodyContent" mc:edit="body_content">
                     Priority</td><td>  <%= @app_feature_request.app_priority.name %>
                  </td>
                  

              </tr>
             
          </table>
            <!-- // END BODY -->
        </td>
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN FOOTER // -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                <tr>
                    <td valign="top" class="footerContent" mc:edit="footer_content00">
                      <br>
                      <br>
                      <br>
                     Remain updated on this request by <a href=<%= @url %> target="_blank">Click here</a>
                     <br>
                     <br>
                     <br>
                    </td>
                </tr>
            </table>
              <!-- // END FOOTER -->
          </td>
      </tr>
  </table>
  <!-- // END TEMPLATE -->
