<p id="notice"><%= notice %></p>

<h1>
   <%= @campaign.name %>
</h1>

<div class="row">
	<div class="col-xs-2">
		 <strong>For date:</strong>
  <%= @campaign.startdate.strftime("%d-%b-%Y") %>
	</div>
	
	<div class="col-xs-8">
		 <strong>Media:</strong>
  <%= @campaign.medium.mediainfo %>
	</div>
	
	
	
	<div class="col-xs-2">
	 <strong>DNIS:</strong>
  <%= @campaign.medium.dnis if @campaign.medium %>
	</div>
	
</div>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign), class: "btn btn-info btn-xs" %> |
<%= link_to 'Back', campaigns_path, class: "btn btn-info btn-xs" %>

<hr />
<%= render partial: "campaign_playlists/campaign_playlist" %>


<hr />  
<h3>Add New Campaign Playlist </h3>
 <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">HBN Auto Playlist </a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">HBN Single Playlist</a></li>
    <li role="presentation"><a href="#pvt" aria-controls="profile" role="tab" data-toggle="tab">Private Channel Single Playlist</a></li>
    
  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">
    
      <% if @hbnchecked == TRUE %>
  <%= render partial: "media_tape_heads/hbn_auto_add" %>
     <% else %>
     <h3>You cant add HBN channels Listing when you have selected private channel </h3>
     <% end %>

  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
    <% if @hbnchecked == TRUE %>
  <%= render partial: "campaign_playlists/insert_playlist" %>
<% else %>
<h3>You cant add HBN channels Listing when you have selected private channel </h3>
<% end %>
   
  </div>
    <div role="tabpanel" class="tab-pane fade" id="pvt">
    <% if @pvtchannelchecked == TRUE %>
      <%= render partial: "media_tape_heads/pvt_single_add" %>
  <% else %>
     <h3>You cant add private channel Listing when you have selected HBN channels </h3>
     <% end %>
  </div>
  
</div> <!-- Tab panes end-->

</div>
 <!-- Nav tabs end -->



<script>
  $(document).ready(function() {
    $('#begin_at').timepicker({ 'scrollDefaultNow': true });
  }
</script>

<script>
  $(document).ready(function() {
    $('#campaign_playlist_productvariantid').change(function() {
        $.ajax({
           url: "<%= productvariantdetails_path %>",
           data: {
               variant_id: $("#campaign_playlist_productvariantid option:selected").val()
           },
           dataType: "script"
       });
    });
  });
</script>

<script>
  $(document).ready(function() {
    $('#variants_select').change(function() {
      $.ajax({
        url: "<%= update_tapes_path %>",
        data: {
          product_variant_id : $('#variants_select').val()
        },
        dataType: "script"
      });
    });
    $('#tapes_select').change(function() {
      $.ajax({
        url: "<%= tape_list_path %>",
        data: {
          media_tape_head_id : $('#tapes_select').val()
        },
        dataType: "script"
      });
    });
  });
</script>
