<h1>Listing orders lines</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Orderid <br> Orderdate <br> External ref no</th>
      <th>Employeecode <br>    Employee </th>
      <th>Master <br> variant <br> List</th>
      <th>Pieces</th>
      <th>Subtotal <br> Shipping <br> Codcharges <br> Total</th>
      <th>Status</th>
       <th>Description</th>
      <th>Estimatedshipdate <br> Estimatedarrivaldate</th>
      <th>Orderchecked  <br> Actualshippate</th>
     
    </tr>
  </thead>

  <tbody>
    <% @order_lines.each do |order_line| %>
      <tr>
        <td><%= order_line.orderid %> <br> <%= order_line.orderdate %> 
        <br> <%= order_line.external_ref_no %></td>
        <td><%= order_line.employeecode %> <br> <%= order_line.employee_id %></td>
        <td><%= order_line.product_variant.product_master.name if order_line.product_variant  %> <br>
          <%= order_line.product_variant.name if order_line.product_variant  %> <br>
          <%= order_line.product_list.name if order_line.product_list  %>
        </td>
        <td><%= order_line.pieces %></td>
        <td><%= order_line.subtotal %><br><%= order_line.shipping %><br><%= order_line.codcharges %> <br> <%= order_line.total %></td>
        <td><%= order_line.order_line_dispatch_status.name if order_line.order_line_dispatch_status %></td>
        
        <td><%= order_line.description %></td>
        <td><%= order_line.estimatedshipdate %> <br> <%= order_line.estimatedarrivaldate %></td>
        <td><%= order_line.orderchecked %> <br> <%= order_line.actualshippate %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

