<h1>Listing order_lines</h1>

<table>
  <thead>
    <tr>
      <th>Orderid</th>
      <th>Orderdate</th>
      <th>Employeecode</th>
      <th>Employee</th>
      <th>External ref no</th>
      <th>Productvariant</th>
      <th>Pieces</th>
      <th>Subtotal</th>
      <th>Taxes</th>
      <th>Shipping</th>
      <th>Codcharges</th>
      <th>Total</th>
      <th>Orderlinestatusmaster</th>
      <th>Productline</th>
      <th>Description</th>
      <th>Estimatedshipdate</th>
      <th>Estimatedarrivaldate</th>
      <th>Orderchecked</th>
      <th>Actualshippate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_lines.each do |order_line| %>
      <tr>
        <td><%= order_line.orderid %></td>
        <td><%= order_line.orderdate %></td>
        <td><%= order_line.employeecode %></td>
        <td><%= order_line.employee_id %></td>
        <td><%= order_line.external_ref_no %></td>
        <td><%= order_line.product_variant.name  %></td>
        <td><%= order_line.pieces %></td>
        <td><%= order_line.subtotal %></td>
        <td><%= order_line.taxes %></td>
        <td><%= order_line.shipping %></td>
        <td><%= order_line.codcharges %></td>
        <td><%= order_line.total %></td>
        <td><%= order_line.orderlinestatusmaster_id %></td>
        <td><%= order_line.productline_id %></td>
        <td><%= order_line.description %></td>
        <td><%= order_line.estimatedshipdate %></td>
        <td><%= order_line.estimatedarrivaldate %></td>
        <td><%= order_line.orderchecked %></td>
        <td><%= order_line.actualshippate %></td>
        <td><%= link_to 'Show', order_line %></td>
        <td><%= link_to 'Edit', edit_order_line_path(order_line) %></td>
        <td><%= link_to 'Destroy', order_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order line', new_order_line_path %>
