<% if @open_orders.present? %>
<table class="table table-bordered"> 
  <thead>
    <tr>
		<th>Total: <%= @open_orders.all_orders %></th>
		<th>Retail: <%= @open_orders.retail_orders %> </th>
		<th>Transfer: <%= @open_orders.transfer_orders %> </th>
		<th>Shipped: <%= @open_orders.shipped_orders %> </th>
		<th>Open: <%= @open_orders.open_orders %> </th>
	</tr>
</thead>
</table>
<% end %>