	<table class="table table-striped table-bordered">
		<tr><th> <%= name %></th></tr>
		<tr><td class="text-right"><%= sales_ppo.total_sales %></td></tr>
		<tr><td class="text-right"><%= sales_ppo.total_nos %></td></tr>
		<tr><td class="text-right"><%= sales_ppo.total_pieces %></td></tr>
    	<tr><td class="text-right"><strong><%= sales_ppo.total_revenue %></strong></td><tr>
      	<tr><td class="text-right"><%= sales_ppo.total_product_cost %></td></tr>
		<tr><td class="text-right"><%= sales_ppo.total_product_dam_cost %></td></tr>
		<tr><td class="text-right"><%= sales_ppo.total_refund %></td></tr>
		<tr><td class="text-right"><%= sales_ppo.total_promo_cost %></td></tr>
		<tr><td class="text-right"><%= sales_ppo.total_var_cost %></td></tr>
		<tr><td class="text-right"><%= sales_ppo.total_fixed_cost %></td></tr>
    	<tr><td class="text-right"><strong><%= sales_ppo.total_cost_per_order %></strong></td></tr>
		<tr><td class="text-right"><%= sales_ppo.cost_per_order %></td></tr>
    	<tr><td class="text-right"><%= sales_ppo.total_profit %></td></tr>
		<tr><td class="text-right"><strong><%= sales_ppo.profit_per_order %></strong></td></tr>
	</table>