<h4>Check PPO performance</h4>
<hr>
<div class="well well-sm">
  <div class="row">
    <div class="col-xs-2">
	  <%= link_to "Half Hour Performance", { :controller => :sales_ppos, :action => :half_hour }, { class: "btn btn-info btn-xs"} %>
    </div>
    <div class="col-xs-2">
  	  <%= link_to "Show Performance", { :controller => :sales_ppos, :action => :half_hour }, { class: "btn btn-info btn-xs"} %>
    </div>
    <div class="col-xs-2">
	  <%= link_to "Product Performance", { :controller => :sales_ppos, :action => :half_hour }, { class: "btn btn-info btn-xs"} %>
    </div>
    <div class="col-xs-2">
	  <%= link_to "Half hour Sales", { :controller => :sales_ppos, :action => :half_hour }, { class: "btn btn-info btn-xs"} %>
    </div>
    <div class="col-xs-2">
	 <%= link_to "Operator Performance", { :controller => :sales_ppos, :action => :half_hour }, { class: "btn btn-info btn-xs"} %>
    </div>
  </div>

</div>