<% if @sales_ppos.present? %>
<table class="table table-hover table-stripped table-bordered"> 
  <thead>
    <tr>
	  <th>SNo </th>
      <th>Prod</th>
      <th>Time</th>
	  <th>Variant</th>
	  <th>Channel</th>
	  <th>Order no</th>
	  <th>Ref No</th>
      <th class="text-right">Pieces</th>
      <th class="text-right">Gross</th>
      <th class="text-right">Net</th>
      
      <th>Status</th>
    </tr>
  </thead>
 <% @sno= 1 %>
  <tbody>
    <% @sales_ppos.each do |sales_ppo| %>
      <tr>
		  <td> <%= @sno %> </td>
        <td><%= sales_ppo.prod %></td>
		<td><small><%= (sales_ppo.start_time + 330.minutes).strftime('%d-%b %H:%M %P') %></small> </td>
		<td><%= sales_ppo.product_variant.productdetails %> </td>
		<td><%= sales_ppo.medium.name %> </td>
		<td><%= sales_ppo.external_order_no %></td>
		<td><%= sales_ppo.order_id %></td>
        <td class="text-right"><%= sales_ppo.pieces %></td>
        <td class="text-right"><%= sales_ppo.gross_sales %></td>
        <td class="text-right"><%= sales_ppo.net_sale %></td>
       
        <td><%= sales_ppo.order_status_master.name if sales_ppo.order_status_master.present? %></td>
      </tr>
	   <% @sno += 1 %>
    <% end %>
  </tbody>
</table>
<% else %>

<h4>No details found in PPO table </h4>
<% end %>