<!-- set page title start -->
<% title @page_heading  %>
<!-- set page title end -->
<div class="well">
<div class="row">
	<div class="col-xs-8">
		<h3><%= @campaign_playlist.product_variant.name if @campaign_playlist.product_variant  %> 
		<small><%= @campaign_playlist.ref_name %> </small>
		<small>PV: <%= @campaign_playlist.productvariantid %> </small>
		<small>Med: <%= @campaign_playlist.campaign.mediumid %> </small>
		</h3>
	</div>
	<div class="col-xs-4">
		<p class="lead">
		<%= @campaign_playlist.for_date.strftime('%d-%b-%Y') %> =>
		<%= @campaign_playlist.start_hr.to_s.rjust(2, '0') %>:
		<%= @campaign_playlist.start_min.to_s.rjust(2, '0') %>:
		<%= @campaign_playlist.start_sec.to_s.rjust(2, '0') %>
		</p>
	</div>
<div class="row">
	<div class="col-xs-10 col-xs-offset-2">
		<p> <%= @showing_results_for %> </p>
	</div>	
</div>		
</div>

</div>

<!--Start show details of dispatch open orders etc -->
<div class="row">
	<div class="col-xs-8"><%= render 'open_orders' %> </div>
	<div class="col-xs-3 col-xs-offset-1"><%= render 'all_orders' %> 
	</div>
</div>

<!--show details of dispatch open orders etc end -->
<div class="row">
	<div class="col-xs-5"> <!-- details of ppo order -->
		
 	<%= render partial: 'ppo_split', :locals => {:ppo_name => "Retail PPO", 
	:all => @retail_sales_all, :all_per => number_to_percentage(100, precision: 0), 
	:shipped => @retail_sales_shipped, :shipped_per => number_to_percentage(@retail_sales_shipped.correction ||= 0.0, precision: 0), 
	:default => @retail_sales_default, :default_per => number_to_percentage(@retail_sales_default.correction ||= 0.0, precision: 0), 
	:three_mo => @retail_sales_3_mo, :three_mo_per => number_to_percentage(@retail_sales_3_mo.correction ||= 0.0, precision: 0),
	:all_per_name => "All", :shipped_per_name => "Shipped", :default_per_name => "Default", :three_mo_per_name => "Actual"} %>
		
 	<%= render partial: 'ppo_split', :locals => {:ppo_name => "Transfer Order PPO", 
	:all => @to_sales_all, :all_per => number_to_percentage(@to_sales_all.correction ||= 0.0, precision: 0), 
	:shipped => @to_sales_shipped, :shipped_per => number_to_percentage(@to_sales_shipped.correction ||= 0.0, precision: 0), 
	:default => @to_sales_default, :default_per => number_to_percentage(@to_sales_default.correction ||= 0.0, precision: 0), 
	:three_mo => @to_sales_3_mo, :three_mo_per => number_to_percentage(@to_sales_3_mo.correction ||= 0.0, precision: 0),
	:all_per_name => "All", :shipped_per_name => "Shipped", :default_per_name => "Default", :three_mo_per_name => "Actual"} %>
	
 	<%= render partial: 'ppo_split', :locals => {:ppo_name => "Combined PPO", 
	:all => @sales_all, :all_per => number_to_percentage(@sales_all.correction, precision: 0), 
	:shipped => @sales_shipped, :shipped_per => number_to_percentage(@sales_shipped.correction, precision: 0), 
	:default => @sales_default, :default_per => number_to_percentage(@sales_default.correction, precision: 0), 
	:three_mo => @sales_3_mo, :three_mo_per => number_to_percentage(@sales_3_mo.correction ||= 0.0, precision: 0),
	:all_per_name => "All", :shipped_per_name => "Shipped", :default_per_name => "Default", :three_mo_per_name => "Actual"} %>
	</div>
<!-- details of ppo order end -->

	<div class="col-xs-7">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	   <h3 class="panel-title">Order Summary</h3>

	  </div>
	  	<%= render partial: 'order_lines', :locals => {:order_lines =>  @order_lines_regular, 
			order_description: "Regular Products"}  %>
	  
	    <%= render partial: 'order_lines', :locals => {:order_lines =>  @order_lines_basic, 
			order_description: "Basic Upsell"}  %>
		
		<%= render partial: 'order_lines', :locals => {:order_lines =>  @order_lines_common, 
			order_description: "Common Upsell"}  %>
  </div>


</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Sales PPO Master Data</h3></div>
	<%= render 'sales_ppo_mini_list' %>
</div>

<%= render partial: 'recreate_ppo'  %>
<!-- :locals => {:order_lines =>  @order_lines_common, 
	order_description: "Common Upsell"}-->	
<hr>
<h4>Appendix</h4>
<hr>
<%= render 'order_masters' %>
<hr>
<%= render 'return_rates/quick_list_rate' %>

<div class="well well-sm">
<ul class="list-inline">

	<li>Product Variant => Transfer Order Product Revenue = Rs 2599 + 495 => 0.764444444445 
		=> where dealer price is => Price + Shipping * 0.88888888889</li>
	<li>
	    Product Variant => Retail Product Revenue = subtotal * 0.888889 + shipping * 0.98125
	</li>
  <li>
    revenue => product revenue (you can check for product revenue against each product)
  </li>
  <li>total_profit += (total_revenue - (total_product_cost + total_var_cost +  total_refund + total_promo_cost))</li>
  <li>Cost Per Order = (@total_cost_per_order + @total_fixed_cost) / @total_pieces</li>
  <li>@total_cost_per_order = (@total_product_cost  + @total_var_cost +  @total_refund + @total_promo_cost)</li>
  <li>
  	The total is divided by total pieces
  </li>

</ul>
</div>
