 <!-- set page title start -->
 <% title "Half Hour PPO Performance #{@or_for_date}" %>
 <!-- set page title end -->
 <div class="row">
	 <div class="col-xs-6">

	 <h4>HBN Half Hourly Orders for Date: <%= @or_for_date %></h4>
   <p>
     <%= @from_date %> <%= @to_date %>
   </p>
	 </div>
	 <div class="col-xs-6">

    <%= render partial: 'date_search', :locals => {:searchaction => "half_hour"}  %>
	</div>
 </div>
 <br>

<% if @employeeorderlist.present? %>
<table class="table table-hover table-bordered">
  <thead>
   <tr>
		<th rowspan="2">No</th>
	 	<th  colspan="2">Time</th>
	  	<th colspan="3">Income</th>
	  	<th class="text-right" rowspan="2">Revenue</th>
	  	<th colspan="4">Expense</th>
	 	<th rowspan="2">Profitability</th>
		<th rowspan="2"></th>
    </tr>
    <tr>
	    <th class="text-right">Start Time</th>
	    <th class="text-right">End Time</th>
	    <th class="text-right">Orders</th>
	    <th class="text-right">Pieces</th>
	    <th class="text-right">Sales</th>
	    <th class="text-right">Produst Cost</th>
	    <th class="text-right">Comm</th>
	    <th class="text-right">Media Cost</th>
	    <th class="text-right">Refund</th>
    </tr>
  </thead>
<tbody>
   <% @employeeorderlist.each do |c| %>
   <tr>
   	<td><%= @sno %></td>
   	<td><%= c[:starttime] %></td>
   	<td><%= c[:endtime] %></td>
   	<td class="text-right"><%= c[:nos] %><% @total_nos += c[:nos] %></td>
	<td class="text-right"><%= c[:pieces] %><% @total_pieces += c[:pieces] %></td>
	<td class="text-right"><%= c[:total] %><% @total_sales += c[:total] %></td>
	<td class="text-right"><%= c[:revenue] %><% @total_revenue += c[:revenue] %></td>
	<td class="text-right"><%= c[:product_cost] %><% @total_product_cost += c[:product_cost] %></td>
	<td class="text-right"><%= c[:variable_cost] %><% @total_var_cost += c[:variable_cost] %></td>
	<td class="text-right"><%= c[:fixed_cost] %><% @total_fixed_cost += c[:fixed_cost] %></td>
	<td class="text-right"><%= c[:refund] %><% @total_refund += c[:refund] %></td>
	<td class="text-right"><%= c[:profitability] %><% @total_profit += c[:profitability] %> </td>
	<td>
		<!-- % = link_to "Details", ppo_details_path(start_time: c[:start_time], end_time: c[:end_time]), :target => "_blank" % >
		< % = link_to "New Details", {:controller => :sales_ppos, :action => :details, start_time: c[:start_time], end_time: c[:end_time]}, class: "btn btn-info btn-xs", :target => "_blank" % -->
	</td>
  </tr>
  <% @sno += 1 %>
 <% end %>
 </tbody>
 <tfoot>
    <tr>
     <th colspan="3" >Total</th>
     <th class="text-right"><%= @total_nos %></th>
     <th class="text-right"><%= @total_pieces %></th>
     <th class="text-right"><%= @total_sales %></th>
     <th class="text-right"><%= @total_revenue %></th>
     <th class="text-right"><%= @total_product_cost %></th>
     <th class="text-right"><%= @total_var_cost %></th>
     <th class="text-right"><%= @total_fixed_cost %></th>
     <th class="text-right"><%= @total_refund %></th>
     <th class="text-right"><%= @total_profit %></th>
    <th></th>
     </tr>
  </tfoot>
  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report </h5>
  </div>
  <% end %>
 <br>

<%= link_to "Download CSV file", { :controller => :sales_ppos, :action => :half_hour, 
	:from_date => @or_for_date , format: :csv }, class: "btn btn-info btn-sm" %>
<hr>
<% @hidelist = true %>
<% if @hidelist == false %>
<div style="visibility:hidden">
<% @order_sno = 1 %>
<table class="table table-bordered">
  <tr><td>Order No</td> <td>Date Time</td></tr>
 <% @list_of_orders.each do |c| %>
<tr>
<td> <%= @order_sno %></td>
<td> <%= c[:order_no] %></td>
<td> <%= c[:time_of_order] %></td>
</tr>
<% @order_sno += 1 %></td>
</tr>
 <% end -%>
</table>
</div>

<% end %>