<% title "PPO Summary #{@from_date} to #{@to_date}" %>
 <div class="row">
	 <div class="col-xs-7">

	 <h4><strong>HBN PPO Summary for past few days</strong></h4>
     <%= @from_date %> <%= @to_date %>
	 </div>
	 <div class="col-xs-5">
	 	<%= render partial: 'date_search', :locals => {:searchaction => "index"}  %>
	</div>
 </div>

<% if @employeeorderlist.present? %>
<table class="table table-hover table-bordered">
<thead>
   <tr>
   <th  rowspan="2">No</th>
     <th  rowspan="2">Date</th>

      <th colspan="4">Income</th>
      <th rowspan="2" class="text-right">Total Revenue</th>
      <th colspan="5">Expense</th>
      <th rowspan="2" class="text-right">Total Expense</th>
    <th rowspan="2" class="text-right">Profitability</th>
     <th rowspan="2">More</th>
     </tr>
    <tr>
     <th class="text-right">Orders</th>
       <th class="text-right">Pieces</th>
     <th class="text-right">Sales</th>
      <th class="text-right">Revenue</th>

      <th class="text-right">Product Cost</th>
       <th class="text-right">Commision</th>
     <th class="text-right">Media Cost</th>
      <th class="text-right">Refund</th>
      <th class="text-right">Damage</th>

     </tr>
</thead>

<tbody>
 <% @employeeorderlist.each do |c| %>
   <tr>
   	<td><%= @sno %></td>
 	<td><%= c[:for_date] %></td>
	<td class="text-right"><%= c[:nos] %></td>
	<td class="text-right"><%= c[:pieces] %></td>
	<td class="text-right"><%= c[:total] %></td>
	<td class="text-right"><%= c[:revenue] %></td>
	<td class="text-right"><strong><%= c[:revenue] %></strong></td>
	<td class="text-right">   <%= c[:product_cost] %></td>
	<td class="text-right">   <%= c[:variable_cost] %></td>
	<td class="text-right">   <%= c[:fixed_cost] %></td>
	<td class="text-right">   <%= c[:refund] %></td>
	<td class="text-right">   <%= c[:product_damages] %></td>
	<td class="text-right"> <strong><%= c[:total_cost] %></strong></td>
	<td class="text-right"><strong><%= c[:profitability] %></strong></td>
	<td>
		<%= link_to "30 Min PPO", { :controller => :sales_ppos, :action => :half_hour, :from_date => c[:for_date]}, { class: "btn btn-info btn-xs"} %>
 	   	<br>
		<%= link_to "Shows' PPO", { :controller => :sales_ppos, :action => :show_wise, :from_date => c[:for_date]}, { class: "btn btn-info btn-xs"} %>
	</td>
  </tr>
  <% @sno += 1 %>
 <% end %>
</tbody>
</table>
  <% else %>
  <div class="well well-sm"><h5>Please select a date to generate the report </h5></div>
  <% end %>
 <br>
<hr>

<!-- = render :partial => "full_list.html.erb" -->

<div class="well well-sm">
  <h3>List of HBN Media (Only Active and Airtime Purchased)</h3>
<table class="table table-striped">
  <thead>
     <tr>
       <th>Name</th>
       <th>Telephone</th>
       <th>DNIS </th>
       <th>State</th>
       <th>Active</th>
       <th>Group</th>
       <th>BDM</th>
       <th>Commission Type</th>
       <th>Daily Charges</th>
     </tr>
  </thead>
  <tbody>
    <% @total_daily_charges = 0 %>
    <% @hbn_media.each do |medium| %>
      <tr>
        <td><%= medium.name %></td>
        <td><%= medium.telephone %></td>
        <td><%= medium.dnis %></td>
        <td><%= medium.state %></td>
        <td><%= medium.active %></td>
        <td><%= medium.media_group.name if medium.media_group %></td>
        <td><%= medium.employee.name || "NO BDM" if medium.employee %></td>
        <td><%= medium.media_commision.name if medium.media_commision %></td>
        <td><%= medium.daily_charges  %> <% if medium.daily_charges.present? %>
           <% @total_daily_charges += medium.daily_charges %> <% end %>
         </td>
      </tr>
    <% end %>
  </tbody>
<tfoot>
  <tr>
    <td colspan="8">Total</td>
    <td><%= @total_daily_charges  %></td>
  </tr>
</tfoot>

</table>
</div>

<h4>Check PPO performance</h4>
<hr>
<div class="well well-sm">
  <div class="row">
    <div class="col-xs-2">
      <%= link_to "Half Hour Performance", { :controller => :sales_ppos, :action => :half_hour, :from_date => @from_date }, class: "btn btn-info btn-sm" %>
    </div>
    <div class="col-xs-2">
      <%= link_to "Show Performance", { :controller => :sales_ppos, :action => :half_hour }, class: "btn btn-info btn-sm" %>
    </div>
    <div class="col-xs-2">
      <%= link_to "Product Performance", { :controller => :sales_ppos, :action => :half_hour }, class: "btn btn-info btn-sm" %>
    </div>
    <div class="col-xs-2">
      <%= link_to "Half hour Sales", { :controller => :sales_ppos, :action => :half_hour }, class: "btn btn-info btn-sm" %>
    </div>
    <div class="col-xs-2">
      <%= link_to "Operator Performance", { :controller => :sales_ppos, :action => :half_hour }, class: "btn btn-info btn-sm" %>
    </div>
  </div>

</div>