<p id="notice"><%= notice %></p>

<h1>Listing Sales Ppos</h1>

<table>
  <thead>
    <tr>
      <th>Campaign playlist</th>
      <th>Campaign</th>
      <th>Product master</th>
      <th>Product variant</th>
      <th>Product list</th>
      <th>Prod</th>
      <th>Name</th>
      <th>Start time</th>
      <th>Order</th>
      <th>Order line</th>
      <th>Product cost</th>
      <th>Pieces</th>
      <th>Revenue</th>
      <th>Damages</th>
      <th>Returns</th>
      <th>Commission cost</th>
      <th>Promotion cost</th>
      <th>Media cost</th>
      <th>Gross sales</th>
      <th>Net sale</th>
      <th>External order no</th>
      <th>Order status</th>
      <th>Order last mile</th>
      <th>Order pincode</th>
      <th>Media</th>
      <th>Media cost total</th>
      <th>Promo cost total</th>
      <th>Dnis</th>
      <th>City</th>
      <th>State</th>
      <th>Mobile no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_ppos.each do |sales_ppo| %>
      <tr>
        <td><%= sales_ppo.campaign_playlist_id %></td>
        <td><%= sales_ppo.campaign_id %></td>
        <td><%= sales_ppo.product_master_id %></td>
        <td><%= sales_ppo.product_variant_id %></td>
        <td><%= sales_ppo.product_list_id %></td>
        <td><%= sales_ppo.prod %></td>
        <td><%= sales_ppo.name %></td>
        <td><%= sales_ppo.start_time %></td>
        <td><%= sales_ppo.order_id %></td>
        <td><%= sales_ppo.order_line_id %></td>
        <td><%= sales_ppo.product_cost %></td>
        <td><%= sales_ppo.pieces %></td>
        <td><%= sales_ppo.revenue %></td>
        <td><%= sales_ppo.damages %></td>
        <td><%= sales_ppo.returns %></td>
        <td><%= sales_ppo.commission_cost %></td>
        <td><%= sales_ppo.promotion_cost %></td>
        <td><%= sales_ppo.media_cost %></td>
        <td><%= sales_ppo.gross_sales %></td>
        <td><%= sales_ppo.net_sale %></td>
        <td><%= sales_ppo.external_order_no %></td>
        <td><%= sales_ppo.order_status_id %></td>
        <td><%= sales_ppo.order_last_mile_id %></td>
        <td><%= sales_ppo.order_pincode %></td>
        <td><%= sales_ppo.media_id %></td>
        <td><%= sales_ppo.media_cost_total %></td>
        <td><%= sales_ppo.promo_cost_total %></td>
        <td><%= sales_ppo.dnis %></td>
        <td><%= sales_ppo.city %></td>
        <td><%= sales_ppo.state %></td>
        <td><%= sales_ppo.mobile_no %></td>
        <td><%= link_to 'Show', sales_ppo %></td>
        <td><%= link_to 'Edit', edit_sales_ppo_path(sales_ppo) %></td>
        <td><%= link_to 'Destroy', sales_ppo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales ppo', new_sales_ppo_path %>
