<!-- set page title start -->
<% title "Operator performance #{@from_date} to #{@to_date}" %>
<!-- set page title end -->
<div class="row">
  <div class="col-xs-12">
    <h4>DTH operator performance (change the operator per day rate to see the revised ppo)</h4>
  </div>
</div>
 <div class="row">
   <%= form_tag  url_for(:controller => 'sales_ppos', :action => "operator_sales_performance"), method: "get" do  %>
    <div class="col-xs-4">
           <%= select_tag :media_id, options_from_collection_for_select(@medias, :id, :channel_name, :selected => @media_id), {:class => "form-control",  :required => true} %>
    </div>
    <div class="col-xs-4">
      <div class="input-daterange input-group">
           <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker_from", :class => "form-control", :required => "true" )   %>
           <span class="input-group-addon">to</span>

            <%= text_field_tag(:to_date, @to_date, :data => {:provide => "datepicker"}, :id => "datepicker_to", :class => "form-control", :required => "true" )   %>

      </div>
    </div>
    <div class="col-xs-2">
        <%= text_field_tag(:revised_per_day_rate, @revised_per_day_rate, :class => "form-control", :placeholder => "Revised day rate" )   %>
    </div>
    <div class="col-xs-2">
         <%= submit_tag "Report", name: nil, class: "btn btn-primary" %>
    </div>
   <% end %>

 </div>
 <br>
<br>
<%= render partial: 'row_of_ppo' %>

<br>
 <br>

<div class="well well-sm">
<div class="row">
  <div class="col-xs-10">
	<ul class="list-inline">
	  <li>* The pieces are including upsell</li>
	  <li>ppo = (revenue - (product_cost + fixed_cost + product_damages + media_var_cost + refund))</li>
	</ul>
  </div>
  <div class="col-xs-1">
   	<%= link_to "Download CSV file", { :controller => :sales_ppos, :action => :operator_sales_performance, :from_date => @or_for_date, media_id: @media_id, format: :csv }, class: "btn btn-info btn-sm" %>
  </div>
</div>
</div>
 
<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Total Revenue Earning Break up for Operator Based on Row 1 Values</h3></div>

	<table class="table table-bordered table-stripped table-hover">
		<thead>
			<tr>
				<th colspan="2">Income</th>
				<th colspan="2">Expense</th>
				<th colspan="2">Media Costs</th>
			</tr>
		 </thead>
	  <tbody>
	    <tr>
			<td><strong>Sales</strong></td>
			<td class="text-right"><%= @total_sales_1.round(0) if @total_sales_1 %></td>
			<td><strong>Total Product Cost</strong></td>
			<td class="text-right"><%= @total_product_cost_1.round(0) if @total_product_cost_1 %></td>
			<td><strong>Media Cost</strong></td>
			<td class="text-right"><%= @media_total_fixed_cost.round(0) if @media_total_fixed_cost%></td>
		</tr>
		<tr>
			<td><strong>Revenue</strong></td>
			<td class="text-right"><%= @total_revenue_1.round(0) if @total_revenue_1 %></td>
			<td><strong>Refund</strong></td>
			<td class="text-right"><%= @total_refund_1.round(0) if @total_refund_1 %></td>
			<td><strong>Revised Cost</strong></td>
			<td class="text-right"><%= @revised_media_total_fixed_cost.round(0) if @revised_media_total_fixed_cost %></td>
		</tr>
		<tr>
			<td><strong></strong></td>
			<td></td>
			<td><strong>Damages</strong></td>
			<td class="text-right"><%= @total_product_dam_cost_1.round(0) if @total_product_dam_cost_1 %></td>
			<td><strong>Variable Cost</strong></td>
			<td class="text-right"><%= @total_var_1 =  (@total_var_cost_1 + @total_var_on_order_cost_1).to_i %></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<th>Total</th>
			<th class="text-right"><%= @total_revenue_1.round(0) if @total_revenue_1 %> </th>
			<th>Total</th>
			<th class="text-right"><%= @total_expenses_1 = ((@total_product_cost_1 ||= 0 ) + (@total_refund_1 ||= 0) + (@total_product_dam_cost_1 ||= 0)).round(0) %></th>
			<th>Total</th>
			<th class="text-right"><%= @total_media_cost_1 = ((@media_total_fixed_cost ||= 0 ) + (@total_var_1 ||=0)).round(0) %></th>
			
		</tr>
	</thead>
	</table>
    <div class="panel-footer">
		<table class="table">
			<thead>
				
				<tr>
					<th><h4>Original PPO</h4></th>
					<th colspan="2">((<%= @total_revenue_1.round(0) if @total_revenue_1 %></th>
					<th>-</th>
					<th colspan="2">(<%= @total_expenses_1.round(0) if @total_expenses_1 %></th>
					<th> + </th>
					<th colspan="2"><%= @total_media_cost_1.round(0) if @total_media_cost_1 %>))</th>
					<th>/</th>
					<th><%= @total_nos_1.round(0) %>)</th>
					<th>=</th>
					<th colspan="3" class="text-right">
						<% if (@total_nos_1 > 0 && (@total_expenses_1 > 0 || @total_media_cost_1 > 0 )) %>
						<%= ((((@total_revenue_1 ||= 0) - ((@total_expenses_1 ||= 0 ) + (@total_media_cost_1 ||=0))) / (@total_nos_1 ||= 0)).round(0)) if @total_nos_1.present? %> 
						<% end %>
					</th>
					
				</tr>
				<tr>
					<th><h4>Revised PPO</h4></th>
					<th colspan="2">((<%= @total_revenue_1.round(0) if @total_revenue_1 %></th>
					<th>-</th>
					<th colspan="2">(<%= @total_expenses_1.round(0) if @total_expenses_1 %></th>
					<th> + </th> 
					<th colspan="2"><%= @revised_media_total_fixed_cost.round(0) if @revised_media_total_fixed_cost %></th>
					<th>/</th>
					<th><%= @total_nos_1.round(0) %>)</th>
					<th>=</th>
					<th colspan="3" class="text-right">
						<% if (@total_nos_1 > 0 && (@total_expenses_1 > 0 || @revised_media_total_fixed_cost > 0 )) %>
						<%= ((((@total_revenue_1 ||= 0) - ((@total_expenses_1 ||= 0 ) + (@revised_media_total_fixed_cost ||=0))) / (@total_nos_1 ||= 0)).round(0)) if @total_nos_1.present? %> 
						<% end %>
					</th>
					
				</tr>
				
			</thead>
			
		</table>
		<p>PPO formula = (Total Revenue - Total Cost) / Total Orders</p>
		<p>Daily Charge <%= @daily_charge %> X Days <%= @days %></p>
		<p>Revised ppo is calculated on user input value above and is currently <%= @revised_media_total_fixed_cost || "NA" if @revised_media_total_fixed_cost %></p>
    </div>  
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Total Revenue Earning Break up for Operator Based on Row 2 Default values R:<%= @sales_ppo_retail_default %>% | T:<%= @sales_ppo_transfer_default %>% </h3></div>

	<table class="table table-bordered table-stripped table-hover">
		<thead>
			<tr>
				<th colspan="2">Income</th>
				<th colspan="2">Expense</th>
				<th colspan="2">Media Costs</th>
			</tr>
		</thead>
	  	<tbody>
	    <tr>
			<td><strong>Sales</strong></td>
			<td class="text-right"><%= @total_sales_2.round(0) if @total_sales_2 %></td>
			<td><strong>Total Product Cost</strong></td>
			<td class="text-right"><%= @total_product_cost_2.round(0) if @total_product_cost_2 %></td>
			<td><strong>Media Cost</strong></td>
			<td class="text-right"><%= @media_total_fixed_cost.round(0) if @media_total_fixed_cost%></td>
		</tr>
		<tr>
			<td><strong>Revenue</strong></td>
			<td class="text-right"><%= @total_revenue_2.round(0) if @total_revenue_2 %></td>
			<td><strong>Refund</strong></td>
			<td class="text-right"><%= @total_refund_2.round(0) if @total_refund_2 %></td>
			<td><strong>Revised Cost</strong></td>
			<td class="text-right"><%= @revised_media_total_fixed_cost.round(0) if @revised_media_total_fixed_cost %>)) </td>
		</tr>
		<tr>
			<td><strong></strong></td>
			<td></td>
			<td><strong>Damages</strong></td>
			<td class="text-right"><%= @total_product_dam_cost_2.round(0) if @total_product_dam_cost_2 %></td>
			<td><strong>Variable Cost</strong></td>
			<td class="text-right"><%= @total_var_2 =  (@total_var_cost_2 + @total_var_on_order_cost_2).to_i %></td>
		</tr>
	</tbody>
		<thead>
			<tr>
				<th>Total</th>
				<th class="text-right"><%= @total_revenue_2.round(0) if @total_revenue_2 %> </th>
				<th>Total</th>
				<th class="text-right"><%= @total_expenses_2 = ((@total_product_cost_2 ||= 0 ) + (@total_refund_2 ||= 0) + (@total_product_dam_cost_2 ||= 0)).round(0) %></th>
				<th>Total</th>
				<th class="text-right"><%= @total_media_cost_2 = ((@media_total_fixed_cost ||= 0 ) + (@total_var_2 ||=0)).round(0) %></th>
			
			</tr>
		</thead>
	</table>
    <div class="panel-footer">
		<table class="table">
			<thead>
				
				<tr>
					<th><h4>Original PPO</h4></th>
					<th colspan="2">((<%= @total_revenue_2.round(0) if @total_revenue_2 %></th>
					<th>-</th>
					<th colspan="2">(<%= @total_expenses_2.round(0) %> </th>
					<th>+</th>
					<th colspan="2"><%= @total_media_cost_2.round(0) %>))</th>
					<th>/</th>
					<th><%= @total_nos_2.round(0) %>)</th>
					<th>=</th>
					<th colspan="3" class="text-right">
						<% if (@total_nos_2 > 0 && (@total_expenses_2 > 0 || @total_media_cost_2 > 0 )) %>
						<%= ((((@total_revenue_2 ||= 0) - ((@total_expenses_2 ||= 0 ) + (@total_media_cost_2 ||=0))) / (@total_nos_2 ||= 0)).round(0)) if @total_nos_2.present? %> 
						<% end %>
					</th>
					
				</tr>
				<tr>
					<th><h4>Revised PPO</h4></th>
					<th colspan="2">((<%= @total_revenue_2.round(0) if @total_revenue_2 %></th>
					<th>-</th>
					<th colspan="2">(<%= @total_expenses_2.round(0) if @total_expenses_2%></th>
					<th>+</th>
					<th colspan="2"><%= @revised_media_total_fixed_cost.round(0) if @revised_media_total_fixed_cost%>))</th>
					<th>/</th>
					<th><%= @total_nos_2.round(0) if @total_nos_2 %>)</th>
					<th>=</th>
					<th colspan="3" class="text-right">
						<% if (@total_nos_2 > 0 && (@total_expenses_2 > 0 || @revised_media_total_fixed_cost > 0 )) %>
						<%= ((((@total_revenue_2 ||= 0) - ((@total_expenses_2 ||= 0 ) + (@revised_media_total_fixed_cost ||=0))) / (@total_nos_2 ||= 0)).round(0)) if @total_nos_2.present? %> 
						<% end %>
					</th>
					
				</tr>
				
			</thead>
			
		</table>
		<p>PPO formula = (Total Revenue - Total Cost) / Total Orders</p>
		<p>Daily Charge <%= @daily_charge %> X Days <%= @days %></p>
		<p>Revised ppo is calculated on user input value above and is currently <%= @revised_media_total_fixed_cost || "NA" if @revised_media_total_fixed_cost %></p>
    </div>  
</div>



<script>
$('#datepicker_to').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker_from').datepicker({format: 'yyyy-mm-dd'});
</script>
