<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign playlist:</strong>
  <%= @sales_ppo.campaign_playlist.name if @sales_ppo.campaign_playlist %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @sales_ppo.campaign.name if @sales_ppo.campaign %>
</p>

<p>
  <strong>Product master:</strong>
  <%= @sales_ppo.product_master.name %>
</p>

<p>
  <strong>Product variant:</strong>
  <%= @sales_ppo.product_variant_id %>
</p>

<p>
  <strong>Product list:</strong>
  <%= @sales_ppo.product_list_id %>
</p>

<p>
  <strong>Prod:</strong>
  <%= @sales_ppo.prod %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sales_ppo.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @sales_ppo.start_time %>
</p>

<p>
  <strong>Order:</strong>
  <%= @sales_ppo.order_id %>
</p>

<p>
  <strong>Order line:</strong>
  <%= @sales_ppo.order_line_id %>
</p>

<p>
  <strong>Product cost:</strong>
  <%= @sales_ppo.product_cost %>
</p>

<p>
  <strong>Pieces:</strong>
  <%= @sales_ppo.pieces %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @sales_ppo.revenue %>
</p>

<p>
  <strong>Damages:</strong>
  <%= @sales_ppo.damages %>
</p>

<p>
  <strong>Returns:</strong>
  <%= @sales_ppo.returns %>
</p>

<p>
  <strong>Commission cost:</strong>
  <%= @sales_ppo.commission_cost %>
</p>

<p>
  <strong>Promotion cost:</strong>
  <%= @sales_ppo.promotion_cost %>
</p>



<p>
  <strong>Gross sales:</strong>
  <%= @sales_ppo.gross_sales %>
</p>

<p>
  <strong>Net sale:</strong>
  <%= @sales_ppo.net_sale %>
</p>

<p>
  <strong>External order no:</strong>
  <%= @sales_ppo.external_order_no %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @sales_ppo.order_status_id %>
</p>

<p>
  <strong>Order last mile:</strong>
  <%= @sales_ppo.order_last_mile_id %>
</p>

<p>
  <strong>Order pincode:</strong>
  <%= @sales_ppo.order_pincode %>
</p>

<p>
  <strong>Media:</strong>
  <%= @sales_ppo.medium.name if @sales_ppo.medium %>
</p>


<p>
  <strong>Promo cost total:</strong>
  <%= @sales_ppo.promo_cost_total %>
</p>

<p>
  <strong>Dnis:</strong>
  <%= @sales_ppo.dnis %>
</p>

<p>
  <strong>City:</strong>
  <%= @sales_ppo.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sales_ppo.state %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @sales_ppo.mobile_no %>
</p>

<%= link_to 'Edit', edit_sales_ppo_path(@sales_ppo) %> |
<%= link_to 'Back', sales_ppos_path %>
