<div class="row">
<div class="col-xs-6">
<h3>Promotions</h3>
</div>
<div class="col-xs-6">
<%= render partial: 'search', :locals => {:searchaction => "index"} %>
</div>
</div>

<br>
<div class="digg_pagination">
    <%= will_paginate @product_variants, :container => false %>
</div>
<br>

<%= render partial: 'list', :locals => {:listing => @live_promotions,:name => "Live"} %>
<br>
 <%= render partial: 'list', :locals => {:listing => @live_not_active_promotions, :name => "Live but Not Active"} %>
<br>
 <%= render partial: 'list', :locals => {:listing => @promotions,:name => "All"} %>



 <br>
 <%= render partial: 'list', :locals => {:listing => @upcoming_promotions, :name => "Upcoming"} %>

<br>
<%= link_to 'New Promotion', new_promotion_path, class: "btn btn-primary" %>
