<!-- set page title start -->
<% title "Employee Report #{@from_date} to #{@to_date}" %>
<!-- set page title end -->
 <div class="row">
	 <div class="col-xs-6">

	 <h4>Sales Report for day <%=  @orderdate %> </h4>
	 </div>
	 <div class="col-xs-6">
<%= render partial: 'date_range_search', :locals => {:searchaction => "agent_order"}  %>
	 		
	</div>
 </div>
<div class="well well-sm">
Order between <%= @first_order_at %>(first order for the day) and <%= @last_order_at %> (last order time in this report)
</div>
<% if @employeeorderlist.present? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
	     <th>No</th>
	     <th>Employee</th>
	     <th>Pay U Orders</th>
	     <th>Pay U Value</th>
	     <th>CC Orders</th>
	     <th>CC Value</th>
	     <th>COD Orders</th>
	     <th>COD Value</th>
	     <th>Total Orders</th>
	     <th>Total Value</th>
     </tr>
  </thead>
<tbody>
   <% @employeeorderlist.each do |c| %>
   <tr>
		<td><%= @sno %></td>
		<td>
		 <%= link_to c[:employee], sales_report_team_agent_order_list_path(employee_id: c[:id], for_date: c[:for_date]), :target => "_blank", class:"btn btn-info btn-xs"  %>

		</td>
		<td class="text-right">
		   <%= c[:pay_u_orders] %> <% @total_pay_u_orders += c[:pay_u_orders] %>
		</td>
		<td class="text-right">
		   <%= c[:pay_u_value] %> <% @total_pay_u_value += c[:pay_u_value] %>
		</td>
		<td class="text-right">
		   <%= c[:ccorders] %> <% @total_ccorders += c[:ccorders] %>
		</td>
		<td class="text-right">
		   <%= c[:ccvalue] %> <% @total_ccvalue += c[:ccvalue]  %>
		</td>
		<td class="text-right">
		   <%= c[:codorders] %> <% @total_codorders += c[:codorders]  %>
		</td>
		<td class="text-right">
		   <%= c[:codvalue] %> <% @total_codvalue += c[:codvalue]  %>
		</td>
		<td class="text-right">
		   <%= c[:nos] %> <% @total_nos += c[:nos]  %>
		</td>
		<td class="text-right">
		   <%= c[:total] %> <% @total_total += c[:total]  %>
		</td>

  </tr> 
  <% @sno += 1 %> 
 <% end %>

    <tr>
    <td colspan="2">Total</td>
  	<td class="text-right"> <%= @total_pay_u_orders %> 	</td>
  	<td class="text-right">	<%= @total_pay_u_value %> 	</td>
  	<td class="text-right">   <%= @total_ccorders %> </td>
  	<td class="text-right"><%= @total_ccvalue %> </td>
  	<td class="text-right"><%= @total_codorders %> </td>
  	<td class="text-right"><%= @total_codvalue %> </td>
  	<td class="text-right"><%= @total_nos %> </td>
  	<td class="text-right"><%= @total_total %> </td>

    </tr>

  </tbody>

  </table>
  
  <hr>
  

  
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report </h5>
  </div>
  <% end %>
 <br>

