<table class="table table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Stock balance</th>
      <th>Rupee balance</th>
      <th>Stock returned</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @distributor_stock_summaries.each do |distributor_stock_summary| %>
      <tr>
        <td><%= distributor_stock_summary.product_list.name if distributor_stock_summary.product_list %></td>
        <td><%= distributor_stock_summary.stock_qty %></td>
        <td><%= distributor_stock_summary.stock_value %></td>
        <td><%= distributor_stock_summary.stock_returned %></td>
        <td><%= distributor_stock_summary.summary_date.strftime("%d-%b-%Y") %></td>
        <td><%= link_to 'Destroy', distributor_stock_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>