<h4>Customer List</h4>

<% unless @customers.blank? %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile </th>
      <th>State</th>
      
      <th>Emailid</th>
      
     
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.salute %>
        	<%= customer.first_name %>
        	<%= customer.last_name %></td>
        <td><%= customer.mobile %> <br/>
        <%= customer.alt_mobile %></td>
        <td><%= customer.from_state %></td>
       
        <td><%= customer.emailid %> <br/>
        <%= customer.alt_emailid %></td>
        
        <td><%= link_to 'Show',customer , class: "btn btn-primary btn-xs" %></td>
         <td><%= link_to 'Order Now', edit_customer_path(customer, :calledno => @calledno, :mobile => @mobile), class: "btn btn-primary btn-xs" %></td>
       <!--<td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>--> 
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h3>There are no customers</h3>  
<%end%>
<br>

<%= link_to 'New Customer Order', new_customer_path(:calledno => @calledno, :mobile => @mobile, :force=>'yes') , class: "btn btn-info btn-lg" %>
