
   <%= render 'customer_details' %>
<div class="row">
  
        <div class="col-xs-8">
         <div class="clearfix"></div>
         <div class="row">
         <div class="col-xs-12">
  <%= render 'add_products_text' %>
  </div>
  </div>
  <br>
            <div class="clearfix"></div>
<div class="row">
<div class="col-xs-12">
              <%= render 'add_products' %>
            </div>

            </div>
            <br>
            <div class="clearfix"></div>
              <%= render 'order_lines/orderlines' %>
            <div class="clearfix"></div>
            <div class="row">
              <%= render 'order_footer' %>
            </div>
      
    <div class="clearfix"></div>
     <%= render 'btn_add_address' %>
     <div class="clearfix"></div>
     
      </div>

        <div class="col-xs-4">
          <div class="panel panel-default">
              <div class="panel-heading">
              <h3 class="panel-title">Product Script</h3>
              </div>
              <div  class="panel-body">
                  <div id="product-script-id">
                
                  </div>
                  <div id="product-script">
                
                  </div>
            </div>
          </div><!-- panel end -->
        </div>  
</div>
 



<script>
  $(document).ready(function() {
    $('#order_line_productvariant_id').change(function() {
        $.ajax({
           url: "<%= producttraining_path %>",
           data: {
               id: $("#order_line_productvariant_id option:selected").val()
           },
           dataType: "script"
       });
    });
  });
</script>

 

<script type="text/javascript">
$(document).ready(function() {
   
        $('#productvariant').change(function(){
          //var msglist = document.getElementById("productvariant");
          //var show = msglist.dataset.ElementId;
          val = $('#id').val();
        //  id = $('name=order_line[productvariant_id]').val();
         // alert("Product Id :" + val );
        $.ajax({url: "<%= producttraining_path %>", 
        data: {id: val},
           dataType: "script"   });
        })
    });
</script>