<% if @timelist.present? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
     
     <th class="text-right">Start Time</th>
    
     
       <th class="text-right">Total Orders</th>
     <th class="text-right">Total Value</th>
      <th class="text-right">Revenue</th>
       <th class="text-right">Variable Cost</th>
     <th class="text-right">Fixed Cost</th>
     <th class="text-right">Profitability</th>
  
     </tr>
  </thead>
<tbody>
   <% @timelist.each do |c| %>
   <tr>
  

 <td><%= c[:starttime] %></td>
 



<td class="text-right">
   <%= c[:nos] %> 
   <% @total_nos += c[:nos] %>
</td>
<td class="text-right">
   <%= c[:total] %> 
   <% @total_sales += c[:total] %>
</td>
<td class="text-right">
   <%= c[:revenue] %> 
   <% @total_revenue += c[:revenue] %>
</td>
<td class="text-right">
   <%= c[:variable_cost] %> 
   <% @total_var_cost += c[:variable_cost] %>
</td>
<td class="text-right">
   <%= c[:fixed_cost] %> 
   <% @total_fixed_cost += c[:fixed_cost] %>
</td>
<td class="text-right">   <%= c[:profitability] %>
<% @total_profit += c[:profitability] %> </td>

  </tr> 
 
 <% end %>

 

  </tbody>
 <tfoot>
    <tr>
     <th colspan="1" >Total</th>
    
     
       <th class="text-right"><%= @total_nos %></th>
     <th class="text-right"><%= @total_sales %></th>
     <th class="text-right"><%= @total_revenue %></th>
       <th class="text-right"><%= @total_var_cost %></th>
     <th class="text-right"><%= @total_fixed_cost %></th>
     <th class="text-right"><%= @total_profit %></th>
    
     </tr>
  </tfoot>
  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Unable to generate the report </h5>
  </div>
  <% end %>
 <br>
