<% if @timelist.present? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
     
     <th class="text-right">Start</th>
    
     
       <th class="text-right">Orders</th>
     <th class="text-right">Sales</th>
     
  
     </tr>
  </thead>
<tbody>
   <% @timelist.each do |c| %>
   <tr>
  

 <td><%= c[:starttime] %></td>
 



<td class="text-right">
   <%= c[:nos] %> 
   <% @total_nos += c[:nos] %>
</td>
<td class="text-right">
   <%= c[:total] %> 
   <% @total_sales += c[:total] %>
</td>


  </tr> 
 
 <% end %>

 

  </tbody>
 <tfoot>
    <tr>
     <th colspan="1" >Total</th>
    
     
       <th class="text-right"><%= @total_nos %></th>
     <th class="text-right"><%= @total_sales %></th>
    
      
    
     </tr>
  </tfoot>
  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Unable to generate the report </h5>
  </div>
  <% end %>
 <br>
