<% if @all_campaign_playlists.present? then %>
 <table class="table table-stripped table-hover">
  <thead>
    <tr>
    <th>Date</th>
      <th>Start time</th>
    
       <th>Hour <%= @nowhour %></th>
     <th>Minute <%= @nowminute %></th>
    </tr>
  </thead>

  <tbody>
    
    <% @all_campaign_playlists.each do |campaign_playlist| %>
      <tr>
      <td><%= campaign_playlist.for_date.strftime("%d-%b-%Y") || "No Date" if campaign_playlist.for_date.present? %></td>
       
          <td><%= campaign_playlist.starttime %></td>
         
          <td><%= campaign_playlist.start_hr %></td>
          <td><%= campaign_playlist.start_min %></td>
        </td>
         
         
      </tr>
    <% end %>
    
  </tbody>
</table>

<% end%>

<br>