<% if @ppo_channel_list.present? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
    
     <th>Channel</th>
    
       <th>Nos</th>
     <th>Value</th>
      <th>Corr</th>
     
     </tr> 
  </thead>
<tbody>
   <% @ppo_channel_list.each do |c| %>
   <tr>
  

<td>
 <%=  c[:channel] %>
 
</td>


<td class="text-right">
   <%= c[:nos] %> 
</td>
<td class="text-right">
   <%= c[:total] %> 
</td>
<td class="text-right">
   <%= c[:correction] %> 
</td>


  </tr> 

 <% end %>

 

  </tbody>

  </table>
  <small>Corr => Correction | Comm => Commission</small>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report or No sales in HBN </h5>
  </div>
  <% end %>

<hr>
 <% if @hbn_product_orders.present? %>
  <ol>
 <% @hbn_product_orders.each do |c| %>
<li> <%= c %></li>

 <% end -%>
</ol>
<% end %>