 <% if @main_product_list.present? %>
<table class="table table-hover table-bordered">
  <thead>
  <tr>
     <th rowspan="2">No</th>
     <th rowspan="2">Product</th>
     
       <th colspan="4">Sales Info</th>
     
    <th colspan="2">Derived </th>
    
     </tr>
    <tr>
     <th> Pieces</th>
          <th> Shipping</th>
     <th> Subtotal</th>
      <th>Total </th>
      <th>Revenue</th>
    <th>Cost</th>
     </tr>
  </thead>
<tbody>
   <% @main_product_list.each do |c| %>
   <tr>
   <td><%= @sno %></td>

<td>
 <%= c[:product] %> <br>
 <small>
  Cost Per: <%= c[:cost_of_product] %>
  Revenue Per:
<%= c[:revenue_of_product] %>
 </small>
<small>From ROPMASTER_NEW <%= link_to "More Details", productcost_path(search: c[:prod]), :target => "_blank" %> </small>
</td>


<td class="text-right">
   <%= c[:nos] %> 
</td>
<td class="text-right">
   <%= c[:shipping] %> 
</td>
<td class="text-right">
   <%= c[:subtotal] %> 
</td>
<td class="text-right">
   <%= c[:total] %> 
</td>
<td class="text-right">
   <%= c[:product_revenue] %> 
</td>
<td class="text-right">
   <%= c[:product_cost] %> 
</td>


  </tr> 
  <% @sno += 1 %> 
 <% end %>

 

  </tbody>
<tfoot>
<tr>
  <td colspan="2">Total</td>

<td class="text-right">
   <%= @main_total_orders_nos %> 
</td>
<td class="text-right">
   <%=  @main_total_orders_shipping %> 
</td>
<td class="text-right">
   <%= @main_total_orders_subtotal %> 
</td>
<td class="text-right">
   <%= @main_total_orders_total %> 
</td>
<td class="text-right">
   <%= @main_total_orders_revenue %> 
</td>
<td class="text-right">
   <%= @main_total_Orders_product_cost %> 
</td>


  </tr> 
</tfoot>
  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report </h5>
  </div>
  <% end %>
 <br>
<h4>Basic upsell Product List </h4>

<% if @basic_product_list_orderlist.present? %>
<table class="table table-hover table-bordered">
   <thead>
  <tr>
     <th rowspan="2">No</th>
     <th rowspan="2">Product</th>
     
       <th colspan="4">Sales Info</th>
     
    <th colspan="2">Derived </th>
    
     </tr>
    <tr>
     <th> Pieces</th>
          <th> Shipping</th>
     <th> Subtotal</th>
      <th>Total </th>
      <th>Revenue</th>
    <th>Cost</th>
     </tr>
  </thead>
<tbody>
   <% @basic_product_list_orderlist.each do |c| %>
   <tr>
   <td><%= @sno %></td>

<td>
 <%= c[:product] %> <br>
 <small>
  Cost Per: <%= c[:cost_of_product] %>
  Revenue Per:
<%= c[:revenue_of_product] %>
 </small>
<small>From ROPMASTER_NEW <%= link_to "More Details", productcost_path(search: c[:prod]), :target => "_blank" %></small>
</td>


<td class="text-right">
   <%= c[:nos] %> 
</td>
<td class="text-right">
   <%= c[:shipping] %> 
</td>
<td class="text-right">
   <%= c[:subtotal] %> 
</td>
<td class="text-right">
   <%= c[:total] %> 
</td>
<td class="text-right">
   <%= c[:product_revenue] %> 
</td>
<td class="text-right">
   <%= c[:product_cost] %> 
</td>


  </tr> 
  <% @sno += 1 %> 
 <% end %>

 

  </tbody>
<tfoot>
<tr>
  <td colspan="2">Total</td>



<td class="text-right">
   <%= @basic_total_orders_nos %> 
</td>
<td class="text-right">
   <%=  @basic_total_orders_shipping %> 
</td>
<td class="text-right">
   <%= @basic_total_orders_subtotal %> 
</td>
<td class="text-right">
   <%= @basic_total_orders_total %> 
</td>
<td class="text-right">
   <%= @basic_total_orders_revenue %> 
</td>
<td class="text-right">
   <%= @basic_total_Orders_product_cost %> 
</td>


  </tr> 
</tfoot>
  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report or No Basic upsells found </h5>
  </div>
  <% end %>
<br>
<h4>Common upsell Product List </h4>

<% if @common_product_list_orderlist.present? %>
<table class="table table-hover table-bordered">
   <thead>
  <tr>
     <th rowspan="2">No</th>
     <th rowspan="2">Product</th>
     
       <th colspan="4">Sales Info</th>
     
    <th colspan="2">Derived </th>
    
     </tr>
    <tr>
     <th> Pieces</th>
          <th> Shipping</th>
     <th> Subtotal</th>
      <th>Total </th>
    <th>Revenue</th>
    <th>Cost</th>
     </tr>
  </thead>
<tbody>
   <% @common_product_list_orderlist.each do |c| %>
    <tr>
   <td><%= @sno %></td>

<td>
 <%= c[:product] %> <br>
 <small>
  Cost Per: <%= c[:cost_of_product] %>
  Revenue Per:
<%= c[:revenue_of_product] %>
 </small>
<small>From ROPMASTER_NEW <%= link_to "More Details", productcost_path(search: c[:prod]), :target => "_blank" %></small>
</td>


<td class="text-right">
   <%= c[:nos] %> 
</td>
<td class="text-right">
   <%= c[:shipping] %> 
</td>
<td class="text-right">
   <%= c[:subtotal] %> 
</td>
<td class="text-right">
   <%= c[:total] %> 
</td>
<td class="text-right">
   <%= c[:product_revenue] %> 
</td>
<td class="text-right">
   <%= c[:product_cost] %> 
</td>


  </tr> 
  <% @sno += 1 %> 
 <% end %>

 

  </tbody>
<tfoot>
<tr>
  <td colspan="2">Total</td>



<td class="text-right">
   <%= @common_total_orders_nos %> 
</td>
<td class="text-right">
   <%=  @common_total_orders_shipping %> 
</td>
<td class="text-right">
   <%= @common_total_orders_subtotal %> 
</td>
<td class="text-right">
   <%= @common_total_orders_total %> 
</td>
<td class="text-right">
   <%= @common_total_orders_revenue %> 
</td>
<td class="text-right">
   <%= @common_total_Orders_product_cost %> 
</td>


  </tr> 
</tfoot>
  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report or No common upsells found </h5>
  </div>
  <% end %>