 <div class="row">
	 <div class="col-xs-6">

	 <h4><strong>All</strong> Order Summary for past few days</h4>
	 </div>
	 <div class="col-xs-6">

	 		
	</div>
 </div>

<% if @employeeorderlist.present? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
     <th class="text-right">No</th>
     <th class="text-right">Date</th>
     <th class="text-right">CC Orders</th>
       <th class="text-right">CC Value</th>
      <th class="text-right">COD Orders</th>
       <th class="text-right">COD Value</th>
       <th class="text-right">Total Orders</th>
     <th class="text-right">Total Value</th>
    <th class="text-right">Employee</th>
    <th class="text-right">Hourly</th>
    <th class="text-right">Channel</th>
     <th class="text-right">Product</th>
     </tr>
  </thead>
<tbody>
   <% @employeeorderlist.each do |c| %>
   <tr>
   <td><%= @sno %></td>

 <td><%= c[:for_date] %></td>
<td class="text-right">
   <%= c[:ccorders] %> 
</td>
<td class="text-right">
   <%= c[:ccvalue] %> 
</td>
<td class="text-right">
   <%= c[:codorders] %> 
</td>
<td class="text-right">
   <%= c[:codvalue] %> 
</td>

<td class="text-right">
   <%= c[:nos] %> 
</td>
<td class="text-right">
   <%= c[:total] %> 
</td>
<td>
<%= link_to "View", employee_report_path(for_date: c[:for_date]), :target => "_blank" %>
</td>
<td>
<%= link_to "View", hourly_report_path(for_date: c[:for_date]), :target => "_blank" %>
</td>

<td>
<%= link_to "View", channel_report_path(for_date: c[:for_date]), :target => "_blank" %>
</td>
<td>
<%= link_to "View", product_report_path(for_date: c[:for_date]), :target => "_blank" %>
</td>
  </tr> 
  <% @sno += 1 %> 
 <% end %>
  </tbody>

  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report </h5>
  </div>
  <% end %>
 <br>
