 <div class="row">
	 <div class="col-xs-3">

	 <h4>HBN Orders between</h4>

	 </div>
   <%= form_tag  url_for(:controller => 'sales_ppo_report', :action => "hour_performance"), method: "get" do  %>
   <div class="col-xs-4">
         <%= select_tag :time_id, options_from_collection_for_select(@hbn_media_cost_master, :id, :cost_segment, :selected => @time_id), {:class => "form-control",  :required => true} %>


   </div>
       <div class="col-xs-4">
         <div class="input-daterange input-group">
           <%= text_field_tag(:from_date, @from_date, :data => {:provide => "datepicker"}, :id => "datepicker_from", :class => "form-control", :required => "true" )   %>
           <span class="input-group-addon">to</span>

            <%= text_field_tag(:to_date, @to_date, :data => {:provide => "datepicker"}, :id => "datepicker_to", :class => "form-control", :required => "true" )   %>

         </div>
       </div>

       <div class="col-xs-1">
         <%= submit_tag "Report", name: nil, class: "btn btn-primary" %>
       </div>
   <% end %>

 </div>
 <br>

 <br>
 <% if @employeeorderlist.present? %>

   <div class="row fixed-table">
      <div class="table-content">
<table class="table table-hover table-bordered table-striped">
  <thead class="header">
     <tr>
     <th  rowspan="2">No</th>
     <th  rowspan="2" style="width:">Show</th>
       <th rowspan="2">Start Time</th>

        <th colspan="3">Income</th>
         <th rowspan="2" class="text-right">Revenue</th>
        <th colspan="5">Expense</th>

       <th rowspan="2">PPO </th>
      <th>More </th>
       </tr>
      <tr>

        <th class="text-right">Orders</th>
         <th class="text-right">Pieces*</th>
       <th class="text-right">Sales</th>


        <th class="text-right">Product Cost</th>
         <th class="text-right">Commision</th>
       <th class="text-right">Media Cost</th>
         <th class="text-right">Refund</th>
            <th class="text-right">Damages</th>
       </tr>
    </thead>
<tbody>
   <% @employeeorderlist.each do |c| %>
   <tr>
   <td><%= c[:serial_no] %></td>

 <td><%= c[:show] %>
 <%= c[:more] %> Id: <%= c[:campaign_id] %><br>
<% if c[:product_cost_master] == 0 %>
<span style="color:red">No Product Cost Found</span>
<% else %>
<span style="color:green"> Cost Rs: <%= c[:product_cost_master] %></span>
<% end %>
<small><%= link_to "Cost Details", productcost_path(search: c[:prod]), :target => "_blank", class: "btn btn-primary btn-xs" %> </small>
 </td>
<td title="Start Time"><%= c[:at_time] %>
<%= c[:for_date].strftime("%d-%b-%y") %>
</td>
<td class="text-right" title="Orders">
   <%= c[:nos] %>
   <% @total_nos += c[:nos] %>
</td>
<td class="text-right" title="Pieces">
   <%= c[:pieces] %>
   <% @total_pieces += c[:pieces] %>
</td>
<td class="text-right" title="Sales">
   <%= c[:total] %>
   <% @total_sales += c[:total] %>
</td>
<td class="text-right" title="Revenue">
   <%= c[:revenue] %>
   <% @total_revenue += c[:revenue] %>
</td>
<td class="text-right" title="Product Cost">
   <%= c[:product_cost] %>
   <% @total_product_cost += c[:product_cost] %>
</td>
<td class="text-right" title="Variable Cost">
   <%= c[:variable_cost] %>
   <% @total_var_cost += c[:variable_cost] %>
</td>
<td class="text-right" title="Fixed Media Cost"> <!--Media Cost-->
   <%= c[:fixed_cost] %>
   <% @total_fixed_cost += c[:fixed_cost] %>
</td>
<td class="text-right" title="Refunds">
<%= c[:refund] %>
<% @total_refund += c[:refund] %>
</td>
<td class="text-right" title="Damages">
<%= c[:product_damages] %>
<% @total_damages += c[:product_damages] %>
</td>
<td class="text-right" title="Profitability">   <%= c[:profitability] %>
<% @total_profit += c[:profitability] %>
</td>
<td >
<%= link_to "Details", ppo_products_path(campaign_id: c[:campaign_id]), :target => "_blank" %>
</td>
  </tr>
  <% @sno += 1 %>
 <% end %>
  </tbody>
<tfoot>
    <tr>
    <th colspan="3" >Total</th>
    <th class="text-right"><%= @total_nos.to_i %></th>
    <th class="text-right"><%= @total_pieces.to_i %></th>
    <th class="text-right"><%= @total_sales.to_i %></th>
    <th class="text-right"><%= @total_revenue.to_i %></th>
    <th class="text-right"><%= @total_product_cost.to_i %></th>
    <th class="text-right"><%= @total_var_cost.to_i %></th>
    <th class="text-right"><%= @total_fixed_cost.to_i %></th>
    <th class="text-right"><%= @total_refund.to_i %></th>
    <th class="text-right"><%= @total_damages.to_i %></th>
    <th class="text-right"><%= @total_profit.to_i %> <br>

    </th>
    <th></th>
     </tr>


  </tfoot>
  </table>
  </div>
  </div>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report </h5>
  </div>
  <% end %>
 <br>
<% @hidelist = true %>
<% if @hidelist == false %>
<div style="visibility:hidden">

<%= link_to "Details", ppo_details_path(start_time: @from_date, end_time: @to_date, product_variant: c[:product_variant_id]), :target => "_blank" %>

<% @order_sno = 1 %>
<table class="table table-bordered">
  <tr>
    <td>Order No</td> <td>Date Time</td>

  </tr>
 <% @list_of_orders.each do |c| %>
<tr>
<td> <%= @order_sno %></td>
<td> <%= c[:order_no] %></td>
<td> <%= c[:time_of_order] %></td>
</tr>
<% @order_sno += 1 %></td>
</tr>
 <% end -%>
</table>
</div>
<%= link_to "Details", ppo_details_path(for_date: @or_for_date, product_variant: c[:product_variant_id]), :target => "_blank" %>
<% end %>


<div class="well well-sm">
<ul class="list-inline">
  <li>* The pieces are including upsell</li>
  <li>ppo = (revenue - (product_cost + fixed_cost + product_damages + media_var_cost + refund))</li>
</ul>
</div>

<div class="well well-sm">
<div class="row">
  <div class="col-xs-2">
  Total Media Cost - Including Active and Inactive <%= @total_media_cost.round(0) %>
  </div>
  <div class="col-xs-2">
  HBN Media Cost -We use only Active <%= @hbn_media_cost.round(0) %>
  </div>
  <div class="col-xs-2">
  This Campaign Cost <%= @total_fixed_cost.round(0) %>
  </div>
  <div class="col-xs-3">
  Download CSV file
  </div>
  <div class="col-xs-3">
   <%= link_to 'Download CSV file', hour_performance_path(from_date: @from_date, to_date: @to_date, time_id: @time_id, format: :csv), class: "btn btn-info btn-sm" %>
  </div>
</div>
</div>

 <br>

<hr>

<script>
$('#datepicker_to').datepicker({format: 'yyyy-mm-dd'});
$('#datepicker_from').datepicker({format: 'yyyy-mm-dd'});
</script>
