
<div class="row">
	<div class="col-xs-4">
	<h4>HBN Shows <small><%= @show_date %> <%= @Show_start_time %> <%= @Show_end_time %></small>  </h4>
	<hr>
		 <%= render('playlists') %>
	</div>
	<div class="col-xs-8">
	<h4>HBN Products Sold <small><%= @show_date %> <%= @Show_start_time %> <%= @Show_end_time %></small> </h4>
	<hr>
		 <%= render('product_list') %>
	</div>
</div>
