
<div class="row">
	<div class="col-xs-4">
	<h4>HBN Shows  
		<small>
			<%= @show_date %> 
			<%= @start_time.strftime("%H:%M") %> 
			<%= @end_time.strftime("%H:%M") %>
		</small>  
	</h4>
	<hr>
		 <%= render('playlists') %>
	</div>
	<div class="col-xs-8">
	<h4>Products Sold over HBN <small><%= @show_date %> <%=@start_time.strftime("%H:%M") %> <%= @end_time.strftime("%H:%M") %></small> </h4>
	<hr>
		 <%= render('product_list') %>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
	<h4>Channel </h4>
<%= render('hbn_channels_between') %>
	</h4>
	</div>

	<div class="col-xs-8">
	<h4>Order List  <%= @show_date %> 
			from <%= @start_time.strftime("%H:%M") %> 
			to <%= @end_time.strftime("%H:%M") %></h4>
		<%= render('between_time') %>	
	</div>
</div>