 <div class="row">
	 <div class="col-xs-6">

	 <h4>HBN Daily Show PPO Report <%= @orderdate %> </h4>
	 </div>
	 <div class="col-xs-6">
	 <%= render('date_search') %>
	 		
	</div>
 </div>


 <br>
 <% if @employeeorderlist.present? %>
<table class="table table-hover table-bordered">
<thead>
   <tr>
   <th  rowspan="2">No</th>
   <th  rowspan="2">Show</th>
     <th rowspan="2">Start Time</th>
    
      <th colspan="4">Income</th>
      <th colspan="4">Expense</th>
     
     <th rowspan="2">Profitability</th>
   
     </tr>
    <tr>
    
      <th class="text-right">Orders</th>
       <th class="text-right">Pieces</th>
     <th class="text-right">Sales</th>
      <th class="text-right">Revenue</th>

      <th class="text-right">Product Cost</th>
       <th class="text-right">Commision</th>
     <th class="text-right">Media Cost</th>
       <th class="text-right">Total Cost</th>
    
     </tr>
  </thead>
  
<tbody>
   <% @employeeorderlist.each do |c| %>
   <tr>
   <td><%= @sno %></td>

 <td><%= c[:show] %>
 <%= c[:more] %></td>
<td><%= c[:at_time] %></td>
<td class="text-right">
   <%= c[:nos] %> 
   <% @total_nos += c[:nos] %>
</td>
<td class="text-right">
   <%= c[:pieces] %> 
   <% @total_pieces += c[:pieces] %>
</td>
<td class="text-right">
   <%= c[:total] %> 
   <% @total_sales += c[:total] %>
</td>
<td class="text-right">
   <%= c[:revenue] %> 
   <% @total_revenue += c[:revenue] %>
</td>
<td class="text-right">
   <%= c[:product_cost] %> 
   <% @total_product_cost += c[:product_cost] %>
</td>
<td class="text-right">
   <%= c[:variable_cost] %> 
   <% @total_var_cost += c[:variable_cost] %>
</td>
<td class="text-right">
   <%= c[:fixed_cost] %> 
   <% @total_fixed_cost += c[:fixed_cost] %>
</td>
<td class="text-right">
<%= c[:variable_cost] + c[:fixed_cost] %> 
<% @total_cost += c[:variable_cost] + c[:fixed_cost] %>
</td>
<td class="text-right">   <%= c[:profitability] %>
<% @total_profit += c[:profitability] %> </td>
<td >
<%= link_to "Details", ppo_details_path(for_date: @or_for_date, product_variant: c[:product_variant_id]), :target => "_blank" %>
</td>
  </tr> 
  <% @sno += 1 %> 
 <% end %>
  </tbody>
<tfoot>
    <tr>
     <th colspan="3" >Total</th>
    
      <th class="text-right"><%= @total_nos %></th>
       <th class="text-right"><%= @total_pieces %></th>
     <th class="text-right"><%= @total_sales %></th>
     <th class="text-right"><%= @total_revenue %></th>
     <th class="text-right"><%= @total_product_cost %></th>
       <th class="text-right"><%= @total_var_cost %></th>
     <th class="text-right"><%= @total_fixed_cost %></th>
       <th class="text-right"><%= @total_cost %></th>
     <th class="text-right"><%= @total_profit %></th>
    <th></th>
     </tr>
  </tfoot>
  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report </h5>
  </div>
  <% end %>
 <br>

