 <div class="row">
	 <div class="col-xs-7">

	 <h4><strong>All HBN Order Summary for past few days</strong></h4>
     <%= @from_date %> <%= @to_date %>
	 </div>
	 <div class="col-xs-5">
	 	<%= render partial: 'date_search', :locals => {:searchaction => "summary"}  %>
	</div>
 </div>

<% if @employeeorderlist.present? %>
<table class="table table-hover table-bordered">
<thead>
   <tr>
   <th  rowspan="2">No</th>
     <th  rowspan="2">Date</th>

      <th colspan="4">Income</th>
      <th rowspan="2" class="text-right">Total Revenue</th>
      <th colspan="5">Expense</th>
      <th rowspan="2" class="text-right">Total Expense</th>
    <th rowspan="2" class="text-right">Profitability</th>
     <th rowspan="2">Half Hourly</th>
    <th rowspan="2">Show wise</th>
     </tr>
    <tr>



       <th class="text-right">Orders</th>
       <th class="text-right">Pieces</th>
     <th class="text-right">Sales</th>
      <th class="text-right">Revenue</th>

      <th class="text-right">Product Cost</th>
       <th class="text-right">Commision</th>
     <th class="text-right">Media Cost</th>
      <th class="text-right">Refund</th>
      <th class="text-right">Damage</th>

     </tr>
  </thead>

<tbody>
   <% @employeeorderlist.each do |c| %>
   <tr>
   <td><%= @sno %></td>
 <td><%= c[:for_date] %></td>

<td class="text-right">
   <%= c[:nos] %>
</td>
<td class="text-right">
   <%= c[:pieces] %>

</td>
<td class="text-right">
   <%= c[:total] %>

</td>
<td class="text-right">
   <%= c[:revenue] %>

</td>
<td class="text-right">
<strong><%= c[:revenue] %></strong>

</td>
<td class="text-right">   <%= c[:product_cost] %></td>
<td class="text-right">   <%= c[:variable_cost] %></td>
<td class="text-right">   <%= c[:fixed_cost] %></td>
<td class="text-right">   <%= c[:refund] %></td>
<td class="text-right">   <%= c[:product_damages] %></td>
<td class="text-right"> <strong><%= c[:total_cost] %></strong>

</td >
<td class="text-right">
 <strong><%= c[:profitability] %></strong>

</td >

<td>
<%= link_to "View PPO", hourly_ppo_path(for_date: c[:for_date]), :target => "_blank", class: "btn btn-info btn-xs" %>
</td>
<td>
<%= link_to "View PPO", show_ppo_path(for_date: c[:for_date]), :target => "_blank", class: "btn btn-info btn-xs" %>
</td>

  </tr>
  <% @sno += 1 %>
 <% end %>
  </tbody>

  </table>
  <% else %>
  <div class="well well-sm">
  <h5>Please select a date to generate the report </h5>
  </div>
  <% end %>
 <br>
<hr>

<div class="well well-sm">
  <h3>List of HBN Media (Only Active and Airtime Purchased)</h3>
<table class="table table-striped">
  <thead>
     <tr>
       <th>Name</th>
       <th>Telephone</th>
       <th>DNIS </th>
       <th>State</th>
       <th>Active</th>
       <th>Group</th>
       <th>BDM</th>
       <th>Commission Type</th>
       <th>Daily Charges</th>
     </tr>
  </thead>
  <tbody>
    <% @total_daily_charges = 0 %>
    <% @hbn_media.each do |medium| %>
      <tr>
        <td><%= medium.name %></td>
        <td><%= medium.telephone %></td>
        <td><%= medium.dnis %></td>
        <td><%= medium.state %></td>
        <td><%= medium.active %></td>
        <td><%= medium.media_group.name if medium.media_group %></td>
        <td><%= medium.employee.name || "NO BDM" if medium.employee %></td>
        <td><%= medium.media_commision.name if medium.media_commision %></td>
        <td><%= medium.daily_charges  %> <% @total_daily_charges += medium.daily_charges %></td>
      </tr>
    <% end %>
  </tbody>
<tfoot>
  <tr>
    <td colspan="8">Total</td>
    <td><%= @total_daily_charges  %></td>
  </tr>
</tfoot>

</table>
</div>

<!-- style="visibility:hidden" -->
<% @hidelist = true %>
<% if @hidelist == false %>
<div style="visibility:hidden">
<% @order_sno = 1 %>
<table class="table table-bordered">
  <tr>
    <td>Order No</td> <td>Date Time</td>

  </tr>
 <% @list_of_orders.each do |c| %>
<tr>
<td> <%= @order_sno %></td>
<td> <%= c[:order_no] %></td>
<td> <%= c[:time_of_order] %></td>
</tr>
<% @order_sno += 1 %>
 <% end -%>
</table>
</div>
<% end %>

<h4>Check PPO performance</h4>
<hr>
<div class="well well-sm">
  <div class="row">
    <div class="col-xs-3">
      <%= link_to "Check Half Hour Performance", hour_performance_path, class: "btn btn-info btn-sm" %>
    </div>
    <div class="col-xs-3">
      <%= link_to "Check Product Performance", product_performance_path, class: "btn btn-info btn-sm" %>
    </div>
    <div class="col-xs-3">
      <%= link_to "Check half hour Product Performance", product_hour_performance_path, class: "btn btn-info btn-sm" %>
    </div>
    <div class="col-xs-3">
      <%= link_to "Check Operator Performance", operator_performance_path, class: "btn btn-info btn-sm" %>
    </div>
  </div>

</div>
