<footer class="footer">
  <small>
    The Ruby on Rails Application
    by <a href="#">Tec2grow Solutions</a>
  
  &nbsp;
  
    </small>

    <% if logged_in? %>
  
 <p><small> You are logged in as <%= current_user.name %> with role of <%= current_user.employee_role.name %>  &nbsp;
Today's Date: <%= Date.today.in_time_zone + 330.minutes %>

 </small>
  </p>
 

 
<% else %>
  
<small>Please login</small>
 
   <% end %>

  <nav>
    <ul>
      <li><%= link_to "About",   '#', class: "btn btn-link" %></li>
      <li><%= link_to "Share Issues", 'https://www.hipchat.com/gwRzn9toO', target: '_blank',  class: "btn btn-danger btn-xs" %></li>
    </ul>
  </nav>
</footer>
