  <nav>
     <ul class="nav navbar-nav navbar-right">
      	

       <!--   <li>          <p style="margin-top:12px;">   <%= link_to "Customer",  new_customer_path, class: "btn btn-info btn-sm" %>  </p>         </li> -->
         <% if logged_in? %>
         <li>          <p style="margin-top:12px;">         <%= link_to "Customer",  neworder_path, class: "btn btn-success btn-sm" %>         </p>         </li>
       <% if (current_user.employee_role.sortorder < 8) %> 
         
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Employees <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <li><%= link_to "New Employees", "/employees/new" %></li>
              <li><%= link_to "Employee List", "/employees" %></li>
        
              
            </ul>
         </li>
        <% end %>
        <% if (current_user.employee_role.sortorder < 8) %> 
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Reports <b class="caret"></b> </a>
            <ul class="dropdown-menu">
             <li><%= link_to "Sales Summary Report", "/sales_reports" , data: { confirm: 'All the reports are listed here' } %></li>
             <li><%= link_to "Sales Summary Report", "/sales_report" , data: { confirm: 'This Report Will take some time to show, please have patience!' } %></li>
              <% if (current_user.employee_role.sortorder < 5) %> 
               <li><%= link_to "PPO Report", "/ppo_report" , data: { confirm: 'This Report Will take some time to show, please dont refresh!'} %></li>
               <li><%= link_to "PPO Report (Test Products)", "/product_test_ppos" %></li>
            <% end %>
              
           
            <% if (current_user.employee_role.sortorder < 5) %> 
            <li class="divider"></li>
              
            <li><%= link_to "Product Master _B", "/bprodmaster" %></li>
            <li><%= link_to "Product Upsell (Ropupsprod)", "/productupsell"  %></li>
           
            <li class="divider"></li>
            <li><%= link_to "Retail Orders", "/vpp/list"  %></li>
            <li><%= link_to "Whole sale Orders", "/newwlsdet/list"  %></li>
            <li><%= link_to "Purchases", "/purchases_new/list"  %></li>
             <li class="divider"></li>
               <li><%= link_to "Product Costs", "/productwithcosts" %></li>
           <% end %>

            </ul>
         </li>
        <% end %>
         <!--  <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Agents <b class="caret"></b> </a>
            <ul class="dropdown-menu">
             <li><%= link_to "Your Recent Orders", "/recentorders" %></li>    
                <li><%= link_to "Product Guides (Soon)"  %></li>  
            </ul>
         </li> -->
         <% if (current_user.employee_role.sortorder < 10) %> 
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            	Operations <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Existing Dealers Old", "/dealers" %></li>
              <li><%= link_to "Existing Dealers New", "/dealers" %></li>
              <li><%= link_to "List of Dealer Enquiries", "/dealer_enquiry?category=10020&status=10000" %></li>    
                <li class="divider"></li>
                 <li><%= link_to "SMS on Order", "/message_on_orders" %></li>
              <li class="divider"></li>
            
             <li><%= link_to "Customer Orders (Search)", "/custordersearch"  %></li>
            <li><%= link_to "Customer Orders (Details Search)", "/detailedordersearch"  %></li>
           
            <li class="divider"></li>
               <li><%= link_to "All Interactions", "/interaction" %></li> 
              <li><%= link_to "PINCODE List", "/india_pincode_lists" %></li>    
              <li><%= link_to "City List ", "/india_city_lists" %></li>    
              <li class="divider"></li>
             
              <li><%= link_to "Salutes", "/salutes" %></li>
              <li><%= link_to "States", "/states" %></li>
              <li><%= link_to "Interaction Categories", "/interaction_categories" %></li>           
            </ul>
         </li>
         <% end %>
          <% if (current_user.employee_role.sortorder < 8) %> 
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            	Products <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Master", "/product_masters" %></li>
               <!-- <li><%= link_to "Training", "/producttraininglist" %></li> -->
              <li><%= link_to "Variant", "/product_variants" %></li>
                <li><%= link_to "Product Lists", "/product_lists" %></li>
                 <li><%= link_to "Basic Upsell Lists", "/product_master_add_ons" %></li>
              
                <li class="divider">Set up</li>
                 <li><%= link_to "Product Spec List Code", "/product_spec_lists" %></li>
                  <li><%= link_to "Product Active Code", "/product_active_codes" %></li>
                  <li><%= link_to "Product Categories", "/product_categories" %></li>
                  <li><%= link_to "product Inventory Type", "/product_inventory_codes" %></li>
                  <li><%= link_to "Product Training", "/product_training_headings" %></li>
                  <li><%= link_to "Product Type", "/product_types" %></li>
                   <li><%= link_to "Product Sell Type", "/product_sell_types" %></li>
                   <% if (current_user.employee_role.sortorder < 5) %> 
                    <li class="divider">Set up</li>
               
                    
                     <li><%= link_to "Product Warehouse", "/product_warehouses" %></li>
                   <li><%= link_to "Product Inventory", "/product_inventories" %></li>
                    <% end %>
                 
                   <li><%= link_to "Order Payment Mode", "/orderpaymentmodes" %></li>
                     <li class="divider">Set up</li>
               
                    
                     <li><%= link_to "Promotions", "/promotions" %></li>
            </ul>

         </li>
         <% end %>
           <% if (current_user.employee_role.sortorder < 5) %> 
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Accounts <b class="caret"></b> </a>
            <ul class="dropdown-menu">
           
            <!--   <li><%= link_to "Account Report (Mahabharata)", "/productreport" %></li> -->
                <li><%= link_to "Stock Book", "/stockbook" %></li>
                <li class="divider"></li>
                  <li><%= link_to "Opening Stock", "/product_stocks" %></li>
                  <li><%= link_to "Journal Entry", "/product_stock_adjusts" %></li>
            <li><%= link_to "Product List", "/product_cost/list" %></li>
             <li><%= link_to "Product Costs", "/productcost" %></li>
            <li><%= link_to "Product Sales", "/productreport" %></li>
            <li><%= link_to "Tax Rates", "/tax_rates"  %></li> 
               
              <li class="divider"></li>
               <li><%= link_to "Product with Costs", "/listofproducts" %></li>
                  <li><%= link_to "Product Packaging Costs", "/packing_cost/list" %></li>
                 
            </ul>
         </li>
         <% end %>

          <% if (current_user.employee_role.sortorder < 8) %> 
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            	Campaign <b class="caret"></b> </a>
            <ul class="dropdown-menu">
            <li><%= link_to "Daily Schedule", "/dailyschedule" %></li>
              <li><%= link_to "Campaign", "/campaigns" %></li>
              <li><%= link_to "Media", "/media" %></li>
               <li><%= link_to "Channel Tape Ids", "/tapeids/list"  %></li>
              <% if (current_user.employee_role.sortorder < 6) %> 
               <li class="divider"></li>

               <li><%= link_to "Media Group", "/media_groups" %></li>
                <li><%= link_to "Commision Type", "/media_commisions" %></li>
                 <li><%= link_to "Media Tapes Heads", "/media_tape_heads" %></li>
               <!--  <li><%= link_to "Media Tapes", "/media_tapes" %></li> -->
                <li><%= link_to "Media Cost Master", "/media_cost_masters" %></li>
                 <li><%= link_to "Playlist Status", "/campaign_play_list_statuses" %></li>
              <li class="divider"></li>
              
                  <li><%= link_to "Campaign Stages", "/campaign_stages" %></li>
                  <% end %>
            </ul>
         </li>
         <% end %>
          <% if (current_user.employee_role.sortorder < 2) %> 
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Set up <b class="caret"></b>
            </a>
            
               <ul class="dropdown-menu">
               	<li><%= link_to "Employment Type", "/employment_types" %></li>
             	<li><%= link_to "Employee Roles", "/employee_roles" %></li>
             	 <li class="divider"></li>
	              	<li><%= link_to "Dispatch Statuses", "/order_line_dispatch_statuses" %></li>
	              	<li><%= link_to "Order Status", "/order_status_masters" %></li>
	              	<li><%= link_to "Order Source", "/order_sources" %></li>
	              	<li><%= link_to "Bill Number", "/bills" %></li>
              	 <li><%= link_to "Order For", "/order_fors" %></li>
	             <li class="divider"></li>
              	 	<li><%= link_to "Address Type", "/address_types" %></li>
              	 	<li><%= link_to "Address Validity", "/address_valids" %></li>
                   <li class="divider"></li>
                  <li><%= link_to "Message Type", "/message_types" %></li>
                  <li><%= link_to "Message Status", "/message_statuses" %></li>
              	
              	 <li class="divider"></li>
              	 	<li><%= link_to "Interaction Categories", "/interaction_categories" %></li>
              	 	<li><%= link_to "Interaction Priorities", "/interaction_priorities" %></li>
              	 	<li><%= link_to "Interaction Status", "/interaction_statuses" %></li>
              	 	<li><%= link_to "Interaction Users", "/interaction_users" %></li>
                  <li class="divider"></li>
              	 	<li><%= link_to "Change Log Type", "/change_log_types" %></li>
            </ul>
          </li>
          <% end %>
          <% else %>
          <li>          <p style="margin-top:12px;">         <%= link_to "Login",  login_path, class: "btn btn-info btn-sm" %>         </p>         </li>
       
        <% end %>
        <% if logged_in? %>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              My Login <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>

      </ul>
    </nav>