<%= simple_form_for(@courier_list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :contact_details %>
    <%= f.input :tracking_url %>
    <%= f.input :helpline %>
    <%= f.input :sort_order %>
    <%= f.input :ref_code, label: 'Please enter the code for respective courier', placeholder: 'ref codes for india post, courier, lik epp etc', hint: 'Seperate all the ref codes with coma' %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
