
<div class="well">
<% if  @order_master.present? %>
  <small>Customer Id <%= @order_master.customer_id%></small> &nbsp;<small>Order Id <%= @order_master.id %></small>
  &nbsp;<small> <strong>Date:</strong>   <%= @order_master.orderdate + 330.minutes %> </small>
&nbsp;  <small><strong>Employee Id:</strong>   <%= @order_master.employee_id %></small>   
&nbsp; <small><strong>Employee Code:</strong>   <%= @order_master.employeecode %> </small>
&nbsp; <small><strong>DNIS:</strong>   <%= @order_master.calledno %> </small>
<div class="row">


  <div class="col-xs-6">
   <h3><%= @order_master.customer.fullname  if @order_master.customer %> </h3>
  </div>
  <div class="col-xs-6">
  <div class="row">
    <div class="col-xs-6">
      <small> Mobile No <%= @order_master.customer.mobile if @order_master.customer %> </small><br/>
      <small> Mobile No <%= @order_master.customer.alt_mobile if @order_master.customer %></small> 
    </div>
    <div class="col-xs-6">
    <small> Email Id  <%= @order_master.customer.emailid if @order_master.customer %> </small><br/>
    <small> Email Id  <%= @order_master.customer.alt_emailid if @order_master.customer %></small>
    </div>
  </div>
</div>
</div>
<% else %>
<h4>Please search for an order </h4>

<% end %>
</div>


