<div class="panel panel-info">
  <div class="panel-heading">   <h3 class="panel-title">Customer Address</h3>  </div>
    <div class="panel-body">
  <%= bootstrap_form_for @customer_address , url: addaddress_path, :method => :POST do |f| %>
 
  <%= hidden_field_tag :order_id, @order_master.id %>
   <div class="row">
<%= hidden_field_tag :calledno, @calledno %>
<%= hidden_field_tag :mobile, @mobile %>
<%= hidden_field_tag :customer_id, @customer.id %>
  <div class="col-xs-2">
     <%= select_tag "customer_salute", 
    options_from_collection_for_select(Salute.all, :name, :name, :selected => @customer.salute), 
    {:class => "form-control"}  %>
  </div>
  <div class="col-xs-4">
    <%= text_field_tag "customer_first_name", @customer.first_name, :class => "form-control", :placeholder => "First Name", :required => true %>
  </div>
  <div class="col-xs-4">
     <%= text_field_tag "customer_last_name", @customer.last_name, :class => "form-control", :placeholder => "Last Name" %>
  </div>
  <div class="col-xs-1">
    
  </div>
</div>
  <br>
 
  <div class="row">
   
  <div class="col-xs-3">
     <%= text_field_tag "customer_mobile", @customer.mobile, :class =>"form-control",  :readonly => "true" %>
  </div>
  <div class="col-xs-3">
    <%= text_field_tag "customer_alt_mobile", @customer.alt_mobile, :class =>"form-control", :placeholder => "alt mobile no" %>
  </div>
 
  <div class="col-xs-3">

      <%= text_field_tag "customer_emailid", @customer.emailid, :class =>"form-control", :placeholder => "email id"%>
  </div>
 
</div>


   <%= hidden_field_tag :customer_address_id, @customer_address.id %>
        
  <div class="row">
      
     <div class="col-xs-10"> 
       
        <%= f.text_field :address1, :label => "Customer Address",  :class =>"form-control", :maxlength=> "30", :placeholder => "Address Required", :required => true  %>
      </div>
  <div class="clearfix"></div>
     
     <div class="col-xs-10">
          <%= f.text_field :address2, hide_label: :true,  :class =>"form-control",:maxlength=> "30",  :placeholder => "Address", :required => true %>
      </div>
    <div class="clearfix"></div>
    
     <div class="col-xs-10">
        <%= f.text_field :address3, hide_label: :true,  :class =>"form-control",:maxlength=> "30",  :placeholder => "Address" %>
      </div>
   <div class="clearfix"></div>
  
 <div class="col-xs-8">
  
    <%= f.text_field :landmark, hide_label: :true, :maxlength=> "30",   :class =>"form-control", :placeholder => "Landmark" , :required => true %>
  </div>
   <div class="clearfix"></div>
  
 <div class="col-xs-6">
     
     <%= f.select(:state, 
    options_from_collection_for_select(State.all, :name, :name, selected: @customer_address.state), 
    {},:label => "Select State", :class => "form-control")  %>
  </div>
  
 <div class="col-xs-4">
    
    <%= f.text_field :city, :maxlength=> "30",  :label => "City",  :class =>"form-control", :placeholder => "City" , :required => true %>
  </div>
    <div class="col-xs-2">
      <%= f.text_field :pincode, :label => "Pincode", :maxlength=> "6",  :class =>"form-control", :placeholder => "Pincode" %>
  </div>
 </div>
 

  <div class="row">
 <div class="col-xs-4">
   
    <%= f.text_field :district, :maxlength=> "30",  :label => "District",  :class =>"form-control", :placeholder => "District"  %>
  </div>
  
  <div class="col-xs-4">
        <%= f.text_field :country, :maxlength=> "30",  :label => "Country",  :class =>"form-control", :placeholder => "Country", :value => "India" %>
  </div>
</div>
  <div class="row">
   
    <div class="col-xs-4">
      <%= f.text_field :telephone1, :maxlength=> "30",  :label => "Telephone",  :class =>"form-control", :placeholder => "Telephone", :required => true, :readonly => true%>
    </div>
    
    <div class="col-xs-4">
      <%= f.text_field :telephone2, :maxlength=> "30", :label => "Alt Telephone",  :class =>"form-control", :placeholder => "Telephone"  %>
    </div>
    
    <div class="col-xs-4">
      <%= f.text_field :fax, :maxlength=> "30",  :label => "Fax",  :class =>"form-control", :placeholder => "Fax"  %>
    </div>
  </div>

 
 
  <div class="row">
   <div class="col-xs-3 col-xs-offset-1">
  	   <%= link_to "Back and Add Products", neworder_path(:order_id => @order_id), class: "btn btn-info" %>
  	  </div>
  	  <div class="col-xs-3 col-xs-offset-4">
  	  	<%= f.submit "Save Address => Next", class: "btn btn-primary" %>
  	  </div>
    
  </div>
</div>
</div>
<% end %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Customer Order Summary</h3>
  </div>
  
    <%= render "ordered_non_edit" %>


    
<div class="panel-footer"><%= render "order_masters/order_footer" %></div>
</div>

<!-- bottom menu -->
  <%= render 'call_menu' %> 