<!-- channel list -->
<div class="row">
  <div class="col-xs-8">
    <%= render 'channellist' %> 
  </div>
  <div class="col-xs-4">
   <%= render 'dealer_menu' %> 
  </div>
</div>
<div class="well well-sm">
<%= render 'customerorder/promo_list' %>
</div>
<br>
      <div class="well">
          <div class="row">
              <div class="col-xs-12">
                <%= render 'add_products_single' %>
              </div>
          </div>
      </div>
<hr>
 <div class="clearfix"></div>         <br>

<div class="row">
  
        <div class="col-xs-8">
        

            

            <div class="row">
<div class="col-xs-12">
              <%= render 'product_master_add_ons/sale_list' %>
            </div>

            </div>
            <br>
            <div class="clearfix"></div>
              <%= render 'order_lines/orderlines' %>
            <div class="clearfix"></div>
            <div class="row">
              <%= render 'order_masters/order_footer' %>
            </div>
      
    <div class="clearfix"></div>
     <%= render 'btn_add_address' %> 
     <div class="clearfix"></div>
     
      </div>

        <div class="col-xs-4">
        <!-- bottom menu -->
         
        <!-- bottom menu -->
        <%= render 'training_script' %>
         <!-- panel end -->
        </div>  
</div>

<!-- bottom menu -->
  <%= render 'call_menu' %> 

