

<div class="row">
  
        <div class="col-xs-8">
         <div class="clearfix"></div>
         <div class="well">
          <div class="row">
              <div class="col-xs-12">
                <%= render 'add_products_text' %>
              </div>
          </div>
       
      <hr>
          
          <div class="row">
          <div class="col-xs-12">
                        <%= render 'add_products' %>
                      </div>

            </div>
            </div>
            <br>

            

            <div class="row">
<div class="col-xs-12">
              <%= render 'product_master_add_ons/sale_list' %>
            </div>

            </div>
            <br>
            <div class="clearfix"></div>
              <%= render 'order_lines/orderlines' %>
            <div class="clearfix"></div>
            <div class="row">
              <%= render 'order_masters/order_footer' %>
            </div>
      
    <div class="clearfix"></div>
     <%= render 'btn_add_address' %> 
     <div class="clearfix"></div>
     
      </div>

        <div class="col-xs-4">
        <!-- bottom menu -->
          <%= render 'dealer_menu' %> 
          <br>
        <!-- bottom menu -->
          <div class="panel panel-default">
              <div class="panel-heading">
              <h3 class="panel-title">
<div id="product-heading_id">Script</div>
              </h3>
              </div>
              <div  class="panel-body">
                    <%= render 'product_cost' %>
                  <div id="product-script">
                Script Details here
                  </div>
                  <hr>
<small>
                  <div id="product-script-id">
                
                  </div>
                  </small>
            </div>
          </div><!-- panel end -->
        </div>  
</div>

<!-- bottom menu -->
  <%= render 'call_menu' %> 