 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Customer Order Summary</h3>
  </div>
  <%= render "order_customer" %>
  <%= render "order_address" %>
  <%= render "ordered_non_edit" %>


    
<div class="panel-footer"><%= render "order_masters/order_footer" %></div>
</div>
  

<br>

       
     
        <div class="row">
  <div class="col-xs-3 col-xs-offset-1"><%= link_to 'Add / Remove Products', neworder_path(:order_id => @order_id), class: "btn btn-primary btn-sm" %> 
  </div>
  <div class="col-xs-2"> 
  <%= link_to 'Change Address', address_path(:order_id => @order_id), class: "btn btn-primary btn-sm" %>
  </div>
  <div class="col-xs-2">
  <%= link_to "Add Up Sell's", upsell_path(:order_id => @order_id), class: "btn btn-info btn-sm" %>
   </div>
  <div class="col-xs-2"> 
  <%= link_to 'Add Payments', payment_path(:order_id => @order_id), class: "btn btn-info btn-sm" %></div>

  <div class="col-xs-2"> 
  <%= link_to 'Change Chanel', channel_path(:order_id => @order_id), class: "btn btn-info btn-sm" %></div>




  
    
     <div class="clearfix"></div>
      </div><!-- left panel end -->
<br>
        
       <!-- show process buttons -->

        <div class="row">
          
          <% if @show_process == 0 %>
          <div class="col-xs-4 col-xs-offset-8"> 
              <%= bootstrap_form_for @order_master , url: processorder_path, method: :post do |f| %>
                <%= f.hidden_field :id %>
                <%= hidden_field_tag :order_id, @order_master.id %>
               <%= f.submit "Process Order", class: "btn btn-success btn-lg" %>
              <% end %>
             </div>

             <% else %>
             <div class="alert alert-danger" role="alert">Please resolve the problems before you can process the order!</div>
          <% end %>
         
        </div>


<!-- bottom menu -->
  <%= render 'call_menu' %> 
