<div class="clearfix"></div>
<blockquote>
  <p class="lead"> <strong><%= @order_message %> </strong>
  </p>
   <footer><%= @order_processed_next_steps %>   </footer>
</blockquote>

 <% @order_masters.each do |customer| %>
<div class="clearfix"></div>

     <div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">Customer Order Summary</h3>
  </div>
  <%= render "order_customer" %>

  <%= render "order_address" %>
    <%= render "ordered_all_non_edit" %>



    
<div class="panel-footer"><%= render "order_masters/order_footer" %></div>
</div>
  

<br>
<% end %>
<!-- bottom menu -->
  <%= render 'call_menu' %> 