<h1>Temporary page to acertain if the uploads were working fine! </h1>
<br>

<div class="well">
<p>It is important you select the file named: <%= @filename %> else the call would be rejected <%= @filedata %> <br>
Ext: <%= @ext %> <br>
Mobile: <%= @cli %> <br>
DNIS: <%= @dnis %> <br>
</p>
</div>
<br/>

