<%= bootstrap_form_for(@product_warehouse) do |f| %>
  <% if @product_warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_warehouse.errors.count, "error") %> prohibited this product_warehouse from being saved:</h2>

      <ul>
      <% @product_warehouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_name %><br>
    <%= f.text_field :location_name %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br>
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :address3 %><br>
    <%= f.text_field :address3 %>
  </div>
  <div class="field">
    <%= f.label :landmark %><br>
    <%= f.text_field :landmark %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :telephone1 %><br>
    <%= f.text_field :telephone1 %>
  </div>
  <div class="field">
    <%= f.label :telephone2 %><br>
    <%= f.text_field :telephone2 %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :emailid %><br>
    <%= f.text_field :emailid %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
   <div class="row">
    <div class="col-xs-2 col-xs-offset-6">
    <%= f.submit "Add", class: "btn btn-primary" %>
  </div>
  </div>
 
<% end %>
