<p id="notice"><%= notice %></p>

<p>
  <strong>Location name:</strong>
  <%= @product_warehouse.location_name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @product_warehouse.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @product_warehouse.address2 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @product_warehouse.address3 %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @product_warehouse.landmark %>
</p>

<p>
  <strong>City:</strong>
  <%= @product_warehouse.city %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @product_warehouse.pincode %>
</p>

<p>
  <strong>State:</strong>
  <%= @product_warehouse.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @product_warehouse.country %>
</p>

<p>
  <strong>Telephone1:</strong>
  <%= @product_warehouse.telephone1 %>
</p>

<p>
  <strong>Telephone2:</strong>
  <%= @product_warehouse.telephone2 %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @product_warehouse.fax %>
</p>

<p>
  <strong>Emailid:</strong>
  <%= @product_warehouse.emailid %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_warehouse.description %>
</p>

<%= link_to 'Edit', edit_product_warehouse_path(@product_warehouse) %> |
<%= link_to 'Back', product_warehouses_path %>
